#newPetModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='newPetModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#newPetModalLabel.modal-title Новая карточка питомца
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Закрыть
                button.btn.btn-primary(type='button') Отправить форму