// Modal
#signinModal.authModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='signinModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
            .auth-form
                .modal-header
                    .div
                        h5#signinModalLabel.modal-title Войти в личный кабинет
                        ul.auth-modal-toggle
                            li.auth-modal-toggle__item
                                a.auth-modal-toggle__link(href="javascript:void(0);" data-toggle="modal" data-target="#signupModal") Регистрация
                            li.auth-modal-toggle__item.active
                                a.auth-modal-toggle__link(href="javascript:void(0);" data-toggle="modal" data-target="#signinModal") Вход
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    .auth-form__item
                        label.auth-form__label(for="auth-form-email") Адрес вашей электронной почты
                        input.auth-form__input#auth-form-email(type="text" placeholder="Адрес вашей электронной почты")
                    .auth-form__item
                        label.auth-form__label(for="auth-form-password") Пароль
                        input.auth-form__input#auth-form-password(type="password" placeholder="Пароль")
                    .modal-footer
                        button.auth-form__button(type='button') Авторизоваться