.hr-line {
  color: white;
  background: white;
  padding: 0 20px;
}

.sidebar-title {
  color: $link-color;
  //background: rgba(56, 56, 56, 0.28);
  background: rgba(139, 139, 139, 0.23);
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: green;
}