.backend-form {
  width: 100%;
}

.backend-form__item {
  width: 100%;

  label {
    width: 100%;
    font-weight: bold;

    select {
      display: block;
      border: 1px #e3e3e3 solid;
      padding: 5px 10px;
      border-radius: 0.3em;
    }

    input:not([type=checkbox]) {
      width: 100%;
      display: block;
      border: 1px #e3e3e3 solid;
      padding: 5px 10px;
      border-radius: 0.3em;
    }
  }
}