* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  outline: 0;

  &:focus {
    outline: 0;
  }

}

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', serif;
  line-height: 1.6;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

textarea {
  resize: vertical;
}

.hide {
  display: none;
}

.backend-preloader {
  fill: deepskyblue;
}