.left-sidebar {
  width: 100%;

  &-container {
    width: 100%;

    //@media (max-width: 414px) {
    //
    //}
    @media (max-width: 414px) {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }

  &-react {
    float: left;
    width: 20%;
    background: $main-dark-color;

    @media (max-width: 414px) {
      width: 100%;
    }
  }
}

.button-toggle-sidebar {
  display: none;
  padding: 10px 0;
  outline: none !important;
  background: black;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;

  @media(max-width: 414px) {
    display: block;
  }
}