.month-stat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;

  @media (max-width: 414px) {
    flex-direction: column;
  }

  &__item {
    width: 24%;
    flex: 1 1 auto;
    margin: 5px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    border: 1px deepskyblue solid;
    border-radius: 15px;


    @media (max-width: 414px) {
      width: 100%;
      margin: 5px 0;
    }
  }
}