.statistic {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 414px) {
    flex-direction: column;
  }

  &-wrap {
    padding: 20px 10px;
    background: $light-grey-background;
  }

  &__item {
    box-shadow: $theme-box-shadow;
    background: white;
    //border: 1px #c6c6c6 solid;
    padding: 5px;
    margin: 5px;
    width: 24%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &[data-target] {
      cursor: pointer;

      &:hover {
        border-color: #0c5460;
      }
    }

    @media (max-width: 414px) {
      width: 100%;
    }
  }

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 20px 0;
    flex: 1 1 0;

    i {
      background: $theme-color;
      color: white;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      border: 2px solid transparent;
      transition: all 0.3s ease-in-out;
    }

    &[data-toggle="modal"] {
      &:hover {
        cursor: pointer;

        i {
          border: 2px solid #0090ff;
        }
      }
    }
  }

  &__content {
    flex: 2 1 0;
  }
}

.statistic-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.search-history {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__ip {
    width: 25%;
  }

  &__phrase {
    width: 40%;
  }

  &__count {
    width: 15%;
  }

  &__date {
    width: 20%;
  }
}

.statistic-action {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;

  &__item {
    margin: 0 5px;
    background: deepskyblue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}