.stock-out {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    border: 1px silver solid;
    padding-bottom: 10px;
    box-shadow: 0 1px 4px 0 rgba(50, 50, 50, 0.75);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__name {
    width: 100%;
    margin-bottom: 20px;
    background: $light-grey-background;
    padding: 10px;
    font-weight: bold;

    a {
      color: inherit;
    }
  }

  &__image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 40px;
  }

  &__price, &__price, &__count, &__purchase, &__summary {
    flex: 1;
  }

  &__price {
  }

  &__count {
  }

  &__purchase {
  }

  &__summary {
  }
}