* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  min-height: 100%;
  width: 100%;
}

.body-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hide {
  display: none;
}


.page-wrap {
  flex-shrink: 1;
  flex-grow: 1;
}

.page-content {
  padding: 0 10%;
}

.link-main {
  color: white;
  background: $active-color;
  text-decoration: none !important;
  text-transform: uppercase;
  display: inline-block;
  padding: 3%;
  font-size: 75%;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  &:hover {
    color: white;
    background: #d63b3b;
  }

  &.with-red-border {
    background: white;
    border: 3px $active-color solid;
    color: #313030;
    padding: 1.5% 2%;
  }

}

.learn-more {
  color: white;
  border: 2px solid white;
  text-decoration: none !important;
  text-transform: uppercase;
  display: inline-block;
  padding: 2%;
  font-size: 75%;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  &:hover {
    color: white;
    background: #d63b3b;
  }
}


.page {
  &__title-wrap {
    position: relative;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #494848;
    text-transform: uppercase;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 50%;
      height: 4%;
      background: $active-color;
      top: 50%;
      left: 25%;
    }
  }

}


.btn-main {
  padding: 25px 15px;
  font-weight: 900;
  font-size: 1.7vh;
  font-family: 'Montserrat', 'sans-serif';
  border: 0;
  display: inline-block;
}

.btn-gray {
  background: #d8d8d8;
}

.btn-color-main {
  background: $active-color;
  color: white;
}