.calc-placement {
  display: flex;
  flex-direction: row;
  max-width: 50%;

  &__from, &__to {
    width: 50%;
    padding: 5px;

    input {
      border: 1px solid silver;
      width: 100%;
      padding: 5px;
    }
  }

  &__location {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__choose {
    border-radius: 5px;
    border: 1px #dddddd solid;
    background-color: transparent;
    text-align: center;
    padding: 7px 10px;
    line-height: 1;
  }

  &__postal-code {
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
    border: 1px #dddddd solid;
  }
}