.now-order-delivery-dates {
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  &__item {
    font-size: 12px;
    text-transform: uppercase;
    color: silver;
    font-weight: bold;
    margin-right: 10px;

    a {
      color: inherit;
    }
  }
}