.form-finds {
  &__setup {
    border: 1px solid grey;
    display: inline-block;
    width: calc(1.5em + 0.75rem + 2px);
    height: calc(1.5em + 0.75rem + 2px);
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    line-height: 2;
    margin-left: 3px;
    transition: 0.3s all ease-in-out;

    &:hover {
      border-color: $theme-color;
    }
  }

  &__input {
    width: 100%;
    padding: 5px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
  }
}