.info-card {
  padding: 10px;
  margin: 10px;
  width: 100%;
  //box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  border: 2px silver solid;
  border-radius: 5px;

  display: flex;

  &-block {
    padding: 0 10px;

    &:not(:last-child) {
      border-right: 1px silver solid;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;

    &[data-toggle="modal"] {
      cursor: pointer;
    }
  }

  .text {
    text-transform: uppercase;
    font-size: 12px;
  }
}