.list-finds {
  margin-top: 10px;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    margin-bottom: 10px;
  }

  &__link {
    max-width: 40%;
    width: 100%;
    font-size: 12px;
    color: black;
  }

  &__setup {
    background: transparent;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 5px;
    margin-left: auto;
    outline: none !important;
  }

  &__image {
    max-width: 50px;
    object-fit: contain;
    margin-right: 15px;
  }

  &-data {
    max-width: 200px;
    font-size: 11px;
    text-transform: uppercase;
    padding-left: 5px;

    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    &__key {
      font-weight: bold;
      margin-right: 5px;
    }

    &__value {
    }
  }
}