.media-browser {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;

  &-card {
    &__image {
      margin: 10px;
      width: 70px;
      height: 70px;
      object-fit: cover;
      cursor: pointer;
      border: 1px silver solid;

      &:hover {
        border: 1px $theme-color solid;
      }

      &.active {
        border: 1px $theme-color solid;
      }
    }
  }
}