.order-items-list {
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    margin: 10px 0;
    padding: 10px;
    position: relative;

    &.isFull {
      &:after {
        font-weight: bold;
        content: "✓";
        width: 25px;
        height: 25px;
        line-height: 15px;
        text-align: center;
        padding: 5px;
        top: -5px;
        left: -5px;
        border-radius: 15px;
        position: absolute;
        background: #00b000;
        color: white;
        font-size: 15px;
      }
    }
  }

  &__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }

  &-info {
    font-size: 12px;
    text-transform: uppercase;

    &__name {
      color: black !important;
      font-weight: bold;

      a {
        color: inherit;
      }
    }
  }
}