.set-price {
  height: 70%;
  &-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    .form-element {
    }
  }

  &__input {
    width: 40px;
    text-align: center;
    height: 100%;
    padding: 0 5px;
    margin: 0 0 0 10px;
    border:1px silver solid;
  }
}