.statistic-summary {
  padding: 5px 0;
  &__item {
    line-height: 1.2;
    font-size: 12px;
    color: silver;
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: 5px;
    }
  }
}