.add-basket {
  padding: 5px 14px;
  margin: 0 30px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 20px;
  background: $active-color;
  color: $text-color;
  text-align: center;
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none !important;

  &:hover {
    color: $text-color;
  }

  img {
    filter: invert(99%) sepia(1%) saturate(2499%) hue-rotate(303deg) brightness(113%) contrast(100%);
  }

  &__icon {
    width: 15px;
    height: 14px;
    margin-right: 10px;
  }
}

.one-click-buy {
  margin: 0 30px;
  padding: 5px 14px;
  background: white;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  border: 1px $no-active-color solid;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;

  &:hover {
    color: inherit;
    //text-decoration: inherit;
  }
}

.btn-main {
  background: $active-color;
  padding: 5px 10px;
  border: 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;

  &:hover {
    background: $active-color-light;
  }
}