.btn-main {
  background: #ff1a4a;
  color: white;
  font-weight: bold;
  border: 0;
  outline: 0;
  padding: 1%;
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
  border-bottom: 5px solid #c21e0a;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;

  &.grey {
    background: white;
    color: black;
    border: 1px #e2e2e2 solid;
  }

  &:hover {
    color: #641303;
  }
}