@import url("https://fonts.googleapis.com/css?family=Roboto|Raleway+Bold");

* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}

a {
  outline: 0;

  &:focus {
    outline: 0;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Raleway-Bold", sans-serif !important;
}

textarea {
  resize: vertical;
}


.link-main {
  color: #ff1a4a;
  text-decoration: none !important;
  font-weight: bold;

  &:hover {
    color: #2d0c03;
  }
}

.pagination-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile-exit {
  margin: 2px 0;
}

.hide {
  display: none;
}