# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
.vagrant
*dump.html
*dump.txt
debug.php
backup
build
composer.lock
markup/build/
markup_experience/build/
node_modules
package-lock.json
application/web/*.xls
application/web/*.xlsx
application/web/index.php
application/web/cookie.txt
application/config/web.php
bash.exe.stackdump