.index-contacts {
  position: relative;

  &__background-mobile {
    display: none;
  }

  &__background {
    width: 100%;
    object-fit: contain;
  }

  &__wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 5% 0 10% 10%;
    display: flex;
    flex-direction: column;

    .page__title {
      &:after {
        width: 10%;
        left: 5%;
      }
    }
  }

  &__info {
    color: white;
    background: $active-color;
    width: 30%;
    font-family: 'ClearSans', 'sans-serif';
    font-size: 2.6vh;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 3% 3% 3% 2.5%;
    margin: 3% 0;
  }
}