.index-news {
  margin: 5% 0 0 0;
  position: relative;

  .page__title {
    color: white;

    &:after {
      width: 40%;
      left: 15%;
    }
  }

  &__wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5% 10% 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__background {
    width: 100%;
    object-fit: contain;
  }
}

.index-news-list {
  display: flex;
  flex-direction: row;
  color: white;
  list-style: none;
  padding: 0;
  margin: 5% 0;

  &__item {
    width: 33%;
    padding: 0 10% 0 0;
  }

  &__title {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 1.7vh;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: normal;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__preview {
    margin-top: 10%;
    font-family: 'ClearSans', 'sans-serif';
    font-size: 2.7vh;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;

    a {
      color: inherit;
    }
  }
}