.production {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.production-wrap {
  padding-top: 5%;
  width: 80%;

  .page__title {
    color: #e4e4e4;

    &::after {
      width: 15%;
      right: 0;
      left: 5%;
    }
  }
}

.production-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #313030;
    padding: 2% 0 1% 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.production-slider {
  width: 50%;
  position: relative;

  &__control {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .carousel-indicators {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;

    }
  }

  &__element {
    margin: 0 3%;
    cursor: pointer;
  }

  &__image {
    width: 100%;
  }
}


.production-properties {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 5% 0 0;

  &__wrap {
    width: 50%;

    &.reverse {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &.reverse {
    padding: 0 0 0 5%;
  }

  margin: 0;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      border-bottom: 2px #d8d8d8 dashed;
    }
  }

  &__key {
    font-family: 'ClearSans';
    font-size: 1.5vh;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.43;
    letter-spacing: normal;
    color: #313030;
    margin: 0;
    padding: 0;
  }

  &__value {
    font-family: 'ClearSans';
    font-size: 1.8vh;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.67;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    margin: 0;
    padding: 0;

    .link-main {
      padding: 20%;
      margin: 15% 0 0 -30%;
    }
  }

  &__price {
    font-size: 7vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #313030;

  }

}

.dot {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;

  &.active, &:hover {
    background-color: #f14141;
  }
}
