.catalog-control {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.pre-load-catalog-wrap {
  margin: 15px 0;
}

.pre-load-catalog {
  width: 500px;
  border: 1px #e3e3e3 solid;
  padding: 3px 5px;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}