.block-info-wrap {
  width: 100%;
}

.block-info__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
}

.block-info__item {
  width: 25%;
  height: 180px;
  display: flex;
  flex-direction: column;
  border: 1px #e3e3e3 solid;
  margin: 5px;
}

.item-wrap {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.block-info__icon {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  i {
    background: deepskyblue;
    color: white;
    padding: 25px;
    border-radius: 50%;
    font-size: 35px;
  }
}

.block-info__content {
  width: 50%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic__list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.statistic__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &:not(:last-child) {
    border-bottom: 1px #e3e3e3 solid;
  }
}

.block-info__summary {
  flex: 0 0 auto;
  background: #e3e3e3;
  color: grey;
  padding: 5px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

.search-info {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.search-info__item {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
  border: 0;
  padding: 5px;

  div {
    padding: 5px;
  }

  &:not(:last-child) {
    border-bottom: 1px #e3e3e3 solid;
  }
}

.search-info__item-date, .search-info__item-user, .search-info__item-ip, .search-info__item-query {
  width: 25%;
  padding: 5px;
  text-align: center;

  &:not(:last-child) {
    border-right: 1px #e3e3e3 solid;
  }
}

.todo-wrap {
  margin: 25px 0;
}

.todo__title {
  font-size: 22px;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.todo-list__item {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  text-align: center;

  div {
    width: 25%;

  }
}

.todo-list__item.header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
