.order-detail {
  transition: background-color 0.3s ease-out;

  background-color: white;
  color: $active-color;
  border: 1px $active-color solid;
  padding: 10px;
  text-align: center;
  display: block;
  margin: auto;
  max-width: 250px;

  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 4px;

  &:hover {
    color: white;
    background-color: $active-color;
  }
}