footer.footer.page-container
    .footer-layer-1
        .footer-layer-1-left
            .footer__logo kotofey.store
            ul.footer-contact
                li.footer-contact__item
                    a(href="javascript:void(0);" data-toggle='modal' data-target="#yandex-map-modal").footer-contact__link.address Баранул ул.Северо-Западная, 6Б <img src="./assets/images/gps.png">
                li.footer-contact__item
                    a(href="javascript:void(0);").footer-contact__link info@kotofey.store
                li.footer-contact__item
                    a(href="javascript:void(0);").phone.footer-contact__link 8 800 888-88-66
            ul.footer-nav
                li.footer-nav__item
                    a(href="javascript:void(0);").footer-nav__link О компании
                li.footer-nav__item
                    a(href="javascript:void(0);").footer-nav__link Акции
                li.footer-nav__item
                    a(href="javascript:void(0);").footer-nav__link Доставка и оплата
                li.footer-nav__item
                    a(href="javascript:void(0);").footer-nav__link Контакты
        .footer-layer-1-right
            .footer-categories-container
                .footer__title Каталог зоотоваров
                ul.footer-categories
                    li.footer-categories__item
                        a(href="javascript:void(0);").footer-categories__link Кирпичи
                    li.footer-categories__item
                        a(href="javascript:void(0);").footer-categories__link Блоки
                    li.footer-categories__item
                        a(href="javascript:void(0);").footer-categories__link Утеплитель
                    li.footer-categories__item
                        a(href="javascript:void(0);").footer-categories__link Потолки
                    li.footer-categories__item
                        a(href="javascript:void(0);").footer-categories__link Геотекстиль
                    li.footer-categories__item
                        a(href="javascript:void(0);").footer-categories__link Профнастил
            div(style='margin: auto auto;')
                include block/subscribe
                include block/social
    .footer-layer-2
        .requesites
            .requesites__item © ИП Васин К.В. Зоомагазин Котофей, ОГРН 3333333333
            .requesites__item Разработка сайта — <a href="javascript:void(0);">Adelfo</a> <img src="./assets/images/who_dev.png">
include block/fast-cart