footer.footer.page-container
    .footer-layer-1
        .footer-col
            .footer__logo kotofey.store
            .footer__description Интернет-магазин зоотоваров
            ul.footer-contact
                li.footer-contact__item
                    a(href="javascript:void(0);" data-toggle='modal' data-target="#yandex-map-modal").footer-contact__link.address Баранул ул.Северо-Западная, 6Б <img src="./assets/images/gps.png">
                li.footer-contact__item
                    a(href="javascript:void(0);").footer-contact__link info@kotofey.store
                li.footer-contact__item
                    a(href="javascript:void(0);").phone.footer-contact__link 8 800 888-88-66
            ul.footer-nav
                li.footer-nav__item
                    a(href="javascript:void(0);").footer-nav__link О компании
                li.footer-nav__item
                    a(href="javascript:void(0);").footer-nav__link Акции
                li.footer-nav__item
                    a(href="javascript:void(0);").footer-nav__link Доставка и оплата
                li.footer-nav__item
                    a(href="javascript:void(0);").footer-nav__link Контакты
            ul.footer-payment-vairiant
                li.footer-payment-vairiant__item
                    img(src="./assets/images/payments/logo-visa.png")
                li.footer-payment-vairiant__item
                    img(src="./assets/images/payments/logo-mastercard.png")
                li.footer-payment-vairiant__item
                    img(src="./assets/images/payments/logo-mir.png")
                li.footer-payment-vairiant__item
                    img(src="./assets/images/payments/jcb.png")
        .footer-col
            .footer-categories-container
                .footer__title Каталог зоотоваров
                .row
                    .col-6
                        ul.footer-categories
                            li.footer-categories__item.is-parent
                                a(href="javascript:void(0);").footer-categories__link Для кошек
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Сухой корм
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Влажный корм
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Наполнители
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Игрушки
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Вет.препараты
                    .col-6
                        ul.footer-categories
                            li.footer-categories__item.is-parent
                                a(href="javascript:void(0);").footer-categories__link Для собак
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Сухой кокрм
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Влажный корм
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Наполнители
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Игрушки
                            li.footer-categories__item
                                a(href="javascript:void(0);").footer-categories__link Вет.препараты
        .footer-col
            div(style='margin: auto auto;')
                .footer-logo
                    img(src="./assets/images/logo.png")
                ul.footer-categories
                    li.footer-categories__item.is-parent
                        a(href="javascript:void(0);").footer-categories__link Для грызунов
                    li.footer-categories__item.is-parent
                        a(href="javascript:void(0);").footer-categories__link Для птиц
                    li.footer-categories__item.is-parent
                        a(href="javascript:void(0);").footer-categories__link Для рыбок
                include block/subscribe
                include block/social
    .footer-layer-2
        .requesites
            .requesites__item © ИП Васин К.В. Зоомагазин Котофей, ОГРН 3333333333
            .requesites__item Разработка сайта — <a href="javascript:void(0);">Adelfo</a> <img src="./assets/images/who_dev.png">
        .footer-docs
            .footer-docs__item
                a.footer-docs__link(href="#") Обработка персональных данных
            .footer-docs__item
                a.footer-docs__link(href="#") Политика конфидициальности
            .footer-docs__item
                a.footer-docs__link(href="#") Условия вовзара товара
            .footer-docs__item
                a.footer-docs__link(href="#") Соглашение с cookies
include block/fast-cart