footer.footer.page-container
    .footer-layer-1
        .footer__col
            .footer-title KOTOFEY.STORE
            .footer-phone 89967026637
            .footer-address г.Барнаул, ул. Северо-Западная, 6Б
            .footer-email info@kotofey.store
        .footer__col
            ul.footer-menu
                li.footer-menu__item
                    a(href="#").footer-menu__link Кошкам
                li.footer-menu__item
                    a(href="#").footer-menu__link Сухой корм для кошек
                li.footer-menu__item
                    a(href="#").footer-menu__link Аксессуары
                li.footer-menu__item
                    a(href="#").footer-menu__link Наполнитель
            ul.footer-menu
                li.footer-menu__item
                    a(href="#").footer-menu__link Собакам
                li.footer-menu__item
                    a(href="#").footer-menu__link Сухой корм для собак
                li.footer-menu__item
                    a(href="#").footer-menu__link Влажный корм для собак
                li.footer-menu__item
                    a(href="#").footer-menu__link Игрушки
        .footer__col
            ul.footer-menu
                li.footer-menu__item
                    a(href="#").footer-menu__link Для птиц
            ul.footer-menu
                li.footer-menu__item
                    a(href="#").footer-menu__link Для грызунов
            ul.footer-menu
                li.footer-menu__item
                    a(href="#").footer-menu__link Для рыбок
            include block/subscribe
            include block/social
    .footer-layer-2
        .requesites
            .requesites__item © ИП Васин К.В. Зоомагазин Котофей, ОГРН 3333333333
            .requesites__item Разработка сайта — <a href="javascript:void(0);">Adelfo</a> <img src="./assets/images/who_dev.png">
include block/fast-cart