footer.footer.page-container
    .footer-layer-1
        .footer__col
            .footer-title KOTOFEY.STORE
            .footer-phone 89967026637
            .footer-address г.Барнаул, ул. Северо-Западная, 6Б
        .footer__col

        .footer__col
    .footer-layer-2
        .requesites
            .requesites__item © ИП Васин К.В. Зоомагазин Котофей, ОГРН 3333333333
            .requesites__item Разработка сайта — <a href="javascript:void(0);">Adelfo</a> <img src="./assets/images/who_dev.png">
include block/fast-cart