header.header.page-container
    .logo
        img(src="./assets/images/logo.png").logo__image
        a(href="javascript:void(0);").logo__link
            .logo__title kotofey.store
            .logo__sub-title интернет-зоомагазин
            .logo__city В Барнауле
    .phone
        img(src="./assets/images/phone.png").phone__icon
        .wh-group
            a(href="tel: 8 800 888-88-66") 8 800 888-88-66
            a(href="#").wh-group-link
                img(src="./assets/images/whatsapp32x32.png" width="24px").wh-group-icon
    .header-menu-mobile
        .phone
            img(src="./assets/images/phone.png").phone__icon
            a(href="tel: 8 800 888-88-66") 8 800 888-88-66
        ul.header-menu
            li.header-menu__item
                a(href="javascript:void(0);").header-menu__link О компании
            li.header-menu__item
                a(href="javascript:void(0);").header-menu__link Доставка и оплата
            li.header-menu__item
                a(href="javascript:void(0);").header-menu__link.js-show-panel Контакты
header.header-mobile
    .js-search-form.mobile-search
        form.mobile-search-form
            button(type="button").mobile-search-form__close.mobile-search-form__control.js-search-toggle
                i.fas.fa-times
            input.mobile-search-form__input(type="text" placeholder="Найти товар")
            button(type="submit").mobile-search-form__submit.mobile-search-form__control Найти
        .mobile-last-queries-container
            h5.mobile-search-title Последние запросы
            .mobile-last-queries
                a(href="#").mobile-last-queries__link фытвлыфтв
                a(href="#").mobile-last-queries__link фытвлыфтвыфзвтфзшывтзшф ыт
                a(href="#").mobile-last-queries__link фыьвзфы зщвьфзщы
                a(href="#").mobile-last-queries__link 912вь-1вь2
    .header-mobile-container
        div.header-mobile__hamburger
            img(src="./assets/images/hamburger.svg")
        div.header-mobile__logoheader-menu
            a(href="javascript:void(0);").header-mobile__link kotofey.store
        .header-mobile__search.js-search-toggle
            img(src="./assets/images/search.png")
        .header-mobile__basket
            .counter 3
            img(src="./assets/images/basket.png")
        .header-mobile__call
            a(href="tel:88005553535")
                img(src="./assets/images/phone.png")

    .header-mobile-full.active
        .header-mobile-full__group
            .header-mobile-full__title Каталог
            .header-mobile-full__switch
                img(src="./assets/images/arrow-top.svg")
        ul.full-mobile-menu
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Кирпичи
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Блоки
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Утеплитель
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Потолки
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Геотекстиль
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Профнастил
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Водостоки
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Сухие смеси
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Инструменты
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Щебень
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Сайдинг
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Поликорбонат
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Керамзит
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Профнастил
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Кирпичи
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Блоки
            li.full-mobile-menu__item
                a(href="javascript:void(0);").full-mobile-menu__link Утеплитель
        ul.full-mobile-nav
            li.full-mobile-nav__item
                a(href="javascript:void(0);").full-mobile-nav__link О компании
            li.full-mobile-nav__item
                a(href="javascript:void(0);").full-mobile-nav__link Акции
            li.full-mobile-nav__item
                a(href="javascript:void(0);").full-mobile-nav__link Доставка и оплата
            li.full-mobile-nav__item
                a(href="javascript:void(0);").full-mobile-nav__link Контакты
        .header-mobile-full__footer
            ul.header-mobile-full-footer-menu
                li.header-mobile-full-footer-menu__item
                    a(href="javascript:void(0);").header-mobile-full-footer-menu__link
                        .header-mobile-full-footer-menu__icon
                            img(src="./assets/images/lock-white.png")
                        .header-mobile-full-footer-menu__label Личный кабинет
                li.header-mobile-full-footer-menu__item
                    a(href="javascript:void(0);").header-mobile-full-footer-menu__link
                        .header-mobile-full-footer-menu__icon
                            .counter 3
                            img(src="./assets/images/basket-white.svg")
                        .header-mobile-full-footer-menu__label Корзина заказа
.menu-wrapper
    .menu.page-container
        .menu__item.hamburger.js-hamburger
            img(src="./assets/images/hamburger.svg").hamburger__icon
        .menu__item
            a(href="javascript:void(0);").menu__link Каталог
        .menu__item
            a(href="javascript:void(0);").menu__link Скидки и акции
        .menu__item
            .search-react
        .menu__item
            a.menu__link.profile(href="javascript:void(0);" data-toggle="modal" data-target="#signinModal")
                div
                    img(src="./assets/images/lock.png").profile__icon
                    span Личный кабинет
                .header-dropdown-menu
                    .header-dropdown-menu__item
                        a(href="#").header-dropdown-menu__link Заказы
                    .header-dropdown-menu__item
                        a(href="#").header-dropdown-menu__link Настройки
                    .header-dropdown-menu__item
                        a(href="#").header-dropdown-menu__link Избранное
                    .header-dropdown-menu__item
                        a(href="#").header-dropdown-menu__link Питомцы
        .menu__item
            a(href="javascript:void(0);").menu__link.basket
                img(src="./assets/images/basket.png").basket__icon
                .basket__counter
                    span 3
    .menu-full.js-show-with-hamburger
        .block-menu
            .block-menu__title Кирпичи
            ul.block-menu-list
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Бетонные
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Литые
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Шлакоблок
        .block-menu
            .block-menu__title Кирпичи
            ul.block-menu-list
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Бетонные
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Литые
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Шлакоблок
        .block-menu
            .block-menu__title Кирпичи
            ul.block-menu-list
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Бетонные
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Литые
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Шлакоблок
        .block-menu
            .block-menu__title Кирпичи
            ul.block-menu-list
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Бетонные
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Литые
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Шлакоблок
        .block-menu
            .block-menu__title Кирпичи
            ul.block-menu-list
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Бетонные
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Литые
                li.block-menu-list__item
                    a(href="/").block-menu-list__link Шлакоблок