extends include/layer
include mixins/renderProduct

block contents
    table(style="max-width:600px; width:100%; display:block; margin:auto; font-size:18px; line-height:24px; text-align:left;" border=0 cellpadding="0" cellspacing="0")
        tbody(style="display:block; width:100%;")
            tr(style="margin-bottom:40px; display:block; width:100%; text-align:center;")
                td(style="display:block; width:100%; ") Ваш заказ №#ORDER_ID# успешно завершен.
            tr(style="margin-bottom:40px;display:block; width:100%; ")
                td(style="display:block; width:100%; ")
                    span(style="display:block; margin:20px auto; background:#ff1a4a; color:white;font-size:22px;text-align:center;width:130px;font-weight:bold;padding:10px;border-radius:10px;") +#AMOUNT#
            tr(style="margin-bottom:20px; display:block;")
                td Вам начислено #AMOUNT# за покупку. Воспользуйтесь ими при следующей покупке и спишите до 20% суммы заказа.
            | #ROYAL_HTML#