extends include/layer_unsubscribe

block contents
    table(style="max-width:600px; width:100%; display:block; margin:auto; font-size:16px;" border=0 cellpadding="0" cellspacing="0")
        tbody(style="display:block; width:100%;")
            tr
                td(style="text-align:center; font-weight:bold; color: #ff1a4a; font-size:24px; padding-bottom:20px; ") Июнь - товары со скидкой в этом месяце
            tr
                td(style="text-align:justify;") Дорогой покупатель, заметили, что вы больше не совершаете покупки в нашем интернет-зоомагазине Котофей. В связи с этим мы готовы предоставить вам скидку в виде промокода, чтобы вам было еще приятней совершать покупки.
            tr
                td(style="text-align:justify;") Промокод со скидкой указан ниже. Вы сможете воспользоваться им во время оформления заказа. В случае, если не будет поля для указани промокода, вы сможете предъявить его курьеру и сумма заказа будет пересчитана.
    table(style="max-width:600px; width:100%; display:block; margin:20px auto auto auto; font-size:16px;" border=0 cellpadding="0" cellspacing="0")
        tbody(style="display:block; width:100%; margin-bottom:15px;")
            tr
                td(style="font-weight:bold;") Промокод на покупку #PROMOCODE# - #DISCOUNT#