extends include/layer

block contents
    div Ваш заказ №#ORDER_ID# полностью собран и готов к доставке. Вы так же можете забрать его самостоятельно в нашем пункте выдаче по адресу #STORE_ADDRESS# с #STORE_TIME#.
    div Доставка заказа будует #DELIVERY_DATE# время #DELIVERY_TIME#
    div Спасибо за покупку!
    a.order-detail(href="#ORDER_LINK#") Открыть заказ на сайте