table(style='margin:0; padding:0' width='100%' cellspacing='0' cellpadding='0' border='0')
    tbody
        tr
            td
                center(style='max-width: 600px; width: 100%;')
                    table(style='margin:0; padding:0' width='100%' cellspacing='0' cellpadding='0' border='0')
                        tbody
                            tr
                                td
                                    span(style='display:inline-block; width:300px;')
                                        | Контент блока
                                    span(style='display:inline-block; width:300px;')
                                        | Контент блока
