@import "modules/init";
@import "include/variables";
@import "include/buttons";
@import "include/common";
@import "include/fonts";
@import "include/forms";
@import "include/block/logo";
@import "include/block/header";
@import "include/block/header-mobile-full";
@import "include/block/header-menu";
@import "include/block/header-dropdown-menu";
@import "include/block/menu";
@import "include/block/phone";
@import "include/block/basket";
@import "include/block/search-form";
@import "include/block/list-variants";
@import "include/block/product-control";
@import "include/block/subscribe";
@import "include/block/mobile-search";
@import "include/block/mobile-last-queries";
// custom
@import "include/block/admin-panel";
@import "include/block/page-title";
@import "include/block/404";
@import "include/block/notify";
@import "include/block/select/checkout-select";
// главная страница
@import "include/block/auth";
@import "include/block/slider";
@import "include/block/slider-category";
@import "include/block/vitrine";
@import "include/block/light-properties";
@import "include/block/profit";
@import "include/block/brands";
@import "include/block/instagram";
@import "include/block/index-about";
@import "include/block/mini-slider";
@import "include/block/gruming";
@import "include/block/last-news";
// детальная карточка товара
@import "include/block/product-detail";
@import "include/block/product-blocks";
@import "include/block/product-bonus";
@import "include/block/product-detail-gallery";
@import "include/block/product-calc";
@import "include/block/breadcrumbs";
@import "include/block/product-properties";
@import "include/block/product-tabs";
@import "include/block/in-stock-detail-product";
@import "include/block/recommended-products";
@import "include/block/product-status";
@import "include/block/steam-slider";
@import "include/block/product-reviews";
// футер
@import "include/block/footer";
@import "include/block/footer-payment-vairiant";
@import "include/block/footer-contact";
@import "include/block/footer-nav";
@import "include/block/footer-categories";
@import "include/block/requesites";
@import "include/block/social-me";
@import "include/block/footer-docs";
// Быстрая корзина
@import "include/block/fast-cart";
// Стрелка вверх
@import "include/block/arrowup";
@import "include/block/wh-group";
// личный кабинет
@import "include/block/profile";
@import "include/block/order-list";
@import "include/block/profile-order-info";
@import "include/block/profile-sections";
@import "include/block/profile-orders";
@import "include/block/profile-order-products";
@import "include/block/profile-favorite-list";
@import "include/block/gifts";
@import "include/block/profile-pet";
@import "include/block/pet-list";
@import "include/block/bonus-history-table";
@import "include/block/profile-billing";
// Контактная информация
@import "include/block/contacts-map";
// Корзина
@import "include/block/basket-list";
@import "include/block/basket-properties";
// Доставка и оплата
@import "include/block/form-calc-delivery";
@import "include/block/payment-cards";
// О нас
@import "include/block/about";
@import "include/block/light-statistic";
@import "include/block/sertificate";
// О нас
@import "include/block/about-statistic";
@import "include/block/feedback";
@import "include/block/feedback-list";
// Оформление заказа
@import "include/block/checkout-form";
@import "include/block/checkout-success";
@import "include/block/checkout-summary";
@import "include/block/checkout-form-variants";
@import "include/block/checkout-reglament";
@import "include/block/light-checkout-list";
@import "include/block/checkout-address";
// Акции
@import "include/block/action-list";
@import "include/block/detail-action";
//Бренд страница
@import "include/page/brandpage";
// Каталог - Категории
@import "include/block/pagination";
@import "include/block/filter-catalog";
@import "include/block/catalog-categories";
@import "include/block/aside-sub-categories";
// Каталог
@import "include/block/catalog";
@import "include/block/catalog-line";
@import "include/block/catalog-sort";
@import "include/block/catalog-actions";
@import "include/block/stick-filter";
@import "include/block/type-display";
// список новостей
@import "include/block/news-list";
@import "include/block/news-summary";
@import "include/block/news-detail";
// Акции и скидки
@import "include/block/promotion-list";
//Вакансии
@import "include/block/vacancy-list";
// Карта в футере
@import "include/block/footer-map";
// облако тегов
@import "include/block/search-fast-button";
// Панель помощи
@import "include/block/help-panel";
// купить в 1 клик
@import "include/block/buy-one-click";
// статистика страницы
@import "include/block/page-info";
// рейтинг
@import "include/block/rating-stars";
// отслеживание закзаа
@import "include/block/order-tracking";
// Уведомить при поступлении
@import "include/block/form-admission";
// Уведомить при поступлении
@import "include/block/user-admission";
// промоакции с этим товаром
@import "include/block/product-promotions";
// блок текущие акции
@import "include/block/current-promotions";
// список контактов
@import "include/block/contact-list";
// подбор корма
@import "include/block/eat-calculator";
// сравнение товаров
@import "include/block/compare-list";


.product-gallery-big {
  width: 400px;
  overflow: hidden;
  margin-bottom: 20px;

  &__slide {
    img {
      object-fit: contain;
      //height: 100px;
      width: 100%;
    }
  }

  @media (max-width: 450px) {
    width: 100%;
  }
}

.product-gallery-thumbs {
  width: 100%;
  //height: 150px;
  overflow: hidden;

  &__slide {
    img {
      object-fit: contain;
      height: 100px;
    }
  }
}