.aside-sub-categories {
  width: 100%;
  background: $main-color;
  padding: 20px 20px;
  border-radius: 10px;

  //@media (min-width: 790px) {
  //  display: none;
  //}

  &__item {
    color: $text-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    transition: color 200ms;

    &.active, &:hover {
      color: $active-color;
    }
  }

  &__link {
    transition: color 200ms;
    color: inherit !important;
  }
}