.basket {
  position: relative;

  &__icon {
    //filter: invert(99%) sepia(1%) saturate(2499%) hue-rotate(303deg) brightness(113%) contrast(100%);
  }

  &__counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 10px;
    line-height: 18px;
    width: 18px;
    font-weight: 700;

    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    color: $main-color;
  }
}

.basket-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px 0;

  @media (max-width: 790px) {
    flex-direction: column;
  }

  &__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__link {
    margin: 0;

    &.one-click-buy {
      margin-right: 15px;
    }
  }

  &__amount {
    font-weight: 700;
    font-size: 56px;
    line-height: 24px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: 790px) {
      line-height: normal;
    }
  }

  &__value {
    margin-left: 10px;
    font-size: 24px;
    line-height: 12px;

    @media (max-width: 790px) {
      line-height: normal;
    }
  }
}