.brand-slider {
  height: 300px;
  margin: 15px 0;
  position: relative;

  &-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &-control {
    color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 9999;
    position: absolute;
    top: 40%;
    border: 1px $no-active-color solid;
    background: white;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.brand-slider-button-prev {
      left: -10px;
    }

    &.brand-slider-button-next {
      right: -10px;
    }

    @media (max-width: 790px) {
      top: auto;
      bottom: 0;

      &.brand-slider-button-prev {
        left: 38%;
      }

      &.brand-slider-button-next {
        right: 38%;
      }
    }
  }

  &-slide {
    height: calc((100% - 30px) / 2);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    img {
      object-fit: contain;
    }
  }
}
