.breed-list {
  display: flex;
  flex-direction: column;

  &-item {
    border: 1px $eat-calculator-border-color solid;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &__name {
      height: 100%;
      padding: 5px;
    }

    .filter-catalog-checkboxes__item {
      width: auto;
      height: 100%;
      display: block;
      margin: auto 10px auto 0;
      cursor: pointer;

      label {
        margin: 0;
      }
    }
  }
}