.breed-list {
  display: flex;
  flex-direction: column;

  &-item {
    border: 1px silver solid;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &__name {
      height: 100%;
      padding: 5px;
    }

    &-select {
      height: 100%;
      display: block;
      margin: auto 10px auto 0;
      cursor: pointer;


      &__marker {
        width: 15px;
        height: 15px;
        border: 1px silver solid;
        display: block;

        &:hover {
          border-color: $whatsapp-green;
        }
      }

      input {
        display: none;

        &:checked {
          & ~ .breed-list-item-select__marker {
            border-color: $whatsapp-green;
          }
        }
      }
    }
  }
}