.checkout-delivery-service {
  display: flex;
  flex-direction: row;
  align-items: center;


  &-item {
    cursor: pointer;
    border: 1px silver solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &__mark {
      display: none;
      position: absolute;
      top: -5px;
      right: 0;
      font-size: 28px;
      color: $whatsapp-green;
    }

    &__input {
      display: none;

      &:checked {
        ~ .checkout-delivery-service-item__mark {
          display: block;
        }
      }
    }

    &__icon {
      max-width: 120px;
      height: 70px;
      object-fit: contain;
    }

    &__name {
      margin-top: 10px;
      text-align: center;
      font-weight: bold;
    }
  }
}