.footer-categories {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;

  &__item {
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    color: $text-color;

    &.is-parent {
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;

      @media (max-width: 450px) {
        font-size: 15px;
        line-height: 35px;
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }
  }
}