.news-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
  width: 100%;

  @media (max-width: 450px) {
    flex-direction: column;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__key {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    padding: 5px;
  }

  &__value {
    padding: 5px;
  }
}