.phone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 700;

  @media (max-width: 1155px) {
    display: none;
  }

  &__icon {
    width: 21px;
    height: 21px;
    object-fit: contain;
    margin-right: 15px;
  }

  a {
    color: black;
  }
}