.profile-pet {
  &__add {
    margin-left: 15px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    border: 1px rgba(0, 0, 0, 0.21) solid;
    outline: none !important;

    @media (max-width: 450px) {
      margin: 10px 0 !important;
    }
  }
}

.select-pet {
  #pets-animal_id {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
  }

  &__item {
    margin: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      display: none;

      &:checked {
        & ~ .select-pet__icon {
          border-color: $active-color;
        }

        & ~ .select-pet__image {
          border-color: $active-color;
        }
      }
    }
  }

  &__image {
    cursor: pointer;
    display: block;
    height: 100px;
    object-fit: contain;
    border: 1px #c6c6c6 solid;

    &:hover {
      border-color: $active-color;
    }
  }

  &__icon {
    cursor: pointer;
    padding: 40px;
    border: 1px rgba(0, 0, 0, 0.08) solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transition: all 0.22s ease;

    &:hover {
      border-color: $active-color;
    }
  }

  &__note {
    text-align: center;
  }
}

label[for="site-form-pet-avatar"] {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
  border-radius: 50%;

  &.noUpload {
    background: url("../../assets/images/upload-photo.png");
    background-size: 80%;
    background-position: 90% 55%;
    background-repeat: no-repeat;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    cursor: pointer;

    ~ .form-group {
      display: none;
    }
  }

  & ~ .site-form__item {
    input[type='file'] {
      display: none;
    }
  }
}
