#proflieTabs {
  border: 0;
  margin-left: -10px;
}

.profile-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    width: 100px;
    height: 100px;
    border: $main-color 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    color: $main-color;
    text-decoration: none;
    border-radius: 10px;

    &.active{
      border: 1px $active-color solid;
      color: $active-color;
    }

    i {
      transition: all 0.2s ease-in-out;
      font-size: 40px;
    }

    &:hover {
      border-color: $active-color;
      text-decoration: none;

      i {
        color: $active-color;
      }
    }
  }

  &__title {
    margin: 15px 0 5px 0;
    font-size: 8px;
    color: #c6c6c6;
    text-transform: uppercase;
    font-weight: bold;
  }

  &-wrap {
    width: 25%;
    @media (max-width: 768px) {
      width: 100%;
      flex-direction: row;
    }
  }
}