.recommended-products {
  margin-top: 40px;

  @media (max-width: 450px) {
    .catalog-line__item {
      flex-wrap: wrap;
    }
    .catalog-line__name {
      max-width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}