.requesites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 25px;
  font-size: 14px;
  font-weight: 400;
  color: black;

  @media (max-width: 790px) {
    flex-direction: column;
  }

  &__item {
    @media (max-width: 790px) {
      margin: 10px 0;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  img {
    margin-left: 10px;
  }
}