.steam-slider {
  &-container {
  }

  &-wrapper {
  }

  &-slide {
    display: flex;
    flex-direction: row;

    &__side {
      flex: 0 0 50%;
      //border: 1px red solid;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &__image {
      max-height: 250px;
      width: 100%;
      object-fit: contain;
    }
  }

  &-card {
    &__title {
      padding: 10px;
      @extend .page-title;
    }

    &__description {
      padding: 10px;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;

    &__item {
      width: 50%;
      padding: 10px;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}