.steam-slider {
  &-container {
  }

  &-wrapper {
  }

  &-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
      //width: 140px;
    }

    &__side {
      flex: 0 0 50%;
      width: 50%;
    }
  }
}

.steam-slider-top {
  &-container {
    .swiper-slide {
      width: 100%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  &-wrapper {
  }
}

.steam-slider-thumbs {
  &-container {
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &-slide {
    cursor: pointer;
    width: 50% !important;
    //border: 1px red solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &.swiper-slide-thumb-active {
      img {
        border: 1px $active-color solid;
      }
    }

    img {
      width: 40%;
      object-fit: contain;
    }
  }

  &__title {
    padding: 15px;
  }

  &__price-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  &__price {
    font-size: 35px;
    font-weight: bold;
  }

  &__description {
    margin: 25px 0;
    background: rgba(0, 0, 0, 0.01);
    padding: 10px;
  }

  &-reviews {
    &__item {
    }

    &__author {
    }
  }
}