.wh-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-link {
    line-height: 0;
  }

  &-icon {
    width: 24px;
    object-fit: contain;
    margin-left: 5px;
  }
}


.c8800-group {
  .note {
    color: silver;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }
}