@charset "UTF-8";

@import "include/borders";
@import "include/colors";
@import "include/general";
@import "include/buttons";
@import "include/notify";
@import "include/block/admin-panel";
@import "include/block/up-header-menu";
@import "include/block/header";
@import "include/block/menu";
@import "include/block/breadcrumb";
@import "include/block/advantages";
@import "include/block/select-city";
@import "include/block/cookie";
@import "include/block/pagination";

.three-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 35px 0;
}

.block-title {
  font-weight: bold;
  font-size: 22px;
  margin: 5px 0;
}

@import "include/block/providers";
@import "include/block/social";
@import "include/block/news";

@import "include/block/login";
@import "include/block/slider-index";
@import "include/block/fast-buy";
@import "include/block/footer";

@import "include/page/index";
@import "include/page/articles";
@import "include/page/news";
@import "include/page/support";
@import "include/page/catalog";
@import "include/page/detail-product";
@import "include/page/profile";
@import "include/page/basket";
@import "include/page/checkout";
@import "include/page/product-detail";
@import "include/page/auth";
@import "include/page/mix_checkout";
@import "include/page/vacancy";
@import "include/page/compare";

@import "include/modal/modal-product-detail-sale";


.wrap-page {
  width: 80%;
  margin: 0 auto;
}

.text-block-wrap {
  p {
    text-indent: 1.25em;
    text-align: justify;
  }
}

.about p {
  padding: 1% 0;
  font-weight: 600;
  font-size: 18px;
  text-indent: 1.25em;
}

.page-content {
}

.requisites-wrap {
  width: 100%;
}

.requisites {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  background: $mainActiveColor;
  color: white;
  align-items: center;
}

.requisites___item {
  margin: 5px;

  a {
    color: white;
  }
}

@import "include/media";