@import "modules/init";

@import "include/variables";
@import "include/fonts";
@import "include/buttons";
@import "include/common";
@import "include/forms";

@import "include/block/logo";
@import "include/block/header";
@import "include/block/header-mobile-full";
@import "include/block/header-menu";
@import "include/block/menu";
@import "include/block/phone";
@import "include/block/basket";
@import "include/block/profile";
@import "include/block/search-form";
@import "include/block/list-variants";
@import "include/block/product-control";
@import "include/block/subscribe";
@import "include/block/mobile-search";

// custom
@import "include/block/admin-panel";
@import "include/block/page-title";
@import "include/block/404";
@import "include/block/notify";

// главная страница
@import "include/block/auth";
@import "include/block/slider";
@import "include/block/slider-category";
@import "include/block/vitrine";
@import "include/block/light-properties";
@import "include/block/profit";
@import "include/block/brands";
@import "include/block/instagram";
@import "include/block/index-about";
@import "include/block/mini-slider";
@import "include/block/gruming";
@import "include/block/last-news";

// детальная карточка товара
@import "include/block/product-detail";
@import "include/block/product-detail-gallery";
@import "include/block/product-calc";
@import "include/block/breadcrumbs";
@import "include/block/product-properties";
@import "include/block/product-tabs";
@import "include/block/in-stock-detail-product";

.product-info {
  border: 1px rgba(0, 0, 0, 0.03) solid;
  box-shadow: 4px 4px 11px -2px rgba(34, 60, 80, 0.19);
  padding: 10px;
  margin: 30px 0;
  border-radius: 7px;

  &__title {
    font-weight: bold;
  }
}

// футер
@import "include/block/footer";
@import "include/block/footer-contact";
@import "include/block/footer-nav";
@import "include/block/footer-categories";
@import "include/block/requesites";
@import "include/block/social-me";

// личный кабинет
@import "include/block/order-list";
@import "include/block/profile-sections";
@import "include/block/profile-orders";
@import "include/block/profile-order-products";
@import "include/block/profile-favorite-list";
@import "include/block/gifts";
@import "include/block/profile-pet";

// Контактная информация
@import "include/block/contacts-map";

// Корзина
@import "include/block/basket-list";
@import "include/block/basket-properties";

// Доставка и оплата
@import "include/block/form-calc-delivery";

// О нас
@import "include/block/about";
@import "include/block/light-statistic";
@import "include/block/sertificate";

// Оформление заказа
@import "include/block/checkout";
@import "include/block/checkout-form";
@import "include/block/checkout-summary";
@import "include/block/checkout-reglament";
@import "include/block/light-checkout-list";

.checkout-summary__show-items[aria-expanded=false] .text-expanded {
  display: none;
}

.checkout-summary__show-items[aria-expanded=true] .text-collapsed {
  display: none;
}

// Акции
@import "include/block/action-list";
@import "include/block/detail-action";

//Бренд страница
@import "include/page/brandpage";

// Каталог - Категории
.left-siderbar {
  width: 30%;

  @media (max-width: 790px) {
    width: 100%;
  }
}

@import "include/block/pagination";
@import "include/block/filter-catalog";
@import "include/block/catalog-categories";
@import "include/block/aside-sub-categories";

// Каталог
@import "include/block/catalog";
@import "include/block/catalog-line";
@import "include/block/catalog-sort";
@import "include/block/catalog-actions";
@import "include/block/stick-filter";

// список новостей
@import "include/block/news-list";
@import "include/block/news-summary";
@import "include/block/news-detail";