extends include/layer

block contents
    .page-container
        .error-message
            img.error-message__image(src="./assets/images/404.png")
            .error-message__code 404
            .error-message__message Упс... ошибка — страница не найдена
            a(href="javascript:void(0);").error-message__link На главную
