extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link О компании
            h1.page__title О компании
            .page__group-row
                .page__left
                    .light-statistic
                        .light-statistic__title Мы на рынка 5 лет!
                        ul.simple-list
                            li.simple-list__item Товары производства России, Германи, Дании, Италии
                            li.simple-list__item Более 10 000 наименований товаров
                            li.simple-list__item Доставим по Москве и Московоской обалсти*
                            li.simple-list__item Много акций и распродаж
                .page__right
                    .light-statistic
                        .light-statistic__title С нами работают
                        ul.light-statistic-brands
                            li.light-statistic-brands__item Braer
                            li.light-statistic-brands__item Wienerberger
                            li.light-statistic-brands__item Керма
                            li.light-statistic-brands__item Grand Line
                            li.light-statistic-brands__item Металл профиль
                            li.light-statistic-brands__item Shinglass
                            li.light-statistic-brands__item Teogola
                            li.light-statistic-brands__item Docke PIE
                            li.light-statistic-brands__item Icopal
                            li.light-statistic-brands__item Braas
                            li.light-statistic-brands__item Luxard
                            li.light-statistic-brands__item
                                a(href="javascript:void(0);").light-statistic-brands__link Смотреть все
            .page__group-row.my-5
                .page__left
                    h1.page__title Строительные покупки в интернет-магазине
                    h1.page__text Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.<br><br>Разнообразный и богатый опыт укрепление и развитие структуры представляет собой интересный эксперимент проверки модели развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.
                .page__right
                    .swiper-container.about-slider-container
                        .swiper-wrapper.about-slider-wrapper
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                            .swiper-slide.about-slider-slide
                                img(src="./assets/images/about-slide.png")
                        .swiper-button-next.about-slider-button-next
                        .swiper-button-prev.about-slider-button-prev
                        .about-slider-pagination
            .sertificate
                .page-title__group.is-column
                    h2.page-title Сертификаты продукции
                    a.page-title__link(href="javascript:void(0);") Все сертификаты
                .swiper-container.sertificate-container
                    .swiper-wrapper.sertificate-wrapper
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                        .swiper-slide.sertificate-slide
                            a(href="./assets/images/sert.png", data-lightbox="roadtrip")
                                img(src="./assets/images/sert.png")
                .sertificate-button-next
                    img(src="./assets/images/arrow-right-black.svg")
                .sertificate-button-prev
                    img(src="./assets/images/arrow-left-black.svg")
        include include/block/brands
        include include/block/contact-info