extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link О компании
            h1.page__title О компании
            .about-statistic
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
            h1.title О нашем интернет-зоомагазине
            .about-text
                .slider
                    .swiper-container.about-swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src="./assets/images/eq1.jpg")
                            .swiper-slide
                                img(src="./assets/images/eq2.jpg")
                            .swiper-slide
                                img(src="./assets/images/eq3.jpg")
                            .swiper-slide
                                img(src="./assets/images/eq5.jpg")
                    .swiper-pagination.about-swiper-pagination
                p Кстати, элементы политического процесса, вне зависимости от их<br>уровня, должны быть заблокированы в рамках своих собственных<br>рациональных ограничений.
                p Лишь базовые сценарии поведения пользователей заблокированы<br>в рамкахсвоих<br>собственных рациональных ограничений.
                p Равным образом, глубокий уровень погружения говорит о<br>возможностях формвоздействия.
                p Для современного мира глубокий уровень погружения<br>требует определения и уточнения новых предложений.
                p Ясность нашей позиции очевидна: понимание<br>сути ресурсосберегающих технологий, в своём<br>классическом представлении, допускает внедрение своевременного<br>выполнения сверхзадачи.
                p Банальные, но неопровержимые выводы, а также представители<br>современных социальных резервов призывают нас к новым<br>свершениям, которые, в свою очередь, должны быть преданы<br>социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
            h2.title Отзывы о нас
            .feedback-wrapper
                form.feedback-form(method="post")
                    .feedback-form__title Оставить отзыв
                    input.feedback-form__input(type="text" placeholder="Представьтесь")
                    input.feedback-form__input.js-mask-ru(type="text" placeholder="Телефон")
                    textarea.feedback-form__input(placeholder="Ваш отзыв")
                    button(type="submit").btn-main Опубликовать отзыв
                .feedback-list
                    .feedback-list__item
                        .feedback-list__isUser(data-toggle="tooltip" data-placement="right" rel="tooltip" title="Пользователь сайта")
                            i.fas.fa-user-check
                        .feedback-list__personal
                            .feedback-list__date (04.02.2020)
                            .feedback-list__author Борис Вишневский
                            .feedback-list__isBuyer(data-toggle="tooltip" data-placement="bottom" rel="tooltip" title="Действующий покупатель")
                                i.fas.fa-coins
                        .feedback-list__comment Замечательный магазин. Всегда доставляют в срок, целые упаковки, свежий корм, никаких просрочек. Рекомендую всем тем более есть скидка за друга!