mixin productControl
	.div
		button(type="button").product-calc__control.product-calc__minus.js-product-calc-minus -
		input.product-calc__count.js-product-calc-amount(value="1")
		button(type="button").product-calc__control.product-calc__plus.js-product-calc-plus +