mixin profileOrderDetailProductItem(item)
    li.profile-order-products__item
        a.profile-order-products__link(href='#')=item.name
        img(src=item.image).profile-order-products__image
        .profile-order-products__count 15
        .profile-order-products__char X
        .profile-order-products__price 1 500
        .profile-order-products__summary 759 500
