.site-info
    .site-info__item
        a(href="javascript:void(0);").site-info__icon
            i.fas.fa-receipt
        .site-info__info
    .site-info__item
        a(href="javascript:void(0);").site-info__icon
            i.fas.fa-search
        .site-info__info

