aside.left-side
    .sidebar-title Поиск по сайту
    .search-admin
    .sidebar-title Меню
    ul.menu
        li.menu__item
            a.menu__link(href="javascript:void(0);") Сайт
        li.menu__item
            a.menu__link(href="javascript:void(0);") Рабочий стол
        li.menu__item
            a.menu__link(href="javascript:void(0);") Магазин