button(type="button").button-toggle-sidebar.js-toggle-sidebar Меню
aside.left-side
    .sidebar-title Поиск по сайту
    .search-admin
    .sidebar-title Быстрый доступ
    ul.fast-links
        li.fast-links__item
            .point
            a.fast-links__link(href="javascript:void(0);")
                i.fas.fa-receipt
        li.fast-links__item
            a.fast-links__link(href="javascript:void(0);")
                i.fas.fa-cubes
    .sidebar-title Меню
    ul.menu
        li.menu__item
            a.menu__link(href="javascript:void(0);")
                span Сайт
                span.menu__icon
                    i(class="fas fa-globe-americas")
        li.menu__item
            a.menu__link(href="javascript:void(0);")
                span Рабочий стол
                span.menu__icon
                    i(class="fas fas fa-tachometer-alt")
        li.menu__item
            a.menu__link(href="javascript:void(0);")
                span Магазин
                span.menu__icon
                    i(class="fas fa-store")
                ul.menu-sub
                    li.menu-sub__item
                        a(href="javascript:void(0);").menu-sub__link
                            span Заказы
                            span.menu__icon
                                i(class="fas fa-store")
                    li.menu-sub__item
                        a(href="javascript:void(0);").menu-sub__link
                            span Товары
                            span.menu__icon
                                i(class="fas fa-store")
                    li.menu-sub__item
                        a(href="javascript:void(0);").menu-sub__link
                            span Поставщики
                            span.menu__icon
                                i(class="fas fa-store")