.left-sidebar-react
    .bottom-menu
        a(href="#").bottom-menu__item
            i.fas.fa-sign-out-alt
        a(href="#").bottom-menu__item
            i.fas.fa-sync-alt
        a(href="#").bottom-menu__item
            i.fas.fa-user-cog