.site-info
    .site-info__item
        a(href="javascript:void(0);").site-info__icon
            i.fas.fa-receipt
        .site-info__info
            ul.site-info-data
                li.site-info-data__item
                    .site-info-data__key Заказы
                    .site-info-data__value 150Р
                li.site-info-data__item
                    .site-info-data__key Оборот
                    .site-info-data__value 33 500Р
                li.site-info-data__item
                    .site-info-data__key Прибыль
                    .site-info-data__value 10 000Р
    .site-info__item
        a(href="javascript:void(0);").site-info__icon
            i.fas.fa-cubes
        .site-info__info
    .site-info__item
        a(href="javascript:void(0);").site-info__icon
            i.fas.fa-cloud
        .site-info__info
    .site-info__item
        a(href="javascript:void(0);").site-info__icon
            i.fas.fa-search
        .site-info__info

