.statistic
	.statistic__item
		.statistic__icon
			i.fas.fa-cookie
		.statistic__content
			.statistic-info
				.statistic-info__item
					.statistic-info__key Последний бэкап
					.statistic-info__value 17.08.2020
				.statistic-info__item
					.statistic-info__key Сделать бэкап
					.statistic-info__value
						a(href="?out=Y").statistic-action Начать
						a(href="?out=Y").statistic-action Скачать
	.statistic__item
		.statistic__icon
			i.fas.fa-cookie
		.statistic__content
			.statistic-info
				.statistic-info__item
					.statistic-info__key Заказов
					.statistic-info__value 150
				.statistic-info__item
					.statistic-info__key Прибыль
					.statistic-info__value 39 569 Р
	.statistic__item
		.statistic__icon
			i.fas.fa-cookie
		.statistic__content
			.statistic-info
				.statistic-info__item
					.statistic-info__key Товаров
					.statistic-info__value 2500
				.statistic-info__item
					.statistic-info__key Прибыль
					.statistic-info__value 3 569 Р
	.statistic__item
		.statistic__icon(data-toggle="modal" data-target="#search-list")
			i.fas.fa-search
		.statistic__content
			.last-search
				.last-search__item Royal Canin Gastro
				.last-search__item Милпразон
				.last-search__item Когтецид
				.last-search__item pipi бент

#search-list.modal.fade(tabindex='-1', role='dialog', aria-labelledby='search-listLabel', aria-hidden='true')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h5#search-listLabel.modal-title Что ищут люди?
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				.search-history
					.search-history__item.header-item
						.search-history__ip IP
						.search-history__phrase Запрос
						.search-history__count Найдено
						.search-history__date Дата
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
			.modal-footer
				button.btn.btn-secondary(type='button', data-dismiss='modal') Закрыть
