.statistic
	.statistic__item
		.statistic__icon
			i.fas.fa-cookie
		.statistic__content
			.statistic-info
				.statistic-info__item
					.statistic-info__key Последний бэкап
					.statistic-info__value 17.08.2020
				.statistic-info__item
					.statistic-info__key Сделать бэкап
					.statistic-info__value
						button(type="button").statistic-action Начать
	.statistic__item
		.statistic__icon
			i.fas.fa-cookie
		.statistic__content
			.statistic-info
				.statistic-info__item
					.statistic-info__key Заказов
					.statistic-info__value 150
				.statistic-info__item
					.statistic-info__key Прибыль
					.statistic-info__value 39 569 Р
	.statistic__item
		.statistic__icon
			i.fas.fa-cookie
		.statistic__content
			.statistic-info
				.statistic-info__item
					.statistic-info__key Товаров
					.statistic-info__value 2500
				.statistic-info__item
					.statistic-info__key Прибыль
					.statistic-info__value 3 569 Р
	.statistic__item
		.statistic__icon
			i.fas.fa-search
		.statistic__content
			.last-search
				.last-search__item Royal Canin Gastro
				.last-search__item Милпразон
				.last-search__item Когтецид
				.last-search__item pipi бент