.statistic
	.statistic__item
		.statistic__icon
			i.fas.fa-cookie
		.statistic__content
			.statistic-info
				.statistic-info__item
					.statistic-info__key Последний бэкап
					.statistic-info__value 17.08.2020
			.statistic-action
				a(href="?out=Y").statistic-action__item
					i.fas.fa-sync
				a(href="?out=Y").statistic-action__item
					i.fas.fa-download
	.statistic__item
		.statistic__icon(data-toggle="modal" data-target="#order-list")
			i.fas.fa-cookie
		.statistic__content
			.statistic-info
				.statistic-info__item
					.statistic-info__key Заказов
					.statistic-info__value 150
				.statistic-info__item
					.statistic-info__key Прибыль
					.statistic-info__value 39 569 Р
	.statistic__item
		.statistic__icon
			i.fas.fa-cookie
		.statistic__content
			.statistic-info
				.statistic-info__item
					.statistic-info__key Товаров
					.statistic-info__value 2500
				.statistic-info__item
					.statistic-info__key Прибыль
					.statistic-info__value 3 569 Р
	.statistic__item
		.statistic__icon(data-toggle="modal" data-target="#search-list")
			i.fas.fa-search
		.statistic__content
			.last-search
				.last-search__item Royal Canin Gastro
				.last-search__item Милпразон
				.last-search__item Когтецид
				.last-search__item pipi бент

#search-list.modal.fade(tabindex='-1', role='dialog', aria-labelledby='search-listLabel', aria-hidden='true')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h5#search-listLabel.modal-title Что ищут люди?
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				.search-history
					.search-history__item.header-item
						.search-history__ip IP
						.search-history__phrase Запрос
						.search-history__count Найдено
						.search-history__date Дата
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
					.search-history__item
						.search-history__ip 109.171.61.86
						.search-history__phrase Royal canin gastro 12кг
						.search-history__count 150
						.search-history__date 23.06.2020
			.modal-footer
				button.btn.btn-secondary(type='button', data-dismiss='modal') Закрыть

#order-list.modal.fade(tabindex='-1', role='dialog', aria-labelledby='search-listLabel', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5#order-listLabel.modal-title Отчет по продажам
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body.p-0
				ul.month-stat
					li.month-stat__item
						.month-stat__title Январь
						.month-stat__count Заказов: 5
						.month-stat__rotate Оборот: 10 665₽
						.month-stat__summary Доход: 3 869₽
					li.month-stat__item
						.month-stat__title Февраль
						.month-stat__count Заказов: 11
						.month-stat__rotate Оборот: 38 315₽
						.month-stat__summary Доход: 12 737₽
					li.month-stat__item
						.month-stat__title Март
						.month-stat__count Заказов: 21
						.month-stat__rotate Оборот: 43 314₽
						.month-stat__summary Доход: 5 639₽
					li.month-stat__item
						.month-stat__title Апрель
						.month-stat__count Заказов: 22
						.month-stat__rotate Оборот: 30 284₽
						.month-stat__summary Доход: 4 198₽
					li.month-stat__item
						.month-stat__title Май
						.month-stat__count Заказов: 25
						.month-stat__rotate Оборот: 43 062₽
						.month-stat__summary Доход: 4 712₽
					li.month-stat__item
						.month-stat__title Июнь
						.month-stat__count Заказов: 28
						.month-stat__rotate Оборот: 49 964₽
						.month-stat__summary Доход: 7 484₽
					li.month-stat__item
						.month-stat__title Июль
						.month-stat__count Заказов: 10
						.month-stat__rotate Оборот: 24 088₽
						.month-stat__summary Доход: 1 684₽
					li.month-stat__item
						.month-stat__title Август
						.month-stat__count Заказов: 6
						.month-stat__rotate Оборот: 82 302₽
						.month-stat__summary Доход: 0₽
					li.month-stat__item
						.month-stat__title Сентябрь
						.month-stat__count Заказов: 0
						.month-stat__rotate Оборот: 0₽
						.month-stat__summary Доход: 0₽
					li.month-stat__item
						.month-stat__title Ноябрь
						.month-stat__count Заказов: 0
						.month-stat__rotate Оборот: 0₽
						.month-stat__summary Доход: 0₽
					li.month-stat__item
						.month-stat__title Октябрь
						.month-stat__count Заказов: 0
						.month-stat__rotate Оборот: 0₽
						.month-stat__summary Доход: 0₽
					li.month-stat__item
						.month-stat__title Декабрь
						.month-stat__count Заказов: 0
						.month-stat__rotate Оборот: 0₽
						.month-stat__summary Доход: 0₽
			.modal-footer
				button.btn.btn-secondary(type='button', data-dismiss='modal') Закрыть
