form.catalog-sort
    //input.catalog-sort__input#catalog-sort-variant-1(type="checkbox" name="sort-checkbox")
    //label(for="catalog-sort-variant-1").catalog-sort__item.checkbox-type
    //    .catalog-sort__title Строительный
    //
    //input.catalog-sort__input#catalog-sort-variant-2(type="checkbox" name="sort-checkbox")
    //label(for="catalog-sort-variant-2").catalog-sort__item.checkbox-type
    //    .catalog-sort__title Ручной
    //
    //input.catalog-sort__input#catalog-sort-variant-3(type="checkbox" name="sort-checkbox")
    //label(for="catalog-sort-variant-3").catalog-sort__item.checkbox-type
    //    .catalog-sort__title Печной
    //
    //input.catalog-sort__input#catalog-sort-variant-4(type="checkbox" name="sort-checkbox")
    //label(for="catalog-sort-variant-4").catalog-sort__item.checkbox-type
    //    .catalog-sort__title Силикатный

    .type-display
        a(href="#").type-display__item
            i.fas.fa-th
        a(href="#").type-display__item
            i.fas.fa-th-list

    .catalog-sort-select
        label.catalog-sort-select__label(for="catalog-sort-selector") Сортировать
        select.catalog-sort-select__select.js-selectize#catalog-sort-selector
            option Сначала дешевые
            option Сначала дорогие