include ../../mixin/checkoutProductItem

ul.light-checkout-list
    -
        var items = [
            {
                name: 'Бентонитовый наполнитель для кошек с ароматом яблока, 10л',
                image: './assets/images/product.png',
                article: '656992',
            },
            {
                name: 'Бентонитовый наполнитель для кошек с ароматом яблока, 10л',
                image: './assets/images/product.png',
                article: '656992',
            },
            {
                name: 'Бентонитовый наполнитель для кошек с ароматом яблока, 10л',
                image: './assets/images/product.png',
                article: '656992',
            },
            {
                name: 'Бентонитовый наполнитель для кошек с ароматом яблока, 10л',
                image: './assets/images/product.png',
                article: '656992',
            },
            {
                name: 'Бентонитовый наполнитель для кошек с ароматом яблока, 10л',
                image: './assets/images/product.png',
                article: '656992',
            },
        ]
    each item,index in items
        +checkoutProductItem(item)