.pagination {
  display: flex;
  flex-direction: row;

  li {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    &.active {
      background: deepskyblue;

      a {
        color: white
      }
    }

    background: white;
    border: 1px deepskyblue solid;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a, span {
      color: deepskyblue;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}