.delivery-calc-wrap {
    width: 350px;
    border: 1px #e2e2e2 solid;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

.delivery-calc-wrap form {
    width: 100%;
    padding: 2%;
}

.elem-form {
    width: 100%;
    margin: 1% 0;
}

.delivery-calc-select-tk {
    padding: 1%;
    width: 100%;
    border: 1px #e2e2e2 solid;
    text-align: center;
}

.delivery-calc-select-out-city {
    padding: 1%;
    width: 100%;
    border: 1px #e2e2e2 solid;
    text-align: center;
}

.delivery-calc-select-in-city {
    padding: 1%;
    width: 100%;
    border: 1px #e2e2e2 solid;
    text-align: center;
}