.checkout-form-promocode {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    font-size: 18px !important;
    transition: 0.8s ease-in-out max-height;
    max-height: 0;
    margin: 5px 0;
    overflow: hidden;
}

.checkout-form-promocode.active {
    max-height: 40px;
}

.checkout-form-promocode__code {
    margin: 0 10px;
}

.checkout-form-promocode__discount {
    color: green;
    font-weight: bold;
}