extends include/template
block content
    .page-container
        include block/left-sidebar
        .content
            .media-browser-react(data-config='{"model":"Product","attribute":"[properties][22][]","values":[22337,22338,22339,22340,22341,22342,22343,22344,22345,22346,22347,22348,22349,22350,22351,22352,22353,22354,22355,22356]}')