extends include/template
block content
    .page-container
        include block/left-sidebar
        .content
            include block/statistic
            #todo-react
            .find-customer-react
            .operator-calculator-react
        .clearfix