extends include/template
block content
    ul
        li
            a(href="demo.html" target="_blank") Demo page
        li
            a(href="home.html" target="_blank") Главная
        li
            a(href="form.html" target="_blank") Формы
