mixin renderProduct(item)
    tr(style="display: block; width: 100%;")
        td(style="width:45%; padding: 5px; font-size:16px; ") Hiil`s Sterilised со вкусом курицы, 1.5кг
        td(style="width:15%; padding: 5px;") 1500 Р
        td(style="width:15%; padding: 5px;") 1200 Р
        td(style="width:15%; padding: 5px;")
            a(href="#" style="border:1px solid #ff1a4a; color:#ff1a4a; padding:5px; text-decoration:none!important; text-transform:uppercase; font-size:12px;") Купить
