$main-dark-color: #0b0b0b;
$theme-color: #00BFFF;  //deepskyblue
//$theme-color: #007bff;
$light-grey-background: rgba(0, 0, 0, 0.02);
$whatsapp-green: #25D366;
$theme-box-shadow:3px 3px 3px -3px rgba(0, 0, 0, 0.75);