@import "modules/bootstrap";
@import "include/general";
@import "include/form";
@import "include/buttons";
@import "include/notify";

.show-dashboard {
  display: none;
  background: #0b0b0b;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 0.3em;
}


@import "include/left_sidebar";
@import "include/main";


@import "include/page/index";
@import "include/page/catalog";


.help-block {
  color: red;
}

input[type='text'], input[type='password'], select, textarea {
  &[aria-invalid="false"] {
    border: 1px green solid;
  }

  &[aria-invalid="true"] {
    border: 1px red solid;
    outline: 0;
  }
}


@import "include/media";