extends include/layer

block contents
    main.page
        .hello
            .hello__container._container
                .hello__content
                .hello__image
                    img(src="")