.page-title__group
    h2.page-title Не пропустите выгоду
.profit
    .profit__item
        img(src="./assets/images/profit1.png").profit__image
    .profit__item
        img(src="./assets/images/profit2.png").profit__image
        a(href="javascript:void(0);").profit__link Подробнее