.hello {
  padding: 33px 0 70px 0;

  @media (max-width: $md1+px) {
    padding: 0 0 70px 0;
  }

  @media (max-width: $md3+px) {
    padding: 0 0 60px 0;
  }

  &__container {
    display: flex;
    @media (max-width: $md3+px) {
      text-align: center;
      flex-direction: column-reverse;
    }
  }

  &__content {
    align-items: flex-start;
    flex: 1 1 auto;
    padding: 18px 110px 0 0;

    *:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $md1+px) {
      padding: 18px 50px 0 0;
    }

    @media (max-width: $md3+px) {
      padding: 0 0 0 0;
    }
  }

  &__title {
    margin: 0 0 25px 0;
  }

  &__text {
    margin: 0 0 35px 0;
  }

  &__btn {
  }

  &__avatar {
    flex: 0 0 243px;
    width: 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: -5px 13px 0 0 #edf7fa;

    img {
      max-width: 100%;

    }

    @media (max-width: $md3+px) {
      width: 170px;
      height: 170px;
    }
  }
}