@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway+Bold')

$mainActiveColor: #ff1a4a
$mainActiveHoverColor: #e41a46
$mainColor: #2d0c03
$mainHoverColor: #641303

*
  -webkit-box-sizing: border-box !important
  -moz-box-sizing: border-box !important
  box-sizing: border-box !important
  padding: 0
  margin: 0

html
  width: 100%
  height: 100%

body
  width: 100%
  height: 100%
  font-family: "Raleway-Bold", sans-serif !important

.left-col
  width: 50%
  float: left

.right-col
  width: 50%
  float: right

.clearfix
  clear: both

textarea
  resize: vertical

.btn-main
  background: $mainActiveColor
  color: white
  font-weight: bold
  border: 0
  outline: 0
  padding: 1% 1%
  cursor: pointer
  display: inline-block
  text-decoration: none !important

  &.grey
    background: white
    color: black
    border: 1px #e2e2e2 solid

.link-main
  color: $mainActiveColor
  text-decoration: none !important
  font-weight: bold

  &:hover
    color: #2d0c03

.wrap-page, .header, .menu-controller, .menu, .current-city, .catalog ul li
/*border: 1px red solid;

.wrap-page
  width: 80%
  margin: 0 auto

.top-menu-wrap
  padding: 1% 0
  background: #f5f5f5
  display: flex
  flex-direction: row

.current-city
  width: 15%
  margin: 0 2% 0 0
  padding: 0 1%
  color: grey

  span
    color: #2D0C03

.top-menu
  width: 80%
  list-style: none
  display: flex
  flex-direction: row
  margin: 0

.top-menu__item
  margin: 0 1% 0 0
  position: relative
  padding: 0 1%

  &:not(:last-child)::after
    position: absolute
    top: 50%
    right: -1px
    width: 1px
    height: 20px
    margin-top: -10px
    content: ""
    background-color: #e2e2e2

  a
    text-decoration: none
    color: #2D0C03

.header
  display: flex
  flex-direction: row
  margin: 1% 0

.logo-wrap
  display: flex
  margin: 1% 0
  text-align: justify
  align-self: center
  text-decoration: none
  color: #2d0c03

  a
    display: flex
    margin: 1% 0
    text-align: justify
    align-self: center
    text-decoration: none
    color: #2d0c03


.logo__image
  width: 60px
  align-self: center
  margin: 0 1% 0 0
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%

.logo-title-wrap
  display: flex
  flex-direction: column

.logo__title
  align-self: center
  font-family: 'ZCOOL XiaoWei', serif
  text-transform: uppercase
  font-size: 36px
  padding: 0
  margin: 0

.search-wrap
  align-self: center
  width: 300px
  margin: 0 1%

.search
  width: 100%
  border: 1px #ddd solid
  border-radius: 2em
  padding: 4%

  form
    padding: 0
    margin: 0

  input
    width: 85%
    height: 100%
    border: 0
    font-size: 18px
    padding: 0 5%

  button
    width: 25px
    height: 100%
    border: 0
    background: white
    cursor: pointer
    font-size: 20px

.contact-wrap
  align-self: center
  color: grey
  font-size: 13px
  margin: 0 2%

  div
    color: #2D0C03
    font-size: 21px
    font-weight: bold

    a
      color: #2D0C03
      font-size: 21px
      font-weight: bold

.basket-wrap
  width: 300px
  height: 70px
  position: relative

  &:hover .slide-down-basket
    display: block

  a
    text-decoration: none
    color: #2d0c03
    display: flex
    flex-direction: row
    justify-content: stretch
    height: 100%

.basket-image
  display: flex
  justify-content: center
  flex-wrap: nowrap
  flex-direction: column
  text-align: center
  font-size: 36px
  width: 25%
  height: 100%

  i
    font-size: 36px
    color: $mainActiveColor

.basket-title
  height: 100%
  width: 75%
  font-size: 26px
  font-weight: 600
  padding: 5% 1%
  text-transform: uppercase

.basket-count
  font-size: 10px
  font-weight: 700
  color: #8a8a8a

.slide-down-basket
  *
    z-index: 999999999 !important
  display: none
  width: 190%
  left: -100%
  top: 100%
  background: white
  padding: 2%
  position: absolute
  border: 1px #ddd solid
  -webkit-border-radius: 0.3em
  -moz-border-radius: 0.3em
  border-radius: 0.3em
  z-index: 999999999 !important
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75)
  -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75)
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75)

.slide-down-basket__item
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  margin: 1% 0

  a
    color: $mainActiveColor
    font-weight: 600
    font-size: 12px

.slide-down-basket__item-price, .slide-down-basket__item-count, .slide-down-basket__item-summ
  font-weight: 600
  font-size: 12px

/*.slide-down-basket__item-price::after{content: ' x';}
/*.slide-down-basket__item-count::after{content: ' =';}

.slide-down-basket__item-name
  width: 200px

.slide-down-basket
  .detail-product__buy
    display: block
    color: white
    text-align: center !important
    margin: 2% 0

  ul
    list-style: none

    li img
      width: 70px
      z-index: 999999999 !important

.menu-wrap
  background: #2d0c03
  color: white
  display: flex
  position: relative
  flex-direction: row

.menu-controller
  width: 50px
  text-align: center
  line-height: 45px
  font-size: 22px
  background: $mainActiveColor
  position: relative

.menu
  display: flex
  flex-direction: row
  justify-content: space-between
  list-style: none
  width: 80%
  margin: 0 2%

.menu__item
  padding: 1%
  font-size: 18px
  font-family: 'Raleway-Bold', sans-serif
  font-weight: 400
  text-transform: uppercase

  a
    text-decoration: none
    color: white

    &:hover
      color: grey

.breadcrumb-wrap
  margin: 1% 0
  font-family: 'Raleway-Bold', sans-serif

.breadcrumbs
  display: flex
  flex-direction: row
  list-style: none

.breadcrumb__item
  padding: 0.5% 1%
  position: relative

  &:first-child
    padding-left: 0

  &:not(:last-child)::after
    font-family: "Font Awesome 5 Free"
    font-weight: 900
    content: "\f054"
    font-size: 12px
    position: absolute
    right: 0
    top: 11px
    color: $mainActiveColor

  a
    color: #2D0C03
    text-decoration: none
    font-size: 18px

.page-content
  .content
    font-size: 18px
    text-align: justify
    line-height: 1.5

  .title
    padding: 0
    margin: 0

  .content p
    text-indent: 1.2em

.signin-wrap
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  margin: 1% 0

.signin
  width: 40%
  padding: 1%
  border: #f0f0f0 1px solid
  border-radius: 1em

.signup

.support
  width: 100%
  display: flex
  flex-direction: row

.support-ticket__form-wrap
  justify-content: center
  display: flex
  flex-direction: row

.support-ticket__form
  border: 1px #e2e2e2 solid
  border-radius: 0.3em
  padding: 1%
  width: 70%
  align-self: center

  h2
    text-align: center
    margin: 0
    padding: 0

.support-ticket
  width: 100%
  display: flex
  flex-direction: row

  .support-ticket__form-wrap
    width: 30%

    .support-ticket__form
      width: 100%

.support-ticket__list
  width: 70%
  padding: 0 1%

.support-ticket__list-title
  margin: 0
  padding: 0

.support-tickets-wrap
  width: 70%
  padding: 0 1%

.support-ticket-item
  width: 100%
  padding: 1% 0
  border-top: 1px #ddd solid
  display: flex
  flex-direction: row

  &:last-child
    border-bottom: 1px #ddd solid

.support-ticket-item__info
  width: 70%

.support-ticket-item__info-title-link
  color: #2d0c03
  text-decoration: none

  &:hover
    color: $mainActiveColor

.support-ticket-item__category
  font-weight: 600
  font-size: 14px
  color: grey

.support-ticket-item__section
  width: 30%
  text-align: center
  padding: 2% 0
  font-size: 45px

  a
    color: #2d0c03

    &:hover
      color: $mainActiveColor

.support-categories__list-wrap
  width: 30%
  padding: 0 1%

.support-categories__list
  list-style: none

.support-categories__list_element
  padding: 1% 0
  border-top: 1px #ddd solid
  text-align: center
  font-weight: 600

  &:last-child
    border-bottom: 1px #ddd solid

  a
    color: #2d0c03
    text-decoration: none

    &:hover
      color: $mainActiveColor

.filter
  padding: 1%
  width: 25%

.show-catalog-filter
  display: none
  width: 100%
  padding: 1%
  margin: 1%
  background: $mainActiveColor
  color: white
  font-weight: bold
  border: 0
  border-bottom: 5px solid #c21e0a
  border-radius: 0.3em
  text-transform: uppercase

.show-catalog-filter.run
  display: block

.catalog
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap

.catalog-list
  width: 100%
  display: flex
  flex-direction: row
  justify-content: stretch
  flex-wrap: wrap
  list-style: none
  padding: 0
  margin: 0

.catalog-list__item
  width: 24.22%
  padding: 1%
  background: #f8f8f8
  display: block
  font-family: 'Raleway-Bold', sans-serif
  margin: 1% 1% 0 0

  a
    text-decoration: none
    color: #2D0C03

  &:nth-child(4n)
    margin-right: 0

.catalog-list__item-title
  margin: 2%
  font-size: 14px
  height: 80px
  font-weight: 600

.catalog-list__item-category
  margin: 0 2%
  color: #8a8a8a
  font-size: 11px
  padding: 0
  text-transform: uppercase
  line-height: 1
  font-weight: 400

.catalog-list__item-price
  margin: 2%
  font-size: 24px

.catalog-list__item-image-wrap
  width: 95%
  height: 200px
  margin: 0 auto
  display: block

.catalog-list__item-image
  width: 95%
  height: 100%
  object-fit: contain

.detail-product
  width: 100%
  font-family: 'Raleway-Bold', sans-serif

.detail-product-wrap
  display: flex
  flex-direction: row
  justify-content: space-between

.detail-product-galery
  width: 40%

.detail-product__image
  width: 70%

.detail-product-info
  width: 45%

.detail-product__title-wrap
  display: flex
  flex-direction: row
  align-items: center

.item-bookmark
  font-size: 25px
  color: orange
  display: block
  padding: 1%
  text-align: center
  cursor: pointer

.detail-product__title
  margin: 0 0 1% 0
  font-weight: 300
  display: inline-block

.detail-product__category
  color: #8a8a8a

  a
    color: #8a8a8a
    text-decoration: none

.detail-product__price
  color: #2D0C03
  margin: 2% 0
  font-size: 25px

.detail-product__cart
  display: inline-block
  padding: 1%
  margin-right: 0.1%
  background: $mainActiveColor
  border: $mainActiveColor 1px solid
  text-decoration: none !important
  text-transform: uppercase
  color: white !important

  &:hover
    background: #eb1a49

.detail-product__buy
  display: inline-block
  padding: 1% 5%
  background: $mainActiveColor
  text-decoration: none !important
  border: $mainActiveColor 1px solid
  text-transform: uppercase
  color: white !important

  &.green
    background: #5cb85c
    color: white
    border: 0

  &:hover
    background: #eb1a49

  &.green:hover
    background: #57ad57
    color: white
    border: 0

.detail-product-properties
  list-style: none
  margin: 2% 0
  padding: 0

.detail-product-properties__item
  border-top: 1px #ddd solid

  &:last-child
    border-bottom: 1px #ddd solid

.detail-product-properties__item__title
  position: relative
  color: #2D0C03
  font-size: 18px
  margin: 1% 0

  i
    position: absolute
    top: 0
    right: 0
    padding: 0.1%
    cursor: pointer

.detail-product-properties__item p
  color: #8a8a8a
  font-size: 12px
  font-weight: 500
  margin: 1% 0
  text-align: justify
  text-indent: 1.15em

.harmon-title
  cursor: pointer

.harmon-content:not(.first)
  display: none

.gallery-more
  width: 100%
  height: 300px
  margin: 2% 0

  .owl-detail img
    width: 200px !important
    height: 300px !important

.profile-menu
  width: 100%
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: stretch
  list-style: none

.profile-menu__item
  width: 33%
  height: 200px
  border: 1px #ddd solid
  margin: 0.1%
  padding: 1%

.profile-menu__item__title
  padding: 0
  margin: 0
  font-weight: 600

.profile-menu__item .fa-user-cog
  cursor: pointer

.profile-menu__item i
  color: $mainActiveColor

.owl-main
  margin: 1% 0

  div
    position: relative
    height: 140px

.remove-favorite
  position: absolute
  right: 0
  top: 0
  cursor: pointer

.item-slide
  width: 160px
  height: 100%
  cursor: e-resize

.order-item
  width: 100px
  height: 170px
  border: 1px #ddd solid
  padding: 1%
  -webkit-border-radius: 0.3em
  -moz-border-radius: 0.3em
  border-radius: 0.3em
  cursor: e-resize

  a
    color: #2D0C03
    text-decoration: none
    cursor: e-resize

.slide-order-info
  width: 100%
  font-size: 10px
  font-weight: 600
  list-style: none

.slide-order-info__item
  margin: 5% 0

.support-categories
  width: 100%
  height: 90%
  padding: 1% 0

.support-categories-list
  width: 100%
  display: flex
  list-style: none
  height: 100%

.support-categories-list_item
  color: #2D0C03
  width: 33%
  height: 100%
  font-size: 72px
  border: 1px #f3f3f3 solid
  display: flex
  justify-content: center
  flex-direction: column
  white-space: nowrap
  text-align: center
  margin: 0 0.5%

  i
    color: #2D0C03
    cursor: pointer

    &:hover
      color: $mainActiveColor

.profile-menu__discount
  width: 100%
  height: 90%
  display: flex
  justify-content: center
  flex-direction: column
  white-space: nowrap

.profile-menu__discount-container
  display: inline-block
  position: relative
  margin: 0 auto
  font-size: 25px

.span
  display: inline-block
  background: $mainActiveColor
  color: #fff
  text-align: center
  border-radius: 50%
  padding: 50% 0
  width: 100%
  position: absolute
  transform: translateY(-50%)

.text
  position: relative
  top: -.5em
  padding: 0 0.65em
  color: #fff

.user-info
  list-style: none
  margin: 1% 0
  color: #8a8a8a
  font-size: 14px
  font-weight: 600

.user-info__item
  margin: 0.5% 0

.cart-wrap
  width: 100%
  display: flex
  flex-direction: row
  margin: 1% 0

.cart-list-items
  width: 100%
  list-style: none
  display: flex
  flex-direction: row
  justify-content: stretch

.cart-list-item
  border: 1px #e2e2e2 solid
  padding: 1%
  display: flex
  flex-direction: column
  align-items: center
  width: 25%
  height: 500px
  margin: 1%

.cart-list-item__title
  text-align: center
  font-weight: 600
  font-size: 18px
  height: 80px
  margin: 1% 0

.cart-list-item img
  width: 85%
  height: 70%
  object-fit: cover

.cart-list-item__calc
  width: 100%
  display: flex
  flex-direction: row

.cart-list-item__calc-form
  width: 80%

  i
    cursor: pointer

.cart-list-item__calc-count
  text-align: center
  border: 1px solid #e2e2e2

.cart-list-item__calc-summ
  width: 20%
  font-size: 18px

/*.cart-checkout{width: 30%; }
/*.basket-buttons{display: flex; flex-direction: row; justify-content: space-between;}
/*.form-user-info{ padding: 1% 0;}
/*.form-user-info .left-col{padding: 1% 1% 1% 0;}
/*.form-user-info .right-col{padding: 1% 0;}
/*.form-user-info__three .form-user-info__block{width: 32%; display: inline-block;}
/*.form-user-info__three .form-user-info__block input{padding: 1% 2% !important;}

.list-delivery-comp
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  list-style: none

.list-delivery-comp-item
  width: 33%
  margin: 1%

.list-delivery-comp-item__content img
  width: 100%
  height: 270px

.total-basket-info
  width: 100%
  font-size: 18px
  font-weight: 600
  padding: 1% 0
  margin: 1% 0
  border-bottom: 1px solid #e2e2e2

.total-basket-info-wrap
  display: flex
  flex-direction: row
  justify-content: space-between

.total-basket-info-list
  list-style: none
  padding: 0
  margin: 0
  display: flex
  flex-direction: column
  align-items: center

.total-basket-info-item
  width: 40%
  margin: 1% 0
  padding: 1%
  border-bottom: 1px #e2e2e2 solid

.total-basket-info-item__image
  width: 100%

  img
    width: 100%

.total-basket-info-item__info

.total-basket-info-item__name
  font-weight: 600
  font-size: 18px
  text-align: center

.total-basket-info-item__price-wrap
  display: flex
  flex-direction: row
  justify-content: space-between

.total-basket-info-item__price, .total-basket-info-item__count

.cart-checkout__steps
  list-style: none
  margin: 1%

.cart-checkout__steps_item
  border-top: 1px #ddd solid
  padding: 2% 0

  &:last-child
    border-bottom: 1px #ddd solid

.cart-checkout__steps_item__title
  position: relative

  i
    position: absolute
    right: 1%
    top: 1%

.form-user-info__block
  label
    display: block
    font-size: 15px
    font-weight: 600

  input
    width: 100%
    padding: 1% 2%
    margin: 1% 0
    border: 1px #ddd solid

  select
    padding: 1%
    border: 1px #ddd solid
    width: 300px

.contacts-list
  list-style: none
  font-size: 14px

.contacts-list__item
  margin: 1% 0

.slider-index
  width: 100%
  margin: 1% 0

  img
    width: 100%

.edge
  width: 100%

  ul
    display: flex
    flex-direction: row
    list-style: none
    justify-content: space-between

    li
      margin: 1%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

      img
        width: 70px
        display: block

.test
  flex-direction: row
  display: flex

.index_about
  padding: 1%
  width: 33%
  font-size: 18px
  text-align: justify
  line-height: 1.5

  p
    text-indent: 1.25em
    padding: 1% 0

.me-inst
  width: 33%
  padding: 1%

  img
    width: 100%
    margin: 5% 0
    border: 1px #ddd solid
    -webkit-border-radius: 1em
    -moz-border-radius: 1em
    border-radius: 1em
    align-self: center
    justify-self: center
    place-self: center

.me-inst-block-link
  display: flex
  flex-direction: column

.me-inst-link
  color: $mainActiveColor
  font-size: 16px
  text-align: center
  margin: 15% 0
  text-transform: uppercase
  font-weight: 600
  text-decoration: underline

  &:hover
    color: #2D0C03

.index-search
  width: 33%
  display: flex
  flex-direction: column
  padding: 1%

.index-search-form
  margin: 5% 0
  padding: 1%
  width: 100%
  border: 1px #ddd solid
  -webkit-border-radius: 0.3em
  -moz-border-radius: 0.3em
  border-radius: 0.3em

.index-search-form__block
  margin: 1% 0

  label
    display: block
    font-weight: bold
    margin: 1%

  select
    padding: 1%
    border: 1px #ddd solid
    width: 100%

  input
    padding: 1%
    border: 1px #ddd solid

.index-search__price-block
  display: flex
  flex-direction: row

  input
    width: 50%
    margin: 1%

.index-search__submit_container
  display: flex
  justify-content: center
  margin: 1% 0

.index-search__submit
  width: 150px
  cursor: pointer
  text-transform: uppercase
  font-weight: 600
  background: $mainActiveColor
  color: white
  padding: 1%
  justify-content: center
  align-items: center
  border: 0
  outline: none

.footer
  margin: 2% 0
  border: 1px white solid

.footer-wrap
  display: flex
  flex-direction: row

.footer-block
  padding: 1%
  width: 25%

.footer-menu__title
  color: $mainActiveColor
  margin: 0 0 1% 0

.footer-menu
  list-style-type: none
  font-size: 14px

.footer-menu__item
  color: #2D0C03

  a
    color: #2D0C03
    text-decoration: none

    &:hover
      color: #f23839
      font-weight: 500

.footer-info
  list-style: none
  margin: 0

.footer-info__item
  margin: 5% 0

.footer-current-city, .time-work, .contact-email
  color: #8a8a8a
  font-size: 14px

.footer-current-city div
  color: #2D0C03
  font-size: 18px

.time-work div
  color: #2D0C03
  font-size: 23px

.contact-email div
  color: #2D0C03
  font-size: 17px

.subscribe-wrap
  width: 100%

.subscribe-title

.subscribe-description
  color: #8a8a8a
  font-size: 13px
  font-weight: 600
  margin: 0 0 2% 0

.subscribe-form
  width: 100%
  flex-direction: row
  display: flex

  .form-group
    margin: 0
    padding: 0

.subscribe-form__input
  border: 1px #ddd solid
  padding: 1% 2%
  margin: 0 1% 0 0
  height: 100%

.subscribe-form__submit
  border: 0
  padding: 1.2% 2%
  color: white
  background: $mainActiveColor
  font-weight: 600
  display: inline-block

.footer-socials-wrap
  background: #fbfbfb

.footer-socials
  list-style: none
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  width: 100%

.footer-socials__item
  padding: 1%
  width: 60px

  &:hover
    .footer-socials__item__inst
      padding: 15%
      border-radius: 20%
      color: white !important
      background: #f09433
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%)
      background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%)
      background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1)

    .footer-socials__item__vk
      padding: 15%
      border-radius: 20%
      color: white !important
      background: #4143f0
      background: -moz-linear-gradient(45deg, #597da3 0%, #597da3 25%, #597da3 50%, #597da3 75%, #597da3 100%)
      background: -webkit-linear-gradient(45deg, #597da3 0%, #597da3 25%, #597da3 50%, #597da3 75%, #597da3 100%)
      background: linear-gradient(45deg, #597da3 0%, #597da3 25%, #597da3 50%, #597da3 75%, #597da3 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1)

    .footer-socials__item__ok
      padding: 15%
      border-radius: 20%
      color: white !important
      background: #4143f0
      background: -moz-linear-gradient(45deg, #F6881F 0%, #F6881F 25%, #F6881F 50%, #F6881F 75%, #F6881F 100%)
      background: -webkit-linear-gradient(45deg, #F6881F 0%, #F6881F 25%, #F6881F 50%, #F6881F 75%, #F6881F 100%)
      background: linear-gradient(45deg, #F6881F 0%, #F6881F 25%, #F6881F 50%, #F6881F 75%, #F6881F 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1)

    .footer-socials__item__twit
      padding: 15%
      border-radius: 20%
      color: white !important
      background: #4143f0
      background: -moz-linear-gradient(45deg, #38A1F3 0%, #38A1F3 25%, #38A1F3 50%, #38A1F3 75%, #38A1F3 100%)
      background: -webkit-linear-gradient(45deg, #38A1F3 0%, #38A1F3 25%, #38A1F3 50%, #38A1F3 75%, #38A1F3 100%)
      background: linear-gradient(45deg, #38A1F3 0%, #38A1F3 25%, #38A1F3 50%, #38A1F3 75%, #38A1F3 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1)

  a
    color: #8a8a8a

    &:hover
      color: blue

.copyring
  text-transform: uppercase
  font-size: 12px
  font-weight: 700
  color: #8a8a8a
  padding: 0 5%
  width: 200px

.list-faq
  list-style: none

.list-faq-item
  border-top: 1px #e2e2e2 solid
  margin: 1% 0
  padding: 1% 0
  cursor: help

  &:last-child
    border-bottom: 1px #e2e2e2 solid

  a
    color: $mainColor
    text-decoration: none

.edit-product-modal__title
  color: $mainColor

.edit-product-modal
  color: $mainColor

.edit-product-modal__link-to-admin
  color: $mainColor !important

.button-edit-product
  color: $mainActiveColor
  background: $mainColor
  border: 1px $mainActiveColor solid
  padding: 0.1em

.list-properties
  list-style: none
  padding: 0
  margin: 0

.list-properties-item
  margin: 1% 0

.list-properties-item__key
  font-weight: bold


.detail-order-info
  width: 250px

  tr
    td
      border: 1px #e2e2e2 solid
      padding: 0.3em

.detail-order-info-items-wrap
  width: 100%

.detail-order-info-items-list
  width: 100%
  list-style: none
  padding: 0
  margin: 0
  display: flex
  flex-direction: row

.detail-order-info-items-list-item
  width: 25%
  height: 400px
  padding: 1%
  border: 1px #e2e2e2 solid

.detail-order-info-items-list-item__link
  color: $mainColor

.detail-order-info-items-list-item__image
  width: 100%
  height: 80%
  object-fit: fill

.detail-order-info-items-list-item__title
  height: 40px

  h3
    text-align: center

.pay-link
  font-weight: bold
  color: green
  font-size: 18px

.promo-cart-warp
  margin: 1% 0

.your-title-promo
  font-weight: bold

.your-title-promo-code
  color: green

.checkout
  width: 100%

.type-order
  width: 100%

.type-order-list
  list-style: none
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-around

.type-order-list__item
  border: 1px #e2e2e2 solid
  -webkit-border-radius: 0.2em
  -moz-border-radius: 0.2em
  border-radius: 0.2em
  width: 20%
  height: 200px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  cursor: pointer

  &.active
    border: 1px $mainActiveHoverColor solid

  &:hover
    border: 1px $mainActiveHoverColor solid

.type-order-list__item-title
  text-align: center
  font-weight: 600
  font-size: 18px

.type-order-list__item-reason
  width: 100%

.list-advantages
  width: 100%
  list-style: none
  text-align: center

.advantage-item
  width: 100%

  &:before
    margin: 1%

.advantage-true
  color: green

.advantage-true:before
  font-family: 'FontAwesome'
  content: '\f067'

.advantage-false:before
  font-family: 'FontAwesome'
  content: '\f068'

.advantage-false
  color: red

.checkout-form-wrap
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.out-smm
  font-weight: 600
  font-size: 20px

.checkout-form
  display: none
  width: 70%

.cart-checkout-fast
  width: 100%
  display: flex
  flex-direction: column

.cart-checkout-fast__item
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-around
  margin: 1% 0
  padding: 1% 0
  border-bottom: 1px #e2e2e2 solid

.cart-checkout-fast__item-image-wrap
  width: 300px
  height: 150px

.cart-checkout-fast__item-image
  width: 100%
  height: 100%

.cart-checkout-fast__item-title
  width: 300px

.articles
  width: 100%

.article-list
  display: flex
  flex-direction: row

.article
  width: 25%
  min-height: 120px
  border: 1px #e2e2e2 solid
  margin: 1%
  padding: 1%

.article-image-wrap
  width: 100%
  height: 70%

  img
    width: 100%
    height: 100%


.article-title-wrap
  height: 120px

.article__title
  font-size: 18px

.article-detail
  width: 100%
  border: 1px red solid

.article-detail__title
  color: $mainActiveColor

.article-detail-image
  width: 200px
  float: left
  margin: 0 1% 1% 0

.article-detail-text
  font-weight: 600
  font-size: 16px

.select-type-order
  width: 100%
  display: flex
  flex-direction: row

.select-type-order-construct
  width: 50%
  padding: 1%
  border: 1px #e2e2e2 solid
  border-radius: 0.3em
  text-align: center
  margin: 1%
  align-content: center
  cursor: pointer
  align-items: center
  justify-content: center


  &:hover
    border: $mainActiveColor 1px solid
    color: $mainActiveColor

.select-type-order-custom
  width: 50%
  padding: 1%
  border: 1px #e2e2e2 solid
  border-radius: 0.3em
  text-align: center
  margin: 1%
  align-content: center
  cursor: pointer
  align-items: center
  justify-content: center


  &:hover
    border: $mainActiveColor 1px solid
    color: $mainActiveColor


.select-type-order div.active
  border: $mainActiveColor 1px solid
  color: $mainActiveColor

.custom-order-form-contact
  display: flex
  flex-direction: row

.custom-order-form-contact div
  padding: 1%
  width: 50%

.show-drop
  cursor: pointer

.drop-all-cats.show
  display: block

.drop-all-cats.hide
  display: none

.drop-all-cats
  z-index: 99999
  position: absolute
  width: 100%
  height: 600px
  top: 100%
  background: $mainActiveColor

.sub-list-drop-items
  width: 100%
  list-style: none
  margin: 0 10%

.list-drop-items
  width: 80%
  height: 100%
  //background: grey
  list-style: none
  display: flex
  flex-direction: row
  margin: 5% auto
  flex-wrap: wrap


.drop-item
  //border: 1px solid black
  width: 31%
  margin: 1%

.drop-item-wrap
  display: flex
  flex-direction: row
  align-items: center

.drop-item__image
  width: 30px
  height: 30px
  margin: 0 1%

.drop-item__name
  font-weight: 600
  font-size: 24px

.drop-item__link
  font-size: 18px
  font-weight: 600
  color: white
  text-decoration: none !important

  &:hover
    color: $mainHoverColor

.fast_buy_detail_product
  width: 100%

.fast_buy_detail_product__image-wrap
  width: 100%

.fast_buy_detail_product__image
  width: 100%

.fast_buy_detail_product__title
  text-align: center
  font-weight: 600

.edit-profile__image
  width: 100%

.edit-profile__image img
  width: 100%

.checkbox_list
  display: flex
  flex-direction: row
  justify-content: stretch
  flex-wrap: wrap
  width: 100%

  label
    width: 50%

    input
      outline: 1px solid grey

.pagination-wrap
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  width: 100%