@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto|Raleway+Bold");
* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  padding: 0;
  margin: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  font-family: "Raleway-Bold", sans-serif !important; }

.left-col {
  width: 50%;
  float: left; }

.right-col {
  width: 50%;
  float: right; }

.clearfix {
  clear: both; }

textarea {
  resize: vertical; }

.btn-main {
  background: #ff1a4a;
  color: white;
  font-weight: bold;
  border: 0;
  outline: 0;
  padding: 1%;
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
  border-bottom: 5px solid #c21e0a;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em; }
  .btn-main.grey {
    background: white;
    color: black;
    border: 1px #e2e2e2 solid; }
  .btn-main:hover {
    color: #641303; }

.link-main {
  color: #ff1a4a;
  text-decoration: none !important;
  font-weight: bold; }
  .link-main:hover {
    color: #2d0c03; }

/*border: 1px red solid; */
.wrap-page {
  width: 80%;
  margin: 0 auto; }

.top-menu-wrap {
  padding: 1% 0;
  background: #f5f5f5;
  display: flex;
  flex-direction: row; }

.current-city {
  width: 15%;
  margin: 0 2% 0 0;
  padding: 0 1%;
  color: grey; }
  .current-city span {
    color: #2D0C03; }

.top-menu {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0; }

.top-menu__item {
  margin: 0 1% 0 0;
  position: relative;
  padding: 0 1%; }
  .top-menu__item:not(:last-child)::after {
    position: absolute;
    top: 50%;
    right: -1px;
    width: 1px;
    height: 20px;
    margin-top: -10px;
    content: "";
    background-color: #e2e2e2; }
  .top-menu__item a {
    text-decoration: none;
    color: #2D0C03; }

.header {
  display: flex;
  flex-direction: row;
  margin: 1% 0; }

.logo-wrap {
  display: flex;
  margin: 1% 0;
  text-align: justify;
  align-self: center;
  text-decoration: none;
  color: #2d0c03; }
  .logo-wrap a {
    display: flex;
    margin: 1% 0;
    text-align: justify;
    align-self: center;
    text-decoration: none;
    color: #2d0c03; }

.logo__image {
  width: 60px;
  align-self: center;
  margin: 0 1% 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.logo-title-wrap {
  display: flex;
  flex-direction: column; }

.logo__title {
  align-self: center;
  font-family: "ZCOOL XiaoWei", serif;
  text-transform: uppercase;
  font-size: 36px;
  padding: 0;
  margin: 0; }

.search-wrap {
  align-self: center;
  width: 300px;
  margin: 0 1%; }

.search {
  width: 100%;
  border: 1px #ddd solid;
  border-radius: 2em;
  padding: 4%; }
  .search form {
    padding: 0;
    margin: 0; }
  .search input {
    width: 85%;
    height: 100%;
    border: 0;
    font-size: 18px;
    padding: 0 5%; }
  .search button {
    width: 25px;
    height: 100%;
    border: 0;
    background: white;
    cursor: pointer;
    font-size: 20px; }

.contact-wrap {
  align-self: center;
  color: grey;
  font-size: 13px;
  margin: 0 2%; }
  .contact-wrap div {
    color: #2D0C03;
    font-size: 21px;
    font-weight: bold; }
    .contact-wrap div a {
      color: #2D0C03;
      font-size: 21px;
      font-weight: bold; }

.basket-wrap {
  width: 300px;
  height: 70px;
  position: relative; }
  .basket-wrap:hover .slide-down-basket {
    display: block; }
  .basket-wrap a {
    text-decoration: none;
    color: #2d0c03;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: 100%; }

.basket-image {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  text-align: center;
  font-size: 36px;
  width: 25%;
  height: 100%; }
  .basket-image i {
    font-size: 36px;
    color: #ff1a4a; }

.basket-title {
  height: 100%;
  width: 75%;
  font-size: 26px;
  font-weight: 600;
  padding: 5% 1%;
  text-transform: uppercase; }

.basket-count {
  font-size: 10px;
  font-weight: 700;
  color: #8a8a8a; }

.slide-down-basket {
  display: none;
  width: 190%;
  left: -100%;
  top: 100%;
  background: white;
  padding: 2%;
  position: absolute;
  border: 1px #ddd solid;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  z-index: 999999999 !important;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75); }
  .slide-down-basket * {
    z-index: 999999999 !important; }

.slide-down-basket__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0; }
  .slide-down-basket__item a {
    color: #ff1a4a;
    font-weight: 600;
    font-size: 12px; }

.slide-down-basket__item-price, .slide-down-basket__item-count, .slide-down-basket__item-summ {
  font-weight: 600;
  font-size: 12px; }

/*.slide-down-basket__item-price::after{content: ' x';} */
/*.slide-down-basket__item-count::after{content: ' =';} */
.slide-down-basket__item-name {
  width: 200px; }

.slide-down-basket .detail-product__buy {
  display: block;
  color: white;
  text-align: center !important;
  margin: 2% 0; }
.slide-down-basket ul {
  list-style: none; }
  .slide-down-basket ul li img {
    width: 70px;
    z-index: 999999999 !important; }

.menu-wrap {
  background: #2d0c03;
  color: white;
  display: flex;
  position: relative;
  flex-direction: row; }

.menu-controller {
  width: 50px;
  text-align: center;
  line-height: 45px;
  font-size: 22px;
  background: #ff1a4a;
  position: relative; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 80%;
  margin: 0 2%; }

.menu__item {
  padding: 1%;
  font-size: 18px;
  font-family: "Raleway-Bold", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }
  .menu__item a {
    text-decoration: none;
    color: white; }
    .menu__item a:hover {
      color: grey; }

.breadcrumb-wrap {
  margin: 1% 0;
  font-family: "Raleway-Bold", sans-serif; }

.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style: none; }

.breadcrumb__item {
  padding: 0.5% 1%;
  position: relative; }
  .breadcrumb__item:first-child {
    padding-left: 0; }
  .breadcrumb__item:not(:last-child)::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 11px;
    color: #ff1a4a; }
  .breadcrumb__item a {
    color: #2D0C03;
    text-decoration: none;
    font-size: 18px; }

.about p {
  padding: 1% 0;
  font-weight: 600;
  font-size: 18px;
  text-indent: 1.25em; }

.page-content .content {
  font-size: 18px;
  text-align: justify;
  line-height: 1.5; }
.page-content .title {
  padding: 0;
  margin: 0; }
.page-content .content p {
  text-indent: 1.2em; }

.signin-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1% 0; }

.signin {
  width: 40%;
  padding: 1%;
  border: #f0f0f0 1px solid;
  border-radius: 1em; }

.support {
  width: 100%;
  display: flex;
  flex-direction: row; }

.support-ticket__form-wrap {
  justify-content: center;
  display: flex;
  flex-direction: row; }

.support-ticket__form {
  border: 1px #e2e2e2 solid;
  border-radius: 0.3em;
  padding: 1%;
  width: 70%;
  align-self: center; }
  .support-ticket__form h2 {
    text-align: center;
    margin: 0;
    padding: 0; }

.support-ticket {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .support-ticket .support-ticket__form-wrap {
    width: 30%; }
    .support-ticket .support-ticket__form-wrap .support-ticket__form {
      width: 100%; }

.support-ticket__list {
  width: 70%;
  padding: 0 1%; }

.support-ticket__list-title {
  margin: 0;
  padding: 0; }

.support-tickets-wrap {
  width: 70%;
  padding: 0 1%; }

.support-ticket-item {
  width: 100%;
  padding: 1% 0;
  border-top: 1px #ddd solid;
  display: flex;
  flex-direction: row; }
  .support-ticket-item:last-child {
    border-bottom: 1px #ddd solid; }

.support-ticket-item__info {
  width: 70%; }

.support-ticket-item__info-title-link {
  color: #2d0c03;
  text-decoration: none; }
  .support-ticket-item__info-title-link:hover {
    color: #ff1a4a; }

.support-ticket-item__category {
  font-weight: 600;
  font-size: 14px;
  color: grey; }

.support-ticket-item__section {
  width: 30%;
  text-align: center;
  padding: 2% 0;
  font-size: 45px; }
  .support-ticket-item__section a {
    color: #2d0c03; }
    .support-ticket-item__section a:hover {
      color: #ff1a4a; }

.support-categories__list-wrap {
  width: 30%;
  padding: 0 1%; }

.support-categories__list {
  list-style: none; }

.support-categories__list_element {
  padding: 1% 0;
  border-top: 1px #ddd solid;
  text-align: center;
  font-weight: 600; }
  .support-categories__list_element:last-child {
    border-bottom: 1px #ddd solid; }
  .support-categories__list_element a {
    color: #2d0c03;
    text-decoration: none; }
    .support-categories__list_element a:hover {
      color: #ff1a4a; }

.filter {
  padding: 1%;
  width: 25%; }

.show-catalog-filter {
  display: none;
  width: 100%;
  padding: 1%;
  margin: 1%;
  background: #ff1a4a;
  color: white;
  font-weight: bold;
  border: 0;
  border-bottom: 5px solid #c21e0a;
  border-radius: 0.3em;
  text-transform: uppercase; }

.show-catalog-filter.run {
  display: block; }

.catalog {
  width: 100%;
  display: flex;
  flex-direction: row; }

.catalog-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0; }

.catalog-list__item {
  width: 24.22%;
  padding: 1%;
  background: #f8f8f8;
  display: block;
  font-family: "Raleway-Bold", sans-serif;
  margin: 1% 1% 0 0; }
  .catalog-list__item a {
    text-decoration: none;
    color: #2D0C03; }
  .catalog-list__item:nth-child(4n) {
    margin-right: 0; }

.catalog-list__item-title {
  margin: 2%;
  font-size: 14px;
  height: 80px;
  font-weight: 600; }

.catalog-list__item-category {
  margin: 0 2%;
  color: #8a8a8a;
  font-size: 11px;
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400; }

.catalog-list__item-price {
  margin: 2%;
  font-size: 24px; }

.catalog-list__item-image-wrap {
  width: 95%;
  height: 200px;
  margin: 0 auto;
  display: block; }

.catalog-list__item-image {
  width: 95%;
  height: 100%;
  object-fit: contain; }

.detail-product {
  width: 100%;
  font-family: "Raleway-Bold", sans-serif; }

.detail-product-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.detail-product-galery {
  width: 40%; }

.detail-product__image {
  width: 70%; }

.detail-product-info {
  width: 45%; }

.detail-product__title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center; }

.item-bookmark {
  font-size: 25px;
  color: orange;
  display: inline-block;
  padding: 1%;
  text-align: center;
  cursor: pointer; }

.detail-product__title {
  margin: 0 0 1% 0;
  font-weight: 300;
  display: inline-block; }

.detail-product__category {
  color: #8a8a8a; }
  .detail-product__category a {
    color: #8a8a8a;
    text-decoration: none; }

.detail-product__price {
  color: #2D0C03;
  margin: 2% 0;
  font-size: 25px; }

.detail-product__available {
  color: green;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 10px; }

.detail-product__cart {
  display: inline-block;
  padding: 1%;
  margin-right: 0.1%;
  background: #ff1a4a;
  border: #ff1a4a 1px solid;
  text-decoration: none !important;
  text-transform: uppercase;
  color: white !important; }
  .detail-product__cart:hover {
    background: #eb1a49; }

.detail-product__buy {
  display: inline-block;
  padding: 1% 5%;
  background: #ff1a4a;
  text-decoration: none !important;
  border: #ff1a4a 1px solid;
  text-transform: uppercase;
  color: white !important; }
  .detail-product__buy.green {
    background: #5cb85c;
    color: white;
    border: 0; }
  .detail-product__buy:hover {
    background: #eb1a49; }
  .detail-product__buy.green:hover {
    background: #57ad57;
    color: white;
    border: 0; }

.detail-product-properties {
  list-style: none;
  margin: 2% 0;
  padding: 0; }

.detail-product-properties__item {
  border-top: 1px #ddd solid; }
  .detail-product-properties__item:last-child {
    border-bottom: 1px #ddd solid; }

.detail-product-properties__item__title {
  position: relative;
  color: #2D0C03;
  font-size: 18px;
  margin: 1% 0; }
  .detail-product-properties__item__title i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.1%;
    cursor: pointer; }

.detail-product-properties__item p {
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 500;
  margin: 1% 0;
  text-align: justify;
  text-indent: 1.15em; }

.harmon-title {
  cursor: pointer; }

.harmon-content:not(.first) {
  display: none; }

.gallery-more {
  width: 100%;
  height: 300px;
  margin: 2% 0; }
  .gallery-more .owl-detail img {
    width: 200px !important;
    height: 300px !important; }

.profile-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  list-style: none; }

.profile-menu__item {
  width: 33%;
  height: 200px;
  border: 1px #ddd solid;
  margin: 0.1%;
  padding: 1%; }

.profile-menu__item__title {
  padding: 0;
  margin: 0;
  font-weight: 600; }

.profile-menu__item .fa-user-cog {
  cursor: pointer; }

.profile-menu__item i {
  color: #ff1a4a; }

.owl-main {
  margin: 1% 0; }
  .owl-main div {
    position: relative;
    height: 140px; }

.remove-favorite {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer; }

.item-slide {
  width: 160px;
  height: 100%;
  cursor: e-resize; }

.order-item {
  width: 100px;
  height: 170px;
  border: 1px #ddd solid;
  padding: 1%;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  cursor: e-resize; }
  .order-item a {
    color: #2D0C03;
    text-decoration: none;
    cursor: e-resize; }

.slide-order-info {
  width: 100%;
  font-size: 10px;
  font-weight: 600;
  list-style: none; }

.slide-order-info__item {
  margin: 5% 0; }

.support-categories {
  width: 100%;
  height: 90%;
  padding: 1% 0; }

.support-categories-list {
  width: 100%;
  display: flex;
  list-style: none;
  height: 100%; }

.support-categories-list_item {
  color: #2D0C03;
  width: 33%;
  height: 100%;
  font-size: 72px;
  border: 1px #f3f3f3 solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
  text-align: center;
  margin: 0 0.5%; }
  .support-categories-list_item i {
    color: #2D0C03;
    cursor: pointer; }
    .support-categories-list_item i:hover {
      color: #ff1a4a; }

.profile-menu__discount {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap; }

.profile-menu__discount-container {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  font-size: 25px; }

.span {
  display: inline-block;
  background: #ff1a4a;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  padding: 50% 0;
  width: 100%;
  position: absolute;
  transform: translateY(-50%); }

.text {
  position: relative;
  top: -0.5em;
  padding: 0 0.65em;
  color: #fff; }

.user-info {
  list-style: none;
  margin: 1% 0;
  color: #8a8a8a;
  font-size: 14px;
  font-weight: 600; }

.user-info__item {
  margin: 0.5% 0; }

.cart-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1% 0; }

.cart-list-items {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap; }

.cart-list-item {
  border: 1px #e2e2e2 solid;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  margin: 1%; }

.cart-list-item__title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  height: 120px;
  margin: 1% 0; }

.cart-list-item__image-wrap {
  width: 80%;
  height: 230px; }
  .cart-list-item__image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: fill; }

.cart-list-item__calc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.cart-list-item__calc-form i {
  cursor: pointer; }

.cart-list-item__calc-count {
  text-align: center;
  border: 1px solid #e2e2e2; }

.cart-list-item__calc-summ {
  font-size: 18px; }

/*.cart-checkout{width: 30%; } */
/*.basket-buttons{display: flex; flex-direction: row; justify-content: space-between;} */
/*.form-user-info{ padding: 1% 0;} */
/*.form-user-info .left-col{padding: 1% 1% 1% 0;} */
/*.form-user-info .right-col{padding: 1% 0;} */
/*.form-user-info__three .form-user-info__block{width: 32%; display: inline-block;} */
/*.form-user-info__three .form-user-info__block input{padding: 1% 2% !important;} */
.list-delivery-comp {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none; }

.list-delivery-comp-item {
  width: 33%;
  margin: 1%; }

.list-delivery-comp-item__content img {
  width: 100%;
  height: 270px; }

.total-basket-info {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  padding: 1% 0;
  margin: 1% 0;
  border-bottom: 1px solid #e2e2e2; }

.total-basket-info-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.total-basket-info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.total-basket-info-item {
  width: 40%;
  margin: 1% 0;
  padding: 1%;
  border-bottom: 1px #e2e2e2 solid; }

.total-basket-info-item__image {
  width: 100%; }
  .total-basket-info-item__image img {
    width: 100%; }

.total-basket-info-item__name {
  font-weight: 600;
  font-size: 18px;
  text-align: center; }

.total-basket-info-item__price-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.cart-checkout__steps {
  list-style: none;
  margin: 1%; }

.cart-checkout__steps_item {
  border-top: 1px #ddd solid;
  padding: 2% 0; }
  .cart-checkout__steps_item:last-child {
    border-bottom: 1px #ddd solid; }

.cart-checkout__steps_item__title {
  position: relative; }
  .cart-checkout__steps_item__title i {
    position: absolute;
    right: 1%;
    top: 1%; }

.form-user-info__block label {
  display: block;
  font-size: 15px;
  font-weight: 600; }
.form-user-info__block input {
  width: 100%;
  padding: 1% 2%;
  margin: 1% 0;
  border: 1px #ddd solid; }
.form-user-info__block select {
  padding: 1%;
  border: 1px #ddd solid;
  width: 300px; }

.contacts-list {
  list-style: none;
  font-size: 14px; }

.contacts-list__item {
  margin: 1% 0; }

.slider-index {
  width: 100%;
  margin: 1% 0; }

.slider-item {
  width: 100%;
  height: 100%;
  position: relative; }

.slider-item__title {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  background: rgba(45, 12, 3, 0.6);
  padding: 1%;
  font-size: 19px;
  border-bottom: 3px #ff1a4a solid; }
  .slider-item__title img {
    width: 100%; }

.slider-item__description {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
  background: rgba(45, 12, 3, 0.6);
  padding: 1%;
  font-size: 19px;
  border-bottom: 3px #ff1a4a solid; }

.edge {
  width: 100%; }
  .edge ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between; }
    .edge ul li {
      margin: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .edge ul li img {
        width: 70px;
        display: block; }

.test {
  flex-direction: row;
  display: flex; }

.index_about {
  padding: 1%;
  width: 33%;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5; }
  .index_about p {
    text-indent: 1.25em;
    padding: 1% 0; }

.me-inst {
  width: 33%;
  padding: 1%; }
  .me-inst img {
    width: 100%;
    margin: 5% 0;
    border: 1px #ddd solid;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    align-self: center;
    justify-self: center;
    place-self: center; }

.me-inst-block-link {
  display: flex;
  flex-direction: column; }

.me-inst-link {
  color: #ff1a4a;
  font-size: 16px;
  text-align: center;
  margin: 15% 0;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline; }
  .me-inst-link:hover {
    color: #2D0C03; }

.index-search {
  width: 33%;
  display: flex;
  flex-direction: column;
  padding: 1%; }

.news-head-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .news-head-panel a {
    color: #ff1a4a;
    font-weight: 600; }
  .news-head-panel h2 {
    margin: 0;
    padding: 0; }

.list-news {
  width: 100%;
  list-style: none; }

.list-news__item-title {
  color: #ff1a4a;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

.list-news__item-wrap-image {
  width: 100%;
  height: 200px; }

.list-news__item-image {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.index-search-form {
  margin: 5% 0;
  padding: 1%;
  width: 100%;
  border: 1px #ddd solid;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em; }

.index-search-form__block {
  margin: 1% 0; }
  .index-search-form__block label {
    display: block;
    font-weight: bold;
    margin: 1%; }
  .index-search-form__block select {
    padding: 1%;
    border: 1px #ddd solid;
    width: 100%; }
  .index-search-form__block input {
    padding: 1%;
    border: 1px #ddd solid; }

.index-search__price-block {
  display: flex;
  flex-direction: row; }
  .index-search__price-block input {
    width: 50%;
    margin: 1%; }

.index-search__submit_container {
  display: flex;
  justify-content: center;
  margin: 1% 0; }

.index-search__submit {
  width: 150px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  background: #ff1a4a;
  color: white;
  padding: 1%;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none; }

.list-providers {
  width: 100%;
  list-style: none; }

.provider_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .provider_item .provider_item-image-wrap {
    width: 100%;
    height: 200px; }
    .provider_item .provider_item-image-wrap img {
      object-fit: contain;
      width: 100%;
      height: 100%; }

.provider_item__title, .provider_item__title a {
  margin: 1% 0;
  text-align: center;
  color: #ff1a4a; }

.provider_item__desc {
  margin: 1% 0;
  font-size: 14px;
  text-align: justify; }

.footer {
  margin: 2% 0;
  border: 1px white solid; }

.footer-wrap {
  display: flex;
  flex-direction: row; }

.footer-block {
  padding: 1%;
  width: 25%; }

.footer-menu__title {
  color: #ff1a4a;
  margin: 0 0 1% 0; }

.footer-menu {
  list-style-type: none;
  font-size: 14px; }

.footer-menu__item {
  color: #2D0C03; }
  .footer-menu__item a {
    color: #2D0C03;
    text-decoration: none; }
    .footer-menu__item a:hover {
      color: #f23839;
      font-weight: 500; }

.footer-info {
  list-style: none;
  margin: 0; }

.footer-info__item {
  margin: 5% 0; }

.footer-current-city, .time-work, .contact-email {
  color: #8a8a8a;
  font-size: 14px; }

.footer-current-city div {
  color: #2D0C03;
  font-size: 18px; }

.time-work div {
  color: #2D0C03;
  font-size: 23px; }

.contact-email div {
  color: #2D0C03;
  font-size: 17px; }

.subscribe-wrap {
  width: 100%; }

.subscribe-description {
  color: #8a8a8a;
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 2% 0; }

.subscribe-form {
  width: 100%;
  flex-direction: row;
  display: flex; }
  .subscribe-form .form-group {
    margin: 0;
    padding: 0; }

.subscribe-form__input {
  border: 1px #ddd solid;
  padding: 1% 2%;
  margin: 0 1% 0 0;
  height: 100%; }

.subscribe-form__submit {
  border: 0;
  padding: 1.2% 2%;
  color: white;
  background: #ff1a4a;
  font-weight: 600;
  display: inline-block; }

.footer-socials-wrap {
  background: #fbfbfb; }

.footer-socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%; }

.footer-socials__item {
  padding: 1%;
  width: 60px; }
  .footer-socials__item:hover .footer-socials__item__inst {
    padding: 15%;
    border-radius: 20%;
    color: white !important;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); }
  .footer-socials__item:hover .footer-socials__item__vk {
    padding: 15%;
    border-radius: 20%;
    color: white !important;
    background: #4143f0;
    background: -moz-linear-gradient(45deg, #597da3 0%, #597da3 25%, #597da3 50%, #597da3 75%, #597da3 100%);
    background: -webkit-linear-gradient(45deg, #597da3 0%, #597da3 25%, #597da3 50%, #597da3 75%, #597da3 100%);
    background: linear-gradient(45deg, #597da3 0%, #597da3 25%, #597da3 50%, #597da3 75%, #597da3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); }
  .footer-socials__item:hover .footer-socials__item__ok {
    padding: 15%;
    border-radius: 20%;
    color: white !important;
    background: #4143f0;
    background: -moz-linear-gradient(45deg, #F6881F 0%, #F6881F 25%, #F6881F 50%, #F6881F 75%, #F6881F 100%);
    background: -webkit-linear-gradient(45deg, #F6881F 0%, #F6881F 25%, #F6881F 50%, #F6881F 75%, #F6881F 100%);
    background: linear-gradient(45deg, #F6881F 0%, #F6881F 25%, #F6881F 50%, #F6881F 75%, #F6881F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); }
  .footer-socials__item:hover .footer-socials__item__twit {
    padding: 15%;
    border-radius: 20%;
    color: white !important;
    background: #4143f0;
    background: -moz-linear-gradient(45deg, #38A1F3 0%, #38A1F3 25%, #38A1F3 50%, #38A1F3 75%, #38A1F3 100%);
    background: -webkit-linear-gradient(45deg, #38A1F3 0%, #38A1F3 25%, #38A1F3 50%, #38A1F3 75%, #38A1F3 100%);
    background: linear-gradient(45deg, #38A1F3 0%, #38A1F3 25%, #38A1F3 50%, #38A1F3 75%, #38A1F3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); }
  .footer-socials__item a {
    color: #8a8a8a; }
    .footer-socials__item a:hover {
      color: blue; }

.copyring {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #8a8a8a;
  padding: 0 5%;
  width: 200px; }

.list-faq {
  list-style: none; }

.list-faq-item {
  border-top: 1px #e2e2e2 solid;
  margin: 1% 0;
  padding: 1% 0;
  cursor: help; }
  .list-faq-item:last-child {
    border-bottom: 1px #e2e2e2 solid; }
  .list-faq-item a {
    color: #2d0c03;
    text-decoration: none; }

.edit-product-modal__title {
  color: #2d0c03; }

.edit-product-modal {
  color: #2d0c03; }

.edit-product-modal__link-to-admin {
  color: #2d0c03 !important; }

.button-edit-product {
  color: #ff1a4a;
  background: #2d0c03;
  border: 1px #ff1a4a solid;
  padding: 0.1em; }

.list-properties {
  list-style: none;
  padding: 0;
  margin: 0; }

.list-properties-item {
  margin: 1% 0; }

.list-properties-item__key {
  font-weight: bold; }

.detail-order-info {
  width: 250px; }
  .detail-order-info tr td {
    border: 1px #e2e2e2 solid;
    padding: 0.3em; }

.detail-order-info-items-wrap {
  width: 100%; }

.detail-order-info-items-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; }

.detail-order-info-items-list-item {
  width: 25%;
  height: 400px;
  padding: 1%;
  border: 1px #e2e2e2 solid; }

.detail-order-info-items-list-item__link {
  color: #2d0c03; }

.detail-order-info-items-list-item__image {
  width: 100%;
  height: 80%;
  object-fit: fill; }

.detail-order-info-items-list-item__title {
  height: 40px; }
  .detail-order-info-items-list-item__title h3 {
    text-align: center; }

.pay-link {
  font-weight: bold;
  color: green;
  font-size: 18px; }

.promo-cart-warp {
  margin: 1% 0; }

.your-title-promo {
  font-weight: bold; }

.your-title-promo-code {
  color: green; }

.checkout {
  width: 100%; }

.type-order {
  width: 100%; }

.type-order-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.type-order-list__item {
  border: 1px #e2e2e2 solid;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  width: 20%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .type-order-list__item.active {
    border: 1px green solid; }
  .type-order-list__item:hover {
    border: 1px green solid; }

.type-order-list__item-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.type-order-list__choice-title {
  font-weight: bold;
  font-size: 18px; }

.type-order-list__item-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px; }

.type-order-list__choice-sub-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px; }
  .type-order-list__choice-sub-title.good {
    color: green; }
  .type-order-list__choice-sub-title.alarm {
    color: #ff1a4a; }

.type-order-list__item-reason {
  width: 100%; }

.list-advantages {
  width: 100%;
  list-style: none;
  text-align: center; }

.advantage-item {
  width: 100%; }
  .advantage-item:before {
    margin: 1%; }

.advantage-true {
  color: green; }

.advantage-true:before {
  font-family: "FontAwesome";
  content: ""; }

.advantage-false:before {
  font-family: "FontAwesome";
  content: ""; }

.advantage-false {
  color: red; }

.checkout-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

.out-smm {
  font-weight: 600;
  font-size: 20px; }

.checkout-form {
  display: none;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .checkout-form .form-wrap {
    width: 70%; }

.cart-checkout-fast {
  width: 100%;
  display: flex;
  flex-direction: column; }

.cart-checkout-fast__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1% 0;
  padding: 1% 0;
  border-bottom: 1px #e2e2e2 solid; }

.cart-checkout-fast__item-image-wrap {
  width: 300px;
  height: 150px; }

.cart-checkout-fast__item-image {
  width: 100%;
  height: 100%; }

.cart-checkout-fast__item-title {
  width: 300px; }

.articles {
  width: 100%; }

.article-list {
  display: flex;
  flex-direction: row; }

.article {
  width: 25%;
  min-height: 120px;
  border: 1px #e2e2e2 solid;
  margin: 1%;
  padding: 1%; }

.article-image-wrap {
  width: 100%;
  height: 70%; }
  .article-image-wrap img {
    width: 100%;
    height: 100%; }

.article-title-wrap {
  height: 120px; }

.article__title {
  font-size: 18px; }

.article-detail {
  width: 100%;
  border: 1px red solid; }

.article-detail__title {
  color: #ff1a4a; }

.article-detail-image {
  width: 200px;
  float: left;
  margin: 0 1% 1% 0; }

.article-detail-text {
  font-weight: 600;
  font-size: 16px; }

.select-type-order {
  width: 100%;
  display: flex;
  flex-direction: row; }

.select-type-order-construct {
  width: 50%;
  padding: 1%;
  border: 1px #e2e2e2 solid;
  border-radius: 0.3em;
  text-align: center;
  margin: 1%;
  align-content: center;
  cursor: pointer;
  align-items: center;
  justify-content: center; }
  .select-type-order-construct:hover {
    border: #ff1a4a 1px solid;
    color: #ff1a4a; }

.select-type-order-custom {
  width: 50%;
  padding: 1%;
  border: 1px #e2e2e2 solid;
  border-radius: 0.3em;
  text-align: center;
  margin: 1%;
  align-content: center;
  cursor: pointer;
  align-items: center;
  justify-content: center; }
  .select-type-order-custom:hover {
    border: #ff1a4a 1px solid;
    color: #ff1a4a; }

.select-type-order div.active {
  border: #ff1a4a 1px solid;
  color: #ff1a4a; }

.custom-order-form-contact {
  display: flex;
  flex-direction: row; }

.custom-order-form-contact div {
  padding: 1%;
  width: 50%; }

.show-drop {
  cursor: pointer; }

.drop-all-cats.show {
  display: block; }

.drop-all-cats.hide {
  display: none; }

.drop-all-cats {
  z-index: 99999;
  position: absolute;
  width: 100%;
  height: 600px;
  top: 100%;
  background: #ff1a4a; }

.sub-list-drop-items {
  width: 100%;
  list-style: none;
  margin: 0 10%; }

.list-drop-items {
  width: 80%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  flex-wrap: wrap; }

.drop-item {
  width: 31%;
  margin: 1%; }

.drop-item-wrap {
  display: flex;
  flex-direction: row;
  align-items: center; }

.drop-item__image {
  width: 30px;
  height: 30px;
  margin: 0 1%; }

.drop-item__name {
  font-weight: 600;
  font-size: 24px; }

.drop-item__link {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none !important; }
  .drop-item__link:hover {
    color: #641303; }

.fast_buy_detail_product {
  width: 100%; }

.fast_buy_detail_product__image-wrap {
  width: 100%; }

.fast_buy_detail_product__image {
  width: 100%; }

.fast_buy_detail_product__title {
  text-align: center;
  font-weight: 600; }

.edit-profile__image {
  width: 100%; }

.edit-profile__image img {
  width: 100%; }

.checkbox_list {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  width: 100%; }
  .checkbox_list label {
    width: 50%; }
    .checkbox_list label input {
      outline: 1px solid grey; }

.pagination-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; }

/*# sourceMappingURL=site.css.map */
