$main-color: #2d0c03;
$active-color: #ff1a4a;
$active-color-light: rgba(255, 77, 105, 1);
$no-active-color: #C6C6C6;
$light-properties-color: #6D6D6D;
$text-color: #fff;
$whatsapp-green: #25D366;

$eat-calculator-border-color: #c6c6c6;