.product-blocks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 80%;
  margin: 20px auto;


  &__item {
    border-radius: 7px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    padding: 10px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }
}