.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 424px;
  width: 424px;
  position: relative;
  transition: all 3s ease;

  &.filled {
    .search-form__input-group {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @media(max-width: 1155px) {
    max-width: 200px;
    width: 100%;
  }

  &__input-group {
    width: 100%;
    border-radius: 25px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    outline: none !important;
    height: 100%;
    border: 0;
    border-radius: inherit;
    background: inherit;
    padding: 10px 15px;
    flex: 0 1 auto;
  }

  &__input {
    display: block;
    border-radius: inherit;
    background: inherit;
    height: 100%;
    flex: 4 1 auto;
    border: 0;

    &[aria-invalid="false"], &[aria-invalid="true"] {
      border: 0 !important;
    }

    @media (max-width: 1155px) {
      width: 65%;
    }
  }
}