.page-title__group.is-column
    h2.page-title О нас
    a.page-title__link(href="javascript:void(0);") Читать дальше
.index-about-container
    .index-about
        .mini-slider-container.swiper-container
            .mini-slider-wrapper.swiper-wrapper
                .swiper-slide.mini-slider-slide
                    img(src="./assets/images/actions/1.jpeg")
                .swiper-slide.mini-slider-slide
                    img(src="./assets/images/actions/2.jpeg")
                .swiper-slide.mini-slider-slide
                    img(src="./assets/images/actions/3.jpeg")
                .swiper-slide.mini-slider-slide
                    img(src="./assets/images/actions/4.jpeg")
                .swiper-slide.mini-slider-slide
                    img(src="./assets/images/actions/5.jpeg")
                .swiper-slide.mini-slider-slide
                    img(src="./assets/images/actions/6.jpeg")
        p Барнаульский интернет-зоомагазин Котофей!
        p Занимаемся продажей зоотоваров для домашних питомцев и доставкой зоотоваров в городе Барнаул и по России.
        p Мы продаём сухие и влажные корма, товары для груминга, предметы интерьра такие как домики, когтеточки для кошек, лежанки<br>
        | аксесуары в том числе одежда для животных, игрушки.
        br
        br
        p Каждый месяц в нашем интернет-магазине появляются интересные акции от торговых марок <strong>Royal Canin</strong>, <strong>Hiil's</strong>, <strong>Purina</strong>. Акции содержат скидки на товары, выгодные предложения 1+1 и другие приятные условия!
        br
        br
        p Наши клиенты имеют возможность:
        ul
            li Удобно заказать зоотовары с доставкой на дом;
            li Получить рекомендации по выбору товара;
            li Сравнить интересующие товары через сайт;
            li Задать вопросы оператору прямо в чате сайта;
        br
        p Наша цель - стать намного удобней чтобы покупки совершались с большим удобством и выгодой для клиента!