.page-title__group.is-column
    h2.page-title О нас
    a.page-title__link(href="javascript:void(0);") Читать дальше
.index-about-container
    .index-about
        p Барнаульский интернет-зоомагазин Котофей привествует всех своих посетелей!
        p Мы занимаемся розничной продажей зоотоваров для домашних питомцев. Ваши кошечки,<br>собачки, хомячки, птички и другие питомцы будут рады нашему магазину.
        p Мы оперативно доставим ваши заказы срок в срок. Доставка приемущественно<br>осуществляется день в день, но на некоторые марки товаров доставка может достигать 7 дней.
    .mini-slider
        .mini-slider-container.swiper-container
            .mini-slider-wrapper.swiper-wrapper
                .swiper-slide.mini-slider-slide
                    img(src="./assets/images/actions/1.jpeg")