ul.aside-sub-categories
	li.aside-sub-categories__item
		a.aside-sub-categories__link(href="javascript:void(0);") Блоки
	li.aside-sub-categories__item
		a.aside-sub-categories__link(href="javascript:void(0);") Кирпичи
	li.aside-sub-categories__item
		a.aside-sub-categories__link(href="javascript:void(0);") Утеплитель
	li.aside-sub-categories__item
		a.aside-sub-categories__link(href="javascript:void(0);") Изоляция
	li.aside-sub-categories__item
		a.aside-sub-categories__link(href="javascript:void(0);") Сухие смеси
	li.aside-sub-categories__item
		a.aside-sub-categories__link(href="javascript:void(0);") Фасады
	li.aside-sub-categories__item
		a.aside-sub-categories__link(href="javascript:void(0);") Водостоки
	li.aside-sub-categories__item
		a.aside-sub-categories__link(href="javascript:void(0);") Сухие смеси
	li.aside-sub-categories__item
		a.aside-sub-categories__link(href="javascript:void(0);") Кирпичи