.page-title__group
    h2.page-title Популярные бренды
    a.page-title__link(href="javascript:void(0);") Все бренды
.brand-slider
    .brand-slider-container.swiper-container
        .brand-slider-wrapper.swiper-wrapper
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/knauf.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/tytan.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/tikkurila.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/belinka.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/bosch.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/kleo.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/quelyd.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/sheetrock.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/vetonit.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/unis.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/moment.png")
            .brand-slider-slide.swiper-slide
                img(src="./assets/images/bergauf.png")

    .brand-slider-button-next.brand-slider-control
        img(src="./assets/images/arrow-right-black.svg")
    .brand-slider-button-prev.brand-slider-control
        img(src="./assets/images/arrow-left-black.svg")