.page-title__group.is-column
    h2.page-title Доставим сегодня!
    .page-title__note Товары ниже — сейчас в наличии!
.swiper-container.vitrine-container
    .swiper-wrapper.vitrine-wrapper
        .swiper-slide.vitrine__slide
            img.vitrine__image(src="./assets/images/product.jpg")
            .vitrine__title
                a.vitrine__link(href="javascript:void(0);") Кирпич строительный красный (черновой) пустотелый
            .vitrine__properties
                ul.light-properties
                    li.light-properties__item
                        .light-properties__label Размер
                        .light-properties__value 250*120*65мм
                    li.light-properties__item
                        .light-properties__label Артикул
                        .light-properties__value 0525052
            .vitrine__price
                span.amount 6.90
                span.rate Р / шт
            include ../block/product-calc
    .swiper-pagination