.page-title__group
    h2.page-title Категории
    a.page-title__link(href="javascript:void(0);") Весь каталог
.category-slider-outter
    .swiper-container.category-slider-container
        .swiper-wrapper.category-slider-wrapper
            .swiper-slide.category-slider__slide
                .category-slider__info
                    .category-slider__title Блоки
                    .category-slider__label 1450 позиций
                .category-slider__icon
                    img(src="./assets/images/cat-blocks.svg")
            .swiper-slide.category-slider__slide
                .category-slider__info
                    .category-slider__title Кирпичи
                    .category-slider__label 2500 позиций
                .category-slider__icon
                    img(src="./assets/images/cat-bricks.svg")
            .swiper-slide.category-slider__slide
                .category-slider__info
                    .category-slider__title Фасады
                    .category-slider__label 548 позиций
                .category-slider__icon
                    img(src="./assets/images/cat-facade.svg")
            .swiper-slide.category-slider__slide
                .category-slider__info
                    .category-slider__title Водостоки
                    .category-slider__label 245 позиций
                .category-slider__icon
                    img(src="./assets/images/cat-gutter.svg")
    .slider-swiper-button-next.category-slider-control
        img(src="./assets/images/arrow-right-black.svg")
    .slider-swiper-button-prev.category-slider-control
        img(src="./assets/images/arrow-left-black.svg")
