h1.page__title Контактная информация
.contacts-map
    img(src="./assets/images/yandex_map.png").contacts-map__image
    .contacts-map__info
        p.contacts-map__label Режим работы
        p.contacts-map__text с 9:00 до 18:00 по Мск
        p.contacts-map__label Телефон
        p.contacts-map__text 8-800-888-88-66
        p.contacts-map__label Адрес
        p.contacts-map__text Барнаул, ул, Московская, 188
        p.contacts-map__label Почта
        p.contacts-map__text hello@izbastroev.ru