form.form-calc-delivery
    .form-calc-delivery__title Сколько км до точки доставки?
    .form-calc-delivery__group-row
        .form-calc-delivery__description Доставка осуществляется до подъезда, грузчики оплачиваются отдельно
        .form-calc-delivery__sub-description Ориентировочная стоимость доставки:
    .form-calc-delivery__group-row.is-column.amount-control
        input.form-calc-delivery__amount(placeholder="Сколько км до точки доставки?")
        .form-calc-delivery__summary 00, 0 р
    button.form-calc-delivery__submit Рассчитать