.form-delivery-calc-react
//form.form-delivery-calc
//    .form-delivery-calc__row
//        .form-delivery-calc__col.x-1-2
//            .title Приблизительная стоимость доставки
//            .sub-title Доставка осуществляется транспортной компанией до двери либо до склада
//            .form-delivery-calc__element
//                input.form-delivery-calc__input(type="text" placeholder="Куда доставить?")
//            .form-delivery-calc__element
//                select.form-delivery-calc__select
//                    option Примерный вид посылки
//                    option Пакет корма 12кг (39х25х17)
//                    option Пакет корма 12кг, наполнитель 20кг (58х50х34)
//            .form-delivery-calc__element
//                select.form-delivery-calc__select
//                    option Место получения
//                    option Склад
//                    option До двери
//        .form-delivery-calc__col.x-1-2
//            .summary-container
//                .sub-title Ориентировочная стоимость достави:
//                .summary 00,0 Р:
//    button(type="submit").form-delivery-calc__submit Рассчитать
//form.form-calc-delivery2
//    .form-calc-delivery2__title Сколько км до точки доставки?
//    .form-calc-delivery2__group-row
//        .form-calc-delivery2__description Доставка осуществляется до подъезда, грузчики оплачиваются отдельно
//        .form-calc-delivery2__sub-description Ориентировочная стоимость доставки:
//    .form-calc-delivery2__group-row.is-column.amount-control
//        input.form-calc-delivery2__amount(placeholder="Сколько км до точки доставки?")
//        .form-calc-delivery2__summary 00, 0 р
//    button.form-calc-delivery2__submit Рассчитать