.gifts
	.gifts-road
		img.gifts-road__image(src="./assets/images/product.png")
		img.gifts-road__image(src="./assets/images/product.png")
		img.gifts-road__image(src="./assets/images/product.png")
		img.gifts-road__image(src="./assets/images/product.png")
		img.gifts-road__image(src="./assets/images/product.png")
	.gifts-action
		button.js-run-road-gift Попытать удачу