.gifts
	.gifts-road
		img.gifts-road__image(src="./assets/images/product.png")
		img.gifts-road__image(src="./assets/images/product.png")
		img.gifts-road__image(src="./assets/images/product.png")
		img.gifts-road__image(src="./assets/images/product.png")
		img.gifts-road__image(src="./assets/images/product.png")
	.gifts-action
		button.js-run-road-gift(data-speed=1000) Попытать удачу


#xxx1.XXX
	.X 1
	.X 2
	.X 3
	.X 4
	.X 5
	.X 6
	.X 7
	.X 8
	.X 9
	.X 10
	.X 1
input(type='button', class="LetsGoClass", value='!!!Исчо!!!')
