.page-container
    .page-title__group.is-column
        h2.page-title Услуги
.gruming-container
    .gruming-wrap
        video(autoplay='' loop='').gruming-video
            source(src='./assets/video/video3.mp4' type='video/mp4')
    .gruming-form.site-form
        .gruming-form__title Зоосалон Ohmypet
        .site-form__item
            select.site-form__select
                option Выберите питомца
                option Кошка
                option Собака
        .site-form__item
            select.site-form__select
                option Услуга
                option Линька
                option Супер-линька
                option Контрастный душ
        .site-form__item
            input.js-mask-ru.site-form__input(type="text" placeholder="Ваш телефон")
        .site-form__item
            input.site-form__input(type="text" placeholder="ФИО")
        .site-form__item
            input.site-form__input.js-datepicker(type="text" placeholder="Удобный день посещения")
        button(type="submit").site-form__button Записаться
        .gruming-form__spoiler Зоосалон Ohmypet - является партнером интернет-магазина Котофей. Сбор и обработка заявок на услуги зоосалона выполняются персоналом Ohmypet
