.alert-notify-wrap
	.alert-notify.success-notify
		span.alert-notify__type
			i.fas.fa-check-circle
		span.alert-notify__text фыфывфыввыфвфыфвыыфвфыфывыффывфыввфывфы
		span.alert-notify__close(onclick="this.parentElement.style.maxHeight='0';") ×