.page-title__group.is-column
    h2.page-title Выгодные предложения
    a.page-title__link(href="javascript:void(0);") Все предложения
.swiper-container.vitrine-container
    .swiper-wrapper.vitrine-wrapper
        .swiper-slide.vitrine__slide
            .discount - 15%
            img(src="./assets/images/brick1.png")
            .vitrine__title Кирпич строительный красный (черновой) пустотелый
            .vitrine__properties
                ul.light-properties
                    li.light-properties__item
                        .light-properties__label Размер
                        .light-properties__value 250*120*65мм
                    li.light-properties__item
                        .light-properties__label Артикул
                        .light-properties__value 0525052
            .vitrine__price
                span.amount-old 10.90
                span.amount 6.90
                span.rate Р / шт
            include ../block/product-calc
        .swiper-slide.vitrine__slide
            .discount - 15%
            img(src="./assets/images/brick2.png")
            .vitrine__title Кирпич строительный красный (черновой) пустотелый
            .vitrine__properties
                ul.light-properties
                    li.light-properties__item
                        .light-properties__label Размер
                        .light-properties__value 250*120*65мм
                    li.light-properties__item
                        .light-properties__label Артикул
                        .light-properties__value 0525052
            .vitrine__price
                span.amount-old 10.90
                span.amount 6.90
                span.rate Р / шт
            include ../block/product-calc
        .swiper-slide.vitrine__slide.active
            .discount - 15%
            img(src="./assets/images/brick3.png")
            .vitrine__title Кирпич строительный красный (черновой) пустотелый
            .vitrine__properties
                ul.light-properties
                    li.light-properties__item
                        .light-properties__label Размер
                        .light-properties__value 250*120*65мм
                    li.light-properties__item
                        .light-properties__label Артикул
                        .light-properties__value 0525052
            .vitrine__price
                span.amount-old 10.90
                span.amount 6.90
                span.rate Р / шт
            include ../block/product-calc
        .swiper-slide.vitrine__slide
            .discount - 15%
            img(src="./assets/images/brick4.png")
            .vitrine__title Кирпич строительный красный (черновой) пустотелый
            .vitrine__properties
                ul.light-properties
                    li.light-properties__item
                        .light-properties__label Размер
                        .light-properties__value 250*120*65мм
                    li.light-properties__item
                        .light-properties__label Артикул
                        .light-properties__value 0525052
            .vitrine__price
                span.amount-old 10.90
                span.amount 6.90
                span.rate Р / шт
            include ../block/product-calc
    .swiper-pagination