.swiper-container.slider-container
    .swiper-wrapper.slider-wrapper
        .swiper-slide.slider__slide
            .slider__info
                p.slider__h-1 BOSH GBH 240 (2.7 Дж)
                p.slider__h-2 Купи Bosh<br>и е... перфорируй!
                p.slider__h-3 7 935 P
            img.slider__image(src="./assets/images/banner-index.png")
        .swiper-slide.slider__slide
            .slider__info
                p.slider__h-1 BOSH GBH 240 (2.7 Дж)
                p.slider__h-2 Купи Bosh<br>и е... перфорируй!
                p.slider__h-3 7 935 P
            img.slider__image(src="./assets/images/banner-index.png")
        .swiper-slide.slider__slide
            .slider__info
                p.slider__h-1 BOSH GBH 240 (2.7 Дж)
                p.slider__h-2 Купи Bosh<br>и е... перфорируй!
                p.slider__h-3 7 935 P
            img.slider__image(src="./assets/images/banner-index.png")
        .swiper-slide.slider__slide
            .slider__info
                p.slider__h-1 BOSH GBH 240 (2.7 Дж)
                p.slider__h-2 Купи Bosh<br>и е... перфорируй!
                p.slider__h-3 7 935 P
            img.slider__image(src="./assets/images/banner-index.png")
        .swiper-slide.slider__slide
            .slider__info
                p.slider__h-1 BOSH GBH 240 (2.7 Дж)
                p.slider__h-2 Купи Bosh<br>и е... перфорируй!
                p.slider__h-3 7 935 P
            img.slider__image(src="./assets/images/banner-index.png")
        .swiper-slide.slider__slide
            .slider__info
                p.slider__h-1 BOSH GBH 240 (2.7 Дж)
                p.slider__h-2 Купи Bosh<br>и е... перфорируй!
                p.slider__h-3 7 935 P
            img.slider__image(src="./assets/images/banner-index.png")
    .swiper-button-next.slider-control
    .swiper-button-prev.slider-control
    .slider-pagination