.social-me-container
    .social-me__title Следите за нами в сетях!
    ul.social-me
        li.social-me__item
            a.social-me__link
                img(src='./assets/images/instagram.png').social-me__image
        li.social-me__item
            a.social-me__link
                img(src='./assets/images/vk.png').social-me__image
        li.social-me__item
            a.social-me__link
                img(src='./assets/images/twitter.png').social-me__image