.fast-cart.active
    .fast-cart__total
        .fast-cart__count 4 позиции
        .fast-cart__summary 10 300 P
    a(href="#").fast-cart__buy Оплатить
    a(href="#").fast-cart__icon
        i.fas.fa-trash-alt