.js-help-panel.help-panel
    .help-panel__header
        .help-panel-container
            .help-panel__title Помощь по сайту
            a(href="#").js-close-help-panel.help-panel__close
                i.far.fa-times-circle
    #help-panel-accordion.accordion.help-panel-container
        .help-panel-list
            .help-panel-list__item
                #headingOne.help-panel-list-header
                    a.collapsed(href='#' data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                        span.help-panel-list__icon
                            i.fas.fa-paw(aria-hidden='true')
                        span Как посмотреть историю заказов?
                #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#help-panel-accordion')
                    .help-panel-list-body demo
            .help-panel-list__item
                #headingTwo.help-panel-list-header
                    a.collapsed(href='#' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                        span.help-panel-list__icon
                            i.fas.fa-paw(aria-hidden='true')
                        span Сколько стоит доставка?
                #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#help-panel-accordion')
                    .help-panel-list-body demo
            .help-panel-list__item
                #headingThree.help-panel-list-header
                    a.collapsed(href='#' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        span.help-panel-list__icon
                            i.fas.fa-paw(aria-hidden='true')
                        span Collapsible Group Item #3
                #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#help-panel-accordion')
                    .help-panel-list-body demo