.js-help-panel.help-panel
    .help-panel__header
        .help-panel__title Помощь по сайту
        a(href="#").js-close-help-panel.help-panel__close
            i.far.fa-times-circle
    ul
        li
            a(href="#") Заказы
        li
            a(href="#") Личный кабинет
        li
            a(href="#") Оплаты
        li
            a(href="#") Доставка