.js-help-panel.help-panel
    ul
        li
            a(href="#") Заказы
        li
            a(href="#") Личный кабинет
        li
            a(href="#") Оплаты
        li
            a(href="#") Доставка