.page-title__group
    h2.page-title Последние новости
    a.page-title__link(href="javascript:void(0);") Все новости
.last-news
    .last-news__item
        .label Новости
        img(src="./assets/images/acana_news.jpg").last-news__image
        .last-news__title Корм акана запрещен для ввоза в Россию
        .last-news__preview Корм акана запрещен для ввоза в Россию
        a(href="#").last-news__go-detail Подробнее
    .last-news__item
        .label Новости
        img(src="./assets/images/acana_news.jpg").last-news__image
        .last-news__title Корм акана запрещен для ввоза в Россию
        .last-news__preview Корм акана запрещен для ввоза в Россию
        a(href="#").last-news__go-detail Подробнее
    .last-news__item
        .label Новости
        img(src="./assets/images/acana_news.jpg").last-news__image
        .last-news__title Корм акана запрещен для ввоза в Россию
        .last-news__preview Корм акана запрещен для ввоза в Россию
        a(href="#").last-news__go-detail Подробнее