ul.social-me
    li.social-me__item
        a.social-me__link
            img(src='./assets/images/instagram.png').social-me__image
    li.social-me__item
        a.social-me__link
            img(src='./assets/images/vk.png').social-me__image
    li.social-me__item
        a.social-me__link
            img(src='./assets/images/twitter.png').social-me__image
    li.social-me__item
        a(href="tel:+79999666666").social-me__link
            img(src='./assets/images/whatsapp.png').social-me__image