.swiper-container.steam-slider-container
    .swiper-wrapper.steam-slider-wrapper
        .swiper-slide.steam-slider-slide
            .steam-slider-slide__side
                img(src="./assets/images/product.jpg").steam-slider-slide__image
            .steam-slider-slide__side.steam-slider-card
                .steam-slider-card__title Royal Canin Savour Exigent
                .steam-slider-images
                    .steam-slider-images__item
                        img(src="./assets/images/product.jpg")
                    .steam-slider-images__item
                        img(src="./assets/images/product.jpg")
                    .steam-slider-images__item
                        img(src="./assets/images/product.jpg")
                    .steam-slider-images__item
                        img(src="./assets/images/product.jpg")
                .steam-slider-card__description amksd mnadn oasndobndioasdn ioasndoiasn diasndoiasndioasndioasndioasndioasndas od saoid