.swiper-container.steam-slider-container
    .swiper-wrapper.steam-slider-wrapper
        .swiper-slide.steam-slider-slide
            .swiper-slide.steam-slider-slide__side
                .swiper-container.steam-slider-top-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide
                            img(src="./assets/images/product.jpg")
            .swiper-slide.steam-slider-slide__side
                .steam-slider-thumbs__title.page-title Royal Canin Sterilised, 2кг
                .swiper-container.steam-slider-thumbs-container
                    .swiper-wrapper.steam-slider-thumbs-wrapper
                        .swiper-slide.steam-slider-thumbs-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide.steam-slider-thumbs-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide.steam-slider-thumbs-slide
                            img(src="./assets/images/product.jpg")
                        .swiper-slide.steam-slider-thumbs-slide
                            img(src="./assets/images/product.jpg")
                    .steam-slider-thumbs__price-group
                        .steam-slider-thumbs__price 1238 Р
                        .steam-slider-thumbs__pet
                            i.fas.fa-dog
                            //i.fas.fa-cat