.swiper-container.steam-slider-container
    .swiper-wrapper.steam-slider-wrapper
        .swiper-slide.steam-slider-slide
            .swiper-slide.steam-slider-slide__side
                .swiper-container.steam-slider-top-container
                    .swiper-wrapper.steam-slider-top-wrapper
                        .swiper-slide
                            img(src="./assets/images/product/1.jpg")
                        .swiper-slide
                            img(src="./assets/images/product/2.jpg")
                        .swiper-slide
                            img(src="./assets/images/product/3.jpg")
                        .swiper-slide
                            img(src="./assets/images/product/4.jpg")
            .swiper-slide.steam-slider-slide__side
                .steam-slider-thumbs__title.page-title Royal Canin Sterilised, 2кг
                .swiper-container.steam-slider-thumbs-container
                    .swiper-wrapper.steam-slider-thumbs-wrapper
                        .swiper-slide.steam-slider-thumbs-slide
                            img(src="./assets/images/product/1.jpg")
                        .swiper-slide.steam-slider-thumbs-slide
                            img(src="./assets/images/product/2.jpg")
                        .swiper-slide.steam-slider-thumbs-slide
                            img(src="./assets/images/product/3.jpg")
                        .swiper-slide.steam-slider-thumbs-slide
                            img(src="./assets/images/product/4.jpg")
                    .steam-slider-thumbs__description Также как внедрение современных методик позволяет выполнить важные задания по разработке экономической целесообразности принимаемых решений. Ясность нашей позиции очевидна: курс на социально-ориентированный национальный проект предоставляет широкие возможности для новых предложений. Современные технологии достигли такого уровня, что сложившаяся структура организации однозначно фиксирует необходимость экспериментов, поражающих по своей масштабности и грандиозности.
                    .steam-slider-thumbs-reviews
                        .steam-slider-thumbs-reviews__item
                            .steam-slider-thumbs-reviews__author Flyness22 говорит: Лучший корм в истории человечества. Наша собака безума от счастья когда ест этот замечательный корм!
                    .steam-slider-thumbs__price-group
                        .steam-slider-thumbs__price 1238 Р
                        .steam-slider-thumbs__pet
                            i.fas.fa-dog
                            //i.fas.fa-cat