.swiper-container.steam-slider-container
    .swiper-wrapper.steam-slider-wrapper
        .swiper-slide.steam-slider-slide
            .steam-slider-slide__side
                img(src="./assets/images/product.jpg").steam-slider-slide__image
            .steam-slider-slide__side.steam-slider-card
                .steam-slider-card__title Royal Canin Savour Exigent
                .steam-slider-images
                    .steam-slider-images__item
                        img(src="./assets/images/product.jpg")
                    .steam-slider-images__item
                        img(src="./assets/images/product.jpg")
                    .steam-slider-images__item
                        img(src="./assets/images/product.jpg")
                    .steam-slider-images__item
                        img(src="./assets/images/product.jpg")
                .steam-slider-card__description amksd mnadn oasndobndioasdn ioasndoiasn diasndoiasndioasndioasndioasndioasndas od oasndobndioasdn ioasndoiasn diasndoiasndioasndioasndioasndioasndas od oasndobndioasdn ioasndoiasn diasndoiasndioasndioasndioasndioasndas od saoid
                .steam-slider-review
                    .steam-slider-review__avatar
                        img(src="./assets/images/avatar.jpg").steam-slider-review__avatar-image
                    .steam-slider-review__body
                        .steam-slider-review__text
                            a(href="#").steam-slider-review__author Дмитрий Петров
                            .steam-slider-review__message говорит, лучший корм в истории животноводства. Не вызывает алергии, приятен за вкус и запах. Котик очень доволен выбором. С удовольствием уплетает за обще щёки.