h2 Список просмотренных товаров
.catalog-line
    .catalog-line__item
        .catalog-line__image
            img(src="./assets/images/product.jpg")
        .catalog-line__name Кирпич М-150 (Стройкерамика) красный 0,7НФ /616
        .catalog-line__price 140 400
        .catalog-line__to-cart
            include product-calc