extends include/layer

block contents
    .page-container
        .eat-calculator-react
    //    include include/block/slider
    //    include include/block/steam_slider
    //    include include/block/category-slider
    //    include include/block/buy-now
    //    include include/block/vitrine
    //    include include/block/vitrine2
    //    include include/block/profit
    //    include include/block/offers
    //    include include/block/about
    //include include/block/gruming
    //.page-container
    //    include include/block/last-news
    //    include include/block/brands
    //    include include/block/instagram