extends include/layer

block contents
    .page-container
        ul.breadcrumbs
            li.breadcrumbs__item
                a(href="javascript:void(0);").breadcrumbs__link Главная
            li.breadcrumbs__item.active
                a(href="javascript:void(0);").breadcrumbs__link Кирпичи
        .news-detail-container
            .news-detail-sidebar
                .news-detail-sidebar__title Новости похожей рубрики
                .other-news
                    .other-news-item
                        .other-news-item__title Похорошку
                        .other-news-item__preview Поsad as dads asdasd asd asd as хорошку
                        .other-news-item-group
                            .other-news-item__date 17.01.2021
                            .other-news-item__next Читать далее
                    .other-news-item
                        .other-news-item__title Похорошку
                        .other-news-item__preview Поsad as dads asdasd asd asd as хорошку
                        .other-news-item-group
                            .other-news-item__date 17.01.2021
                            .other-news-item__next Читать далее
                    .other-news-item
                        .other-news-item__title Похорошку
                        .other-news-item__preview Поsad as dads asdasd asd asd as хорошку
                        .other-news-item-group
                            .other-news-item__date 17.01.2021
                            .other-news-item__next Читать далее
                    .other-news-item
                        .other-news-item__title Похорошку
                        .other-news-item__preview Поsad as dads asdasd asd asd as хорошку
                        .other-news-item-group
                            .other-news-item__date 17.01.2021
                            .other-news-item__next Читать далее
            .news-detail-content
                h1.page__title Детальный просмотр новости
            .news-detail-sidebar
                .other-news
                    .other-news-item
                        .other-news-item__title Похорошку
                        .other-news-item__preview Поsad as dads asdasd asd asd as хорошку
                        .other-news-item-group
                            .other-news-item__date 17.01.2021
                            .other-news-item__next Читать далее
                    .other-news-item
                        .other-news-item__title Похорошку
                        .other-news-item__preview Поsad as dads asdasd asd asd as хорошку
                        .other-news-item-group
                            .other-news-item__date 17.01.2021
                            .other-news-item__next Читать далее
                    .other-news-item
                        .other-news-item__title Похорошку
                        .other-news-item__preview Поsad as dads asdasd asd asd as хорошку
                        .other-news-item-group
                            .other-news-item__date 17.01.2021
                            .other-news-item__next Читать далее
                    .other-news-item
                        .other-news-item__title Похорошку
                        .other-news-item__preview Поsad as dads asdasd asd asd as хорошку
                        .other-news-item-group
                            .other-news-item__date 17.01.2021
                            .other-news-item__next Читать далее
