extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link Доставка и оплата
            h1.page__title Доставка и оплата
            .page__group-row
                .page__left
                    h2.page__sub-title Как мы работаем?
                    .page__text После оформления заказа, с вами свяжется менеджер для подтверждения заявки и уточнит сроки доставки (Обычно 1 час). <br><strong>Бесплатная доставка от 500р</strong>.
                    .page__text В другой город? Воспользуйтесь нашим калькулятором доставки. Введите адрес получения и выберите примерный груз для отправки.
                    .page__text При доставке в удалённые точки города или за город сумма доставки может быть выше обычной. Уточнить сумму доставки можно у опретаторов при подтверждении заказа.
                    h2.page__title Как оплатить?
                    .page__text При получении заказа наличными или банковским переводом. Так же можно оплатить заказ в личном кабинете. <a href="#">Подробнее об оплате на сайте</a>
                    img(src="./assets/images/payments.png").payments-image
                    .page__title Куда доставляем товар?
                    .page__text По городу Барнаул и всей России
                    h2.page__title Время доставки
                    .page__text Заказы доставляются в будние дни с понедельника по пятницу в утреннее время с 9.00 до 11.00 и в вечернее время с 19.00 до 23.00
                    .page__text Доставка в выходные дни возможна при заказе до 17.00 пятницы.
                .page__right
                    include include/block/form-calc-delivery
        script(type='text/javascript' charset='utf-8' async='' src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A75a2c08cf453a0309392fdcb243329f2301db73bdb97f18c8bc32cb9e14c1f93&width=100%25&height=400&lang=ru_RU&scroll=true')