extends include/layer

block contents
    .page-container.brandpage-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Бренды
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link Royal Canin
            .brandpage
                h1.page__title Royal Canin
                img.brandpage__logo(src="./assets/images/brandpage/rc-logo.png")
                .brandpage__description
                    | Здоровье питомцев — наша главная забота<br>Мы уделяем особое внимание уникальным потребностям кошек и собак. Благодаря такому пристальному вниманию к каждой детали мы разрабатываем сбалансированное питание с учетом потребностей животных и помогаем им раскрыться во всем великолепии.


    style.
        body {
            background: url("./assets/images/brandpage/rc.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }