.title {
  font-size: 44px;
  color: #21243d;
  font-weight: 700;
  line-height: 60/44*100%;

  @media (max-width: $md3+px) {
    font-size: 32px;
  }
}

.title-posts {
  font-size: 22px;
  @media (max-width: $md3+px) {
    text-align: center;
    font-size: 18px;
  }
}

.text {
  font-size: 16px;
  color: #21243d;
  line-height: 23/16*100%;
}

.btn {
  height: 47px;
  background-color: #ff6464;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29/20*100%;
  color: white;
  transition: 0.3s ease 0s;

  &:hover {
    background-color: #ff1517;
  }
}
