.contact-wrap {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-block {
  margin: 0 10px;
}

.phone-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-block__wa {
  width: 20px;
  margin: 5px;
}

.contacts-reglament {
  color: silver;
  font-size: 13px;
}

.contact-value {
  font-size: 19px;
  font-weight: 600;

  a {
    color: $mainColor;

    &:hover {
      color: inherit;
    }
  }
}