.filter {
  padding: 1%;
  width: 25%;
}
.show-catalog-filter {
  display: none;
  width: 100%;
  padding: 1%;
  margin: 1%;
  background: #ff1a4a;
  color: white;
  font-weight: bold;
  border: 0;
  border-bottom: 5px solid #c21e0a;
  border-radius: 0.3em;
  text-transform: uppercase;

  &.run {
    display: block;
  }
}
