
.catalog {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.catalog-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-list__item {
  width: 24.22%;
  padding: 1%;
  background: #f8f8f8;
  display: block;
  font-family: "Raleway-Bold", sans-serif;
  margin: 1% 1% 0 0;

  a {
    text-decoration: none;
    color: #2D0C03;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.catalog-list__item-title {
  margin: 2%;
  font-size: 14px;
  height: 80px;
  font-weight: 600;
}

.catalog-list__item-category {
  margin: 0 2%;
  color: #8a8a8a;
  font-size: 11px;
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
}

.catalog-list__item-price {
  margin: 2%;
  font-size: 24px;
}

.catalog-list__item-image-wrap {
  width: 95%;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.catalog-list__item-image {
  width: 95%;
  height: 100%;
  object-fit: contain;
}
