@import "../block/filter";
@import "../block/buy-weight";

.catalog {
  display: flex;
  flex-direction: row;
}

.sub-categories {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    width: 23.98%;
    margin: 5px;
    border: 1px $mainActiveColor solid;
    overflow: hidden;
    border-radius: 10px;
  }

  &__link {
    padding: 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $mainActiveColor;
    text-decoration: none !important;

    &:hover {
      background: $mainActiveColor;
      color: white;
    }
  }

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}

.catalog-wrap {
  display: flex;
  flex-direction: column;
  width: 78%;
}

.filter-variant__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.catalog__title {
  padding: 0 10px;
  margin: 0;
}

.filter-variant {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;


  &__item {
    padding: 5px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: $mainActiveColor;
    }


    &.active {
      color: $mainActiveColor;
    }
  }
}

.catalog-list {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  color: $mainColor;

  &__item {
    box-sizing: border-box;
    position: relative;
    width: 23.9%;
    margin: 5px;
    padding: 5px;
    border: 1px #e3e3e3 solid;
  }

  &__weight {
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    top: 0;
    right: 0;
    padding: 3px 10px;
    background: $mainActiveColor;
    color: white;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
  }

  &__link {
    color: $mainColor;
    text-decoration: none !important;

    &:hover {
      color: $mainActiveColor;
    }
  }

  &__group-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px 0;
  }

  &__group-cart {
    width: 50%;
  }

  &__cart {
    font-size: 12px;
    background: $mainActiveColor;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
  }

  &__control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__price {
    font-size: 18px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .value {
      width: 100%;
    }

    .bonus {
      width: 100%;
      font-size: 12px;
      font-weight: 600;
      color: $mainActiveColor;
      text-transform: uppercase;
    }
  }
}

.catalog-list.list {
  display: flex;
  flex-direction: column;

  .catalog-list__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .catalog-list__link {
    width: 30%;
  }

  .catalog-list__group-price {
    display: flex;
    align-items: center;
    width: 30%;
  }
}

.summary {
  list-style: none;
  flex-direction: column;
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  margin: 5px 0;

  &__item {
    margin: 1px 0;

    &.available {
      color: green;
    }
  }
}