.type-order-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.type-order-item {
  width: 33%;
  height: 300px;
  margin: 10px;
  border: 1px silver solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

  &:hover:not(.no-hover) {
    border: 1px $mainActiveColor solid;
  }

  &.active {
    border: 1px green solid;
  }
}

.type-order-advanages {
  list-style: none;
}

.type-order-advanages.pluses {
  color: green;
}

.type-order-advanages.minuses {
  color: red;
}

.order-type-form-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.order-type-form {
  display: none;
  width: 100%;
  flex-direction: column;

  & > .order-type-form__title {
    align-self: center;
    text-transform: uppercase;
    font-weight: 600;
    color: $mainActiveColor
  }

  form {
    width: 100%;
  }
}

.order-type-form__title {
  font-size: 22px;
}

.order-type-form__element {
  width: 100%;
  margin: 10px 0;

  input, select, textarea {
    width: 100%;
    border: 1px silver solid;
    padding: 5px;
    color: grey;
  }
}

.checkout-total-items {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  list-style: none;
  flex-wrap: wrap;
}

.checkout-total-item {
  width: 20%;
  margin: 10px;
}

.checkout-total-item__image-wrap {
  width: 100%;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.checkout-total-item__title {
  text-align: center;
  color: silver;

  &:hover {
    color: grey;
  }
}

.checkout-total-item__link {
  color: silver;
  text-decoration: none;

  &:hover {
    color: grey;
    text-decoration: none;
  }
}

.checkout-summary-wrap {
  width: 100%;
}

.checkout-summary {
  list-style: none;
}

.checkout-summary-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:last-child {
    border-top: 1px silver solid;
    color: grey;
  }
}

.checkout-summary__key {
  &:after {
    content: ':';
    margin: 0 5px 0 0;
  }
}

.checkout-summary__value {
  min-width: 70px;
  text-align: left;
}

.order-type-form__promo {
  color: green;
  font-size: 12px;
  font-weight: bold;
}