
.edge {
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;

    li {
      margin: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 70px;
        display: block;
      }
    }
  }
}

.test {
  flex-direction: row;
  display: flex;
}

.index_about {
  padding: 1%;
  width: 33%;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;

  p {
    text-indent: 1.25em;
    padding: 1% 0;
  }
}

.me-inst {
  width: 33%;
  padding: 1%;

  img {
    width: 100%;
    margin: 5% 0;
    border: 1px #ddd solid;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    align-self: center;
    justify-self: center;
    place-self: center;
  }
}

.me-inst-block-link {
  display: flex;
  flex-direction: column;
}

.me-inst-link {
  color: #ff1a4a;
  font-size: 16px;
  text-align: center;
  margin: 15% 0;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;

  &:hover {
    color: #2D0C03;
  }
}

.index-search {
  width: 33%;
  display: flex;
  flex-direction: column;
  padding: 1%;
}


.index-search-form {
  margin: 5% 0;
  padding: 1%;
  width: 100%;
  border: 1px #ddd solid;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}

.index-search-form__block {
  margin: 1% 0;

  label {
    display: block;
    font-weight: bold;
    margin: 1%;
  }

  select {
    padding: 1%;
    border: 1px #ddd solid;
    width: 100%;
  }

  input {
    padding: 1%;
    border: 1px #ddd solid;
  }
}

.index-search__price-block {
  display: flex;
  flex-direction: row;

  input {
    width: 50%;
    margin: 1%;
  }
}

.index-search__submit_container {
  display: flex;
  justify-content: center;
  margin: 1% 0;
}

.index-search__submit {
  width: 150px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  background: #ff1a4a;
  color: white;
  padding: 1%;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: none;
}

.list-providers {
  width: 100%;
  list-style: none;
}

.provider_item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .provider_item-image-wrap {
    width: 100%;
    height: 200px;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.provider_item__title {
  margin: 1% 0;
  text-align: center;
  color: #ff1a4a;

  a {
    margin: 1% 0;
    text-align: center;
    color: #ff1a4a;
  }
}


.show-drop {
  cursor: pointer;
}

.drop-all-cats {
  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }

  z-index: 99999;
  position: absolute;
  width: 100%;
  height: 600px;
  top: 100%;
  background: #ff1a4a;
}

.sub-list-drop-items {
  width: 100%;
  list-style: none;
  margin: 0 10%;
}

.list-drop-items {
  width: 80%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  flex-wrap: wrap;
}

.drop-item {
  width: 31%;
  margin: 1%;
}

.drop-item-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.drop-item__image {
  width: 30px;
  height: 30px;
  margin: 0 1%;
}

.drop-item__name {
  font-weight: 600;
  font-size: 24px;
}

.drop-item__link {
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none !important;

  &:hover {
    color: #641303;
  }
}

.provider_item__desc {
  margin: 1% 0;
  font-size: 14px;
  text-align: justify;
}
