.product-detail-wrap {
  width: 100%;
}

.product-price-wrap {
  width: 100%;
  font-size: 12px;
}

.product-attributes-wrap {
  margin: 15px 0;
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-attributes__title {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.product-attributes__item:not(:last-child) {
  padding: 3px 0;
  border-bottom: 1px #e3e3e3 solid;
}

.product-attributes__key {
  color: grey;
}

.product-attributes__value {
}

.product-price {
  color: $mainActiveColor;
  font-size: 22px;
  font-weight: 600;
}

.product-detail-image-wrap {
  width: 100%;
}

.product-button {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: white;
  background: $mainActiveColor;
  margin: 5px 0;
  border-radius: 5em;
  cursor: pointer;
  padding: 5px 0;

  &:hover {
    opacity: 0.8;
  }
}

.product-detail-image:first-child {
  width: 80%;
  margin: 0 auto;
  height: 280px;
  object-fit: contain;
  display: block;
}

.product-detail-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 2px;
  cursor: pointer;
}

.product-pluses {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.product-pluses__item {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 10px 0;
  padding: 5px;
  cursor: pointer;
  border: 1px white solid;

  &:hover {
    border: 1px silver solid;
  }
}

.product-pluses__icon {

  i {
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
    font-size: 22px;
    background: $mainActiveColor;
    color: white;
  }
}

.product-title {
  font-weight: bold;
  font-size: 18px;
}

.product-control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-available {
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid green;
  display: inline;
  padding: 3px;
}

.product-rating {
  margin: 0 5px;
  color: orange;

  i {
    cursor: pointer;
  }
}

.product-share, .product-favorite {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: $mainActiveColor;
  cursor: pointer;

  i {
    padding: 5px;
  }
}

.product-description {
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  margin: 10px 0;
  color: grey;

  p {
    text-indent: 1.25em;
  }
}

.product-detail-sidebar {
  width: 100%;
  padding: 0;
  margin: 0;
}

.product-detail-calc-wrap {
  width: 100%;
  padding: 2px;
  border: 1px silver solid;
  border-radius: 4em;
}

.product-detail-calc-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-detail-calc-element {
  width: 33%;
  text-align: center;
}

.product-detail-calc-count {
  width: 100%;
  text-align: center;
  border: 0;
  color: $mainActiveColor;
}

.product-detail-calc-min {
  background: white;
  border: 1px $mainActiveColor solid;
  color: $mainActiveColor;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  padding: 0 8px;
  font-weight: 600;
  cursor: pointer;
}

.product-detail-calc-plus {
  background: $mainActiveColor;
  color: white;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  padding: 0 7px;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.product-review-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}

.review-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.review-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 3px;
  margin: 10px 0;
}

.review-item__author-wrap {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.review-item__image-wrap {
  width: 50px;
  height: 50px;
}

.review-item__author {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.review-item__verify {
  font-size: 8px;
  color: green;
  border: 1px green solid;
  padding: 3px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}

.review-item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.review-item__description {
  color: grey;
  font-size: 12px;
  text-align: justify;
  margin: 5px 0;
}

.review-form-wrap {
  width: 50%;
  padding: 0 3px;
}

.review-form {
  width: 100%;
}

.review-form__element {
  width: 100%;
  margin: 10px 0;

  input[type=text], textarea {
    width: 100%;
    padding: 2px 5px;
    border: 1px solid silver;
    border-radius: 0.3em;
  }
}

#modal-product-detail-buy-click {

  .modal-footer {
    border: 0;
  }
}

.fast-buy-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fast-buy-image-wrap {
  width: 100%;
  height: 300px;
}

.fast-buy-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fast-buy__title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.fast-buy-billing {
  margin: 15px 0;
  color: grey;
  font-weight: 600;
  font-size: 12px;

  .help-block {
    min-height: 30px;
  }
}

.fast-buy-user_billing {
  border-bottom: 1px dashed grey;
  cursor: help;
}

.fast-buy-billing-form__item {
  width: 100%;
  border: 1px silver solid;
  padding: 5px
}

.review-disable {
  border: 1px silver solid;
  padding: 30px 10px;
  margin: 10px 0;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
}