
.support {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.support-ticket__form-wrap {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.support-ticket__form {
  border: 1px #e2e2e2 solid;
  border-radius: 0.3em;
  padding: 1%;
  width: 70%;
  align-self: center;

  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.support-ticket {
  width: 100%;
  display: flex;
  flex-direction: row;

  .support-ticket__form-wrap {
    width: 30%;

    .support-ticket__form {
      width: 100%;
    }
  }
}

.support-ticket__list {
  width: 70%;
  padding: 0 1%;
}

.support-ticket__list-title {
  margin: 0;
  padding: 0;
}

.support-tickets-wrap {
  width: 70%;
  padding: 0 1%;
}

.support-ticket-item {
  width: 100%;
  padding: 1% 0;
  border-top: 1px #ddd solid;
  display: flex;
  flex-direction: row;

  &:last-child {
    border-bottom: 1px #ddd solid;
  }
}

.support-ticket-item__info {
  width: 70%;
}

.support-ticket-item__info-title-link {
  color: #2d0c03;
  text-decoration: none;

  &:hover {
    color: #ff1a4a;
  }
}

.support-ticket-item__category {
  font-weight: 600;
  font-size: 14px;
  color: grey;
}

.support-ticket-item__section {
  width: 30%;
  text-align: center;
  padding: 2% 0;
  font-size: 45px;

  a {
    color: #2d0c03;

    &:hover {
      color: #ff1a4a;
    }
  }
}

.support-categories__list-wrap {
  width: 30%;
  padding: 0 1%;
}

.support-categories__list {
  list-style: none;
}

.support-categories__list_element {
  padding: 1% 0;
  border-top: 1px #ddd solid;
  text-align: center;
  font-weight: 600;

  &:last-child {
    border-bottom: 1px #ddd solid;
  }

  a {
    color: #2d0c03;
    text-decoration: none;

    &:hover {
      color: #ff1a4a;
    }
  }
}

.support-categories-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.support-categories-list_item {
  color: #2D0C03;
  width: 33%;
  height: 100%;
  font-size: 72px;
  border: 1px #f3f3f3 solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
  text-align: center;
  margin: 0 0.5%;

  i {
    color: #2D0C03;
    cursor: pointer;

    &:hover {
      color: #ff1a4a;
    }
  }
}
