doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Вёрстка
    body
        ul
            li
                a(target="_blank" href="test.html") Test
            li
                a(target="_blank" href="order_ready.html") Заказ собран
            li
                a(target="_blank" href="order_created.html") Заказ создан
            li
                a(target="_blank" href="order_complete.html") Заказ завершен
            li
                a(target="_blank" href="begin_sale.html") Начало акции
            li
                a(target="_blank" href="comeback.html") Вернитесь