extends include/layer

block contents
    table(style="max-width:600px; width:100%; display:block; margin:auto; font-size:18px; line-height:24px; text-align:left;" border=0 cellpadding="0" cellspacing="0")
        tbody(style="display:block; width:100%;")
            tr(style="margin-bottom:40px; text-align:center;")
                td Ваш заказ №#ORDER_ID# успешно завершен.
            tr(style="margin-bottom:40px;")
                td
                    span(style="display:block; margin:20px auto; background:#ff1a4a; color:white;font-size:22px;text-align:center;width:130px;font-weight:bold;padding:10px;border-radius:10px;") +40 бонусов
            tr(style="margin-bottom:40px;")
                td Вам начислено 40 бонусов за покупку. Воспользуйтесь ими при следующей покупке и спишите до 20% суммы заказа.
            tr(style="margin-bottom:40px;")
                td Чтобы получить больше бонусов оставьте отзыв о купленных товарах Royal Canin и получите 100 бонусов на счёт.
            tr(style="margin-bottom:40px;")
                td
                    img(src="https://kotofey.store/images/royal_reward.jpg" style="max-width:100%; object-fit:contain;")