<include src="include/head.html"></include>
<body>
<div class="page-container">
<include src="block/sidebar.html"></include>

<div class="content">
abrakadabra
</div>

<div class="clearfix"></div>
</div>

<include src="include/body-end.html"></include>
</body>
</html>