.about-slider-pagination {
  position: absolute;
  z-index: 99;

  .swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background: white;
  }
}

.about-slider-button-next, .about-slider-button-prev {
  &::after {
    color: white;
  }
}

.about-text {
  position: relative;

  p {
    margin-bottom: 15px;
    text-align: justify;
  }

  .slider {
    width: 600px;
    position: absolute;
    right: 0;
    top: 0;

    img {
      width: 100%;
    }
  }
}