#button-up {
  z-index: 9999;
  width: auto;
  display: none;
  left: 50px;
  margin: 0;
  position: fixed;
  bottom: 50px;
  outline: 0;
  color: #333;
  line-height: 0;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px #999;
  box-shadow: 0 2px 4px #999;
  cursor: pointer;
}