.breadcrumbs {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;

  &__item {
    color: black;

    &.active {
      color: $no-active-color;
    }

    &:not(:first-child) {
      &:before {
        content: '/';
        margin: 0 5px;
      }
    }
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
}