.select-weight {
  border-right: 1px #e3e3e3 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-weight-form {
  &__amount {
    text-align: center;
    width: 70px;
    border: 1px #e3e3e3 solid;
  }
}

.select-packaging {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.packaging-list {
  display: flex;
  flex-direction: row;
  list-style: none;

  &__item {
    width: 50%;
  }

  &__image {
    width: 100%;
    border: 1px white solid;

    &:hover {
      cursor: pointer;
    }

    &.active, &:hover {
      border: 1px $mainActiveColor solid;
    }
  }

  &__title {
    text-align: center;
  }
}

.buy-weight__summary {
  padding: 10px 0 0 10px;
  border-top: 1px #e3e3e3 solid;
}