.checkout-form {
  margin-bottom: 40px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 15px 0;
  }

  &__group-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;

    .checkout-form__label {
      width: 49%;
    }
  }

  &__input, &__textarea {
    border: 1px silver solid;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;

    &::placeholder {
      color: grey;
    }
  }

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    div {
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      color: #c6c6c6;
    }
  }

  &__submit {
    margin: 0;
    margin-top: 20px;
  }
}