.cookie {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  color: $mainActiveColor;
  border: 1px $mainActiveColor solid;
  background: white;
}

.cookie__text {
  padding: 10px;
  font-size: 12px;
}

.cookie__button {
  background: white;
  border: 1px $mainActiveColor solid;
  color: $mainActiveColor;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  width: 100px;

  &:hover {
    background: $mainActiveColor;
    color: white;
  }
}

.cookie__group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cookie__more {
  display: block;
  text-decoration: none !important;
  border-bottom: 1px dashed $mainActiveColor;
  color: $mainActiveColor;
  margin: 5px 35px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: $mainColor;
    border-bottom-color: $mainColor;
  }
}