.fast-cart {
  position: fixed;
  width: 98%;
  bottom: 0;
  margin: 5px;
  border-radius: 7px;
  background: $active-color;
  padding: 10px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 99999999999999999999999999999;

  &.active {
    display: flex;
  }

  @media (min-width: 450px) {
    &.active {
      display: none;
    }
  }

  &__total {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;

    div {
      margin: 0 10px;
    }
  }

  &__count {
    border-bottom: 1px white dashed;
  }

  &__summary {

  }

  &__buy {
    margin: 0 20px;
    display: block;
    background: white;
    color: $active-color;
    font-size: 11px;
    text-transform: uppercase;
    padding: 7px 10px;
    font-weight: bold;
    border-radius: 20px;
    text-decoration: none !important;
    transition: all 0.3s ease-out;
    border: 1px transparent solid;

    &:hover {
      color: white;
      background: $active-color;
      border-color: white;
    }
  }

  &__icon {
    margin-left: auto;
    margin-right: 15px;
    color: white;
    border-bottom: 1px dashed white;
  }
}