.footer-contact {
  margin-top: 20px;

  &__item {
    img {
      //filter: invert(99%) sepia(1%) saturate(2499%) hue-rotate(303deg) brightness(113%) contrast(100%);
    }
  }

  &__link {
    font-size: 14px;
    line-height: 24px;
    color: $text-color;
    font-weight: 400;

    &:hover {
      color: inherit;
    }

    &.address {
      border-bottom: 1px $text-color solid;
      text-decoration: none !important;
    }

    &.phone {
      font-size: 18px;
    }
  }
}