.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0;
  width: 100%;

  & * {
    box-sizing: border-box;
  }

  @media (max-width: 420px) {
    display: none;
  }
}

@import "include/header-logo";
@import "include/header-search";
@import "include/header-contacts";
@import "include/header-basket";
@import "include/header-compare";

@import "mobile-header";