.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

  @media (max-width: 1155px) {
    justify-content: stretch;
  }

  @media (max-width: 790px) {
    display: none;
  }
}

.header-mobile {
  display: block;
  background: $main-color;

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 15px;
  }

  &__hamburger {
    cursor: pointer;
  }

  &__logo {
    font-size: 19.2px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__link {
    color: $text-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      color: $text-color;
    }
  }

  @media (min-width: 414px) {
    display: none;
  }

  @media (max-width: 790px) {
    display: block;
  }
}