.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  &__item {
    font-size: 14px;

    &:not(:first-child) {
      margin-left: 80px;
    }
  }

  &__link {
    color: black;

    &:hover {
      color: inherit;
    }
  }

  &-mobile {
    margin-left: 50px;

    .phone {
      display: none;
      @media (max-width: 1155px) {
        display: block;
      }
    }
  }
}