.inspector {
  background: white;
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 80%;
  height: 200px;
  padding: 1%;
  border: 3px deepskyblue solid;
  border-radius: 0.3em 0.3em 0 0;
  z-index: 999999;
}

.inspector-list {
  list-style: none;
  display: flex;
  flex-direction: column;

  &__item {
    font-weight: bold;
  }

  &__value {
    font-weight: normal;
  }
}