
.signin-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1% 0;
}

.signin {
  width: 40%;
  padding: 1%;
  border: #f0f0f0 1px solid;
  border-radius: 1em;
}
