.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &__link {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 24px;
    color: #000;
    margin-left: 30px;
    text-decoration: none !important;

    &:hover {
      color: inherit;
    }
  }

  &__title {
    line-height: 15px;
  }

  &__sub-title {
    font-size: 15.5px;
    font-weight: 400;
  }
}