.menu-controller {
  cursor: pointer;
}

.full-menu-wrap.hide {
  display: none;
}

.menu-wrap {
  background: #2d0c03;
  color: white;
  display: flex;
  position: relative;
  flex-direction: row;
}

.menu-controller {
  width: 50px;
  text-align: center;
  line-height: 45px;
  font-size: 22px;
  background: #ff1a4a;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 80%;
  margin: 0 2%;
}

.menu__item {
  padding: 1%;
  font-size: 18px;
  font-family: "Raleway-Bold", sans-serif;
  font-weight: 400;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: grey;
    }
  }
}

.full-menu-wrap {
  width: 100%;
  min-height: 300px;
  position: absolute;
  background: $mainActiveColor;
  z-index: 999;
  top: 100%;
  left: 0;
  list-style: none;
}

.full-menu {
  width: 80%;
  height: 100%;
  margin: auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
}

.full-menu-item {
  width: 27%;
  margin: 15px 5px;
  border-bottom: 1px silver solid;
  padding: 15px 5px;
}

.full-menu-link {
  color: white;
  text-decoration: none !important;

  &:hover {
    color: $mainColor;
  }
}

.full-menu-sub {
  margin: 0 20px;
  list-style: none;
}

.full-menu-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.full-menu-image {
  width: 20px;
  height: 20px;
  //background: $mainActiveColor;
  //color:  $mainActiveColor;
  filter: invert(12%) sepia(78%) saturate(4325%) hue-rotate(338deg) brightness(91%) contrast(92%);
}