.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 155px;

  &-wrapper {
    background: $main-color;
    height: 80px;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 790px) {
      display: none;
    }
  }

  &__item {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;


    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    color: $text-color;

    &:hover {
      color: $text-color;
    }
  }
}

.hamburger {
  cursor: pointer;

  &__icon {
    //filter: invert(99%) sepia(1%) saturate(2499%) hue-rotate(303deg) brightness(113%) contrast(100%);
  }
}

.menu-full {
  position: absolute;
  background: $main-color;
  width: 100%;
  height: 0;
  top: 100%;
  z-index: 99;
  padding: 0 20%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.35s ease;

  &.is-active {
    height: auto;
    transform: scaleY(1);
  }

  .block-menu {
    width: 22%;
    margin: 10px;

    &__title {
      font-weight: 700;
      font-size: 18px;
      line-height: 36px;
      color: $text-color;
    }
  }
}

.block-menu-list {
  &__link {
    color: $text-color;

    &:hover {
      color: $text-color;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
  }
}