.news-list {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 15px;

  &-wrap {
    display: flex;
    flex-direction: column;
  }

  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;

    .aside-sub-categories {
      width: 20%;
    }
  }

  &__item {
    width: 23.5%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: block;
    width: 100%;
    text-align: justify;
    padding: 5px 10px;
  }

  &__image {
    width: 90%;
    height: 200px;
    object-fit: contain;
  }
}