.news-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block-full__link {
  color: $mainActiveColor;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.news-index {

  &__wrap {
    width: 33%;
  }

  &__image-wrap {
    width: 100%;
    height: 200px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    min-height: 40px;
    text-align: center;
    font-weight: bold;
    color: $mainActiveColor;
    margin: 5px 0;
  }

  &__link {
    color: $mainActiveColor;

    &:hover {
      color: $mainColor;
    }
  }

  &__description {
    height: 150px;
  }
}