.order-list {
  margin: 40px 0;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

    &:nth-child(2n) {
      background: rgba(198, 198, 198, 0.3);
    }
  }

  &-header {
    border-bottom: 1px #C6C6C6 solid;
    font-size: 14px;
    line-height: 32px;
    color: #C6C6C6;
    font-weight: 400;
  }

  &-body {
    .order-list__date {
      font-weight: 700;
    }

    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
  }

  &__row {
    width: 20%;
    flex: 1 1 auto;

    @media (max-width: 790px) {
      width: 25%;
    }
  }

  &__count {
    @media (max-width: 790px) {
      display: none;
    }
  }
}