.page-title {
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;

  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &.is-column {
      @media (max-width: 790px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }

  &__link {
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    border-bottom: 1px solid #c6c6c6;
    text-decoration: none;

    &:hover {
      text-decoration: inherit;
      color: inherit;
    }
  }
}