.product-bonus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__count {
    background: $active-color;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-right: 20px;
    border-radius: 7px;
  }

  &__title {
  }
}