.promotion-list {
  display: flex;
  flex-direction: column;

  &__item {
    width: 100%;
    margin: 20px 0;
    border-radius: 25px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    border: 1px rgba(0, 0, 0, 0.1) solid;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: $active-color;
      transition: all 0.1s ease-in-out;
    }
  }

  &__image {
    object-fit: contain;
    width: 100%;
    padding: 5px;
    border-radius: inherit;
  }
}