.providers-wrap {
  width: 100%;
  margin: 20px 0 40px 0;
  padding: 0;
}

.homepage-providers {
  .card {
    border: 0;
  }

  &__title {
    font-weight: 700;
    text-transform: uppercase;
    margin: 10px 0;
    border-bottom: 3px #ff1a4a solid;
    display: inline-block;
    padding: 5px 0;
    font-size: 18px;
    width: auto;


    @media (max-width: 414px) {
      text-align: center;
    }
  }

  &__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    color: $mainColor;

    &:hover {
      color: $mainActiveColor;
    }

  }

  &__image {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }

  &__detail {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin: 5% 0 0 0;
  }
}


#multi-item-example {
  position: relative;

  .btn-nav {
    position: absolute;
    background: $mainActiveColor;
    color: whitesmoke;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;

    &:first-child {
      top: 30%;
      left: -5%;
    }

    &:last-child {
      top: 30%;
      right: -5%;
    }
  }
}