.social-wrap {
  width: 33%;

  .block-title {
    @media (max-width: 414px) {
      text-align: center;
    }
  }
}

.social {
  list-style: none;
}

.social-item__image-wrap {
  width: 100%;

  img {
    width: 100%;
  }
}

.social-item__title {
  text-align: center;
  margin: 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.social-item__link {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: $mainActiveColor;
  text-transform: uppercase;
}

.social-item__link-a {
  color: $mainActiveColor;
}
