.subscribe {
  margin: auto auto;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  &__label {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1 1 0;
    //flex-direction: row;
    //justify-content: space-between;
    //align-items: center;
  }

  &__input {
    padding: 5px;
    flex: 1 1 0;
    outline: 0;
    border: 0;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 0;
    border: 0;
    outline: 0 !important;
    margin-left: 2px;
    padding: 5px 10px;
    background: $active-color;
    color: $text-color;
    text-transform: uppercase;

    &:hover {
      background-color: $active-color-light;
    }

    i {
      margin-left: 10px;
    }
  }
}