mixin checkoutProductItem(item)
    li.light-checkout-list__item
        a(href="#" data-toggle="tooltip" rel="tooltip" data-product-id="50" data-placement="right" title="Удалить товар из корзины").clear-basket.js-remove-basket-item
            i.fas.fa-trash-alt
        img.light-checkout-list__image(src=item.image)
        .light-checkout-list__info
            .light-checkout-list__title
                a(href="/").light-checkout-list__link=item.name
            .light-checkout-list__article Артикул: !{item.article}
        .light-checkout-list__calc
            include ../include/block/product-calc