.checkout-form-variants {

  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 50%;
    background-color: white;
    transition: background-color 0.3s ease 0s;

    &:hover {
      background-color: $active-color;
    }
  }

  &__title {
  }

  &__icon {
  }

}