.checkout-form {
  margin-bottom: 40px;

  &-attention {
    background-color: white;
    border: 1px red solid;
    padding: 5px;
    margin: 15px 0;
    border-radius: 7px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 15px 0;
  }

  &__group-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;

    .checkout-form__label {
      //width: 49%;
      padding: 5px;
    }
  }

  &__input, &__textarea {
    color: black;
    border: 1px silver solid;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;

    &::placeholder {
      color: grey;
    }
  }

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .checkout-form__label-text {
      font-size: 12px;
      line-height: 24px;
      font-weight: 400;
      color: #c6c6c6;
    }


  }

  &__submit {
    margin: 0;
    margin-top: 20px;
  }

  .form-group {
    margin: 0;
  }

  &-label-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-promocode {
    color: $whatsapp-green;
    font-weight: bold;
  }
}