.App {
  width: 400px;

  .top {
    background: #00aa00;
    color: white;
    padding: 5px;
    text-align: center;
  }
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px silver solid;
  padding: 0;
  margin: 10px 0;

  p {
    padding: 0;
    margin: 3px 0;
  }
}

.item-toggle{
  border: 1px red solid;
  width: 20px;
  height: 20px;
  text-align: center;
}