extends include/layer

block contents
	.page-container
		.page
			ul.breadcrumbs
				li.breadcrumbs__item
					a(href="javascript:void(0);").breadcrumbs__link Главная
				li.breadcrumbs__item
					a(href="javascript:void(0);").breadcrumbs__link Корзина
				li.breadcrumbs__item.active
					a(href="javascript:void(0);").breadcrumbs__link Оформление заказа
			h1.page__title Оформление заказа
			.page__group-row