extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link Акции
            h1.page__title Акции и скидки
            .promotion-list
                a(href="#").promotion-list__item
                    img(src="./assets/images/promo.png").promotion-list__image
                a(href="#").promotion-list__item
                    img(src="./assets/images/promo.png").promotion-list__image
                a(href="#").promotion-list__item
                    img(src="./assets/images/promo.png").promotion-list__image
                a(href="#").promotion-list__item
                    img(src="./assets/images/promo.png").promotion-list__image
                a(href="#").promotion-list__item
                    img(src="./assets/images/promo.png").promotion-list__image