extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Авторизация
            form.site-form.auth-form
                h1.page__title Авторизация
                .site-form__item
                    label.site-form__label
                        input.site-form__input(type="text" name="email" placeholder="E-Mail")
                .site-form__item
                    label.site-form__label
                        input.site-form__input(type="password" name="password" placeholder="Пароль")
                .auth-form__controls
                    button(type="submit").btn-main Войти на сайт
                    a.auth-form__restore-link(href="/frontend/restore.html") Восстановить пароль
                    a.auth-form__restore-link(href="/frontend/signup.html") Зарегестрироваться
                .auth-form-social-container
                    .auth-form-social-title Войти через:
                    .auth-form-social
                        a(href="#").auth-form-social__item
                            img(src="./assets/images/vk.png").auth-form-social__image