extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link О компании
            h1.page__title О компании
            .about-statistic
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
                .about-statistic__item
                    .about-statistic__title 1 год на рынке
                    .about-statistic__sub-title работаем с 31.12.2020
            h1.title О нашем интернет-зоомагазине
            .about-text
                .slider
                    img(src="./assets/images/actions/1.jpeg")
                p Кстати, элементы политического процесса, вне зависимости от их<br>уровня, должны быть заблокированы в рамках своих собственных<br>рациональных ограничений.
                p Лишь базовые сценарии поведения пользователей заблокированы<br>в рамкахсвоих<br>собственных рациональных ограничений.
                p Равным образом, глубокий уровень погружения говорит о<br>возможностях формвоздействия.
                p Для современного мира глубокий уровень погружения<br>требует определения и уточнения новых предложений.
                p Ясность нашей позиции очевидна: понимание<br>сути ресурсосберегающих технологий, в своём<br>классическом представлении, допускает внедрение своевременного<br>выполнения сверхзадачи.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
                p Банальные, но неопровержимые выводы, а также представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть преданы социально-демократической анафеме.
