extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link Акции
            h1.page__title Акции
            ul.action-list
                li.action-list__item.is-square
                    .action-list__layer
                        .action-list__top-title Успевай
                        .action-list__title Дерево для<br> стройки
                        .action-list__do-action
                            .action-list__price
                                span.action-list__from от
                                span 6
                                span.action-list__value ₽
                    img.action-list__image(src="./assets/images/wood-build.png")
                li.action-list__item.is-square
                    .action-list__layer
                        .action-list__top-title Конкрус для профи
                        .action-list__title Купи продукцию<br>ВОЛМА и выиграй<br>крутой приз!
                        .action-list__do-action
                            a(href="javascript:void(0);").action-list__link Подброности
                    img.action-list__image(src="./assets/images/plast.png")
                li.action-list__item.is-rectangle
                    .action-list__layer
                        .action-list__top-title BOSCH GBH 240 (2.7 Дж)
                        .action-list__title Купи Bosch<br>и е… перфорируй!
                        .action-list__do-action
                            .action-list__price
                                span 7 935
                                span.action-list__value ₽
                    img.action-list__image(src="./assets/images/banner-index.png")
                li.action-list__item.is-square(style="color:white;")
                    .action-list__layer
                        .action-list__top-title Выгода здесь
                        .action-list__title Мини-парник<br>с 12 торфяными<br>горшочками
                        .action-list__do-action
                            .action-list__price
                                span 69
                                span.action-list__value ₽
                    img.action-list__image(src="./assets/images/container-green.png")
                li.action-list__item.is-square
                    .action-list__layer
                        .action-list__top-title Вместе дешевле!
                        .action-list__title Все для нового<br>дачного сезона
                        .action-list__do-action
                            a(href="javascript:void(0);").action-list__link Подбронее
                    img.action-list__image(src="./assets/images/little.png")