extends include/layer

block contents
    .page-container
        .page.detail-action
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Акции
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link BOSCH GBH 240 (2.7 Дж)
            .page__group-row
                .page__left
                    img.detail-action__image(src="./assets/images/banner-index.png")
                .page__right
                    .detail-action__top-title BOSCH GBH 240 (2.7 Дж)
                    .detail-action__title Купи Bosch и е… перфорируй!
                    .detail-action__price 7 935 ₽
                    .detail-action__text
                        p Задача организации, в особенности же рамки и место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Товарищи! постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития.
                        p Разнообразный и богатый опыт укрепление и развитие структуры представляет собой интересный эксперимент проверки модели развития. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение соответствующий условий активизации.
        h1.page__title Другие предложения
        ul.action-list.mb-4
            li.action-list__item.is-square
                .action-list__layer
                    .action-list__top-title Успевай
                    .action-list__title Дерево для<br> стройки
                    .action-list__do-action
                        .action-list__price
                            span.action-list__from от
                            span 6
                            span.action-list__value ₽
                img.action-list__image(src="./assets/images/wood-build.png")
            li.action-list__item.is-square
                .action-list__layer
                    .action-list__top-title Конкрус для профи
                    .action-list__title Купи продукцию<br>ВОЛМА и выиграй<br>крутой приз!
                    .action-list__do-action
                        a(href="javascript:void(0);").action-list__link Подбронее
                img.action-list__image(src="./assets/images/plast.png")