extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link Доставка и оплата
            h1.page__title Личный кабинет

            .page__group-row
                .page__left.w-25
                    .profile-sections.nav.nav-tabs#proflieTabs(role='tablist')
                        a.profile-sections__item.active#home-tab(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true')
                            i.fas.fa-user
                            .profile-sections__title Настройки
                        a.profile-sections__item#profile-tab(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false')
                            i.fas.fa-hand-holding-usd
                            .profile-sections__title Заказы
                        a.profile-sections__item#favorite-tab(data-toggle='tab', href='#favorite', role='tab', aria-controls='profile', aria-selected='false')
                            i.fas.fa-heart
                            .profile-sections__title Избранное
                .page__right.w-75
                    .tab-content
                        #home.tab-pane.fade.show.active
                            h2.page__title Настройки пользователя
                            form.site-form.profile-form
                                .page__left
                                    .site-form__item
                                        label.site-form__label(for="site-form-email") Адрес вашей электронной почты
                                        input.site-form__input#site-form-email(type="text" placeholder="Адрес вашей электронной почты")
                                    .site-form__item
                                        label.site-form__label(for="site-form-password") Новый пароль
                                        input.site-form__input#site-form-password(type="password" placeholder="Пароль")
                                .page__right
                                    .site-form__item
                                        label.site-form__label(for="site-form-avatar") Аватарка
                                        input.site-form__input#site-form-avatar(type="file")
                        #profile.tab-pane.fade
                            .profile-orders
                                .profile-orders__row.profile-orders__header
                                    .profile-orders__number №
                                    .profile-orders__date Дата покупки
                                    .profile-orders__status Статус заказа
                                    .profile-orders__summary Сумма заказа
                                    .profile-orders__action
                                .profile-orders__row
                                    .profile-orders__number 1
                                    .profile-orders__date 01.01.2020
                                    .profile-orders__status Заказ формируется
                                    .profile-orders__summary 2 700 Р
                                    .profile-orders__action
                                        a.profile-orders__link(href="#") Подробнее
                                .profile-orders__row
                                    .profile-orders__number 2
                                    .profile-orders__date 01.01.2020
                                    .profile-orders__status Заказ формируется
                                    .profile-orders__summary 3 100 Р
                                    .profile-orders__action
                                        a.profile-orders__link(href="#") Подробнее
                                .profile-orders__row
                                    .profile-orders__number 3
                                    .profile-orders__date 01.01.2020
                                    .profile-orders__status Заказ формируется
                                    .profile-orders__summary 15 700 Р
                                    .profile-orders__action
                                        a.profile-orders__link(href="#") Подробнее
                        #favorite.tab-pane.fade
                            .profile-favorit-list
                                .profile-favorit-list__item
                                    .profile-favorit-list__image
                                        img(src="./assets/images/product.png")
                                    .profile-favorit-list__info
                                        .profile-favorit-list__title Royal Canin Maxi Puppy 12кг, корм для щенков крупной породы
                                        .profile-favorit-list__group-row
                                            .profile-favorit-list__article KKOLEQ
                                            .profile-favorit-list__price 1 500 P
                                    .profile-favorit-list__action
                                        .profile-favorit-list__remove.js-remove-favorit(data-product-id="11")
                                            i.fas.fa-heart-broken