extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link Каталог товаров
            h1.page__title Каталог товаров
            .catalog-categories-container
                include include/block/catalog-filter
                ul.catalog-categories
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        .catalog-categories-list
                            .catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            .catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            .catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            .catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            .catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            .catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-brick.png")
                            .catalog-categories__name Кирпичи
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Строительный
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Ручной
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Печной
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Силикатный
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки
                    li.catalog-categories__item
                        .catalog-categories__header
                            .catalog-categories__icon
                                img(src="./assets/images/icon-block.png")
                            .catalog-categories__name Блоки
                        ul.catalog-categories-list
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Газобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамические
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Керамзитобетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Бетонные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Фундаментные
                            li.catalog-categories-list__item
                                a(href="javascript:void(0);").catalog-categories-list__link Сетки для кладки