extends include/layer

include mixin/addBasket

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link Кирпичи
            h1.page__title Кирпичи
            .catalog-container
                include include/block/catalog-filter
                .catalog-wrap
                    include include/block/catalog-sort
                    ul.catalog
                        li.catalog__item
                            .catalog__discount
                                span -15%
                            img.catalog__image(src="./assets/images/product.jpg")
                            .catalog__title Кирпич М-150 (Стройкерамика) красный 0,7НФ /616
                            ul.light-properties
                                li.light-properties__item
                                    .light-properties__label Размер
                                    .light-properties__value 250*120*65мм
                                li.light-properties__item
                                    .light-properties__label Артикул
                                    .light-properties__value 0525052
                            .catalog__price-group
                                .catalog__old-price 9.00
                                .catalog__new-price 2.25
                                .catalog__rate ₽/шт
                            +addBasket()
                        li.catalog__item
                            .catalog__discount
                                span -15%
                            img.catalog__image(src="./assets/images/product.jpg")
                            .catalog__title Кирпич М-150 (Стройкерамика) красный 0,7НФ /616
                            ul.light-properties
                                li.light-properties__item
                                    .light-properties__label Размер
                                    .light-properties__value 250*120*65мм
                                li.light-properties__item
                                    .light-properties__label Артикул
                                    .light-properties__value 0525052
                            .catalog__price-group
                                .catalog__old-price 9.00
                                .catalog__new-price 2.25
                                .catalog__rate ₽/шт
                            +addBasket()
                        li.catalog__item
                            .catalog__discount
                                span -15%
                            img.catalog__image(src="./assets/images/product.jpg")
                            .catalog__title Кирпич М-150 (Стройкерамика) красный 0,7НФ /616
                            ul.light-properties
                                li.light-properties__item
                                    .light-properties__label Размер
                                    .light-properties__value 250*120*65мм
                                li.light-properties__item
                                    .light-properties__label Артикул
                                    .light-properties__value 0525052
                            .catalog__price-group
                                .catalog__old-price 9.00
                                .catalog__new-price 2.25
                                .catalog__rate ₽/шт
                            +addBasket()