extends include/layer

block contents
    .page-container
        .page
            ul.breadcrumbs
                li.breadcrumbs__item
                    a(href="javascript:void(0);").breadcrumbs__link Главная
                li.breadcrumbs__item.active
                    a(href="javascript:void(0);").breadcrumbs__link Кирпичи
            h1.page__title Кирпичи
            .catalog-container
                include include/block/catalog-filter
                .catalog-wrap
                    include include/block/catalog-sort
                    ul.catalog
                        li.catalog__item
                            .catalog-actions
                                .catalog-favorite.js-toggle-class(data-target=".fas.fa-heart").js-add-favorite
                                    i.far.fa-heart
                                .catalog-compaare.js-toggle-class(data-target=".fas.fa-balance-scale-right").js-add-compare
                                    i.fas.fa-balance-scale-right
                            .catalog__discount
                                span -15%
                            img.catalog__image(src="./assets/images/product.jpg")
                            .catalog__title Кирпич М-150 (Стройкерамика) красный 0,7НФ /616
                            ul.light-properties
                                li.light-properties__item
                                    .light-properties__label Размер
                                    .light-properties__value 250*120*65мм
                                li.light-properties__item
                                    .light-properties__label Артикул
                                    .light-properties__value 0525052
                            .catalog__price-group
                                .catalog__old-price 9.00
                                .catalog__new-price 2.25
                                .catalog__rate ₽/шт
                            include include/block/product-calc
                    ul.pagination
                        li.prev.disabled
                            span «
                        li.active
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=1', data-page='0') 1
                        li
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=2', data-page='1') 2
                        li
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=3', data-page='2') 3
                        li
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=4', data-page='3') 4
                        li
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=5', data-page='4') 5
                        li
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=6', data-page='5') 6
                        li
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=7', data-page='6') 7
                        li
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=8', data-page='7') 8
                        li
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=9', data-page='8') 9
                        li
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=10', data-page='9') 10
                        li.next
                            a(href='/catalog/?id=dla-vzroslyh-ot-goda-2&page=2', data-page='1') »
