extends include/layer

block contents
    .page-container
        include include/block/slider
        include include/block/category-slider
        include include/block/vitrine
        include include/block/vitrine2
        include include/block/profit
        include include/block/offers
        include include/block/brands
        include include/block/instagram