doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://kit.fontawesome.com/33cf5fcfbe.js" crossorigin="anonymous")

        title Вёрстка
    body
        ul
            li
                a(target="_blank" href="home.html") Главная страница
            li
                a(target="_blank" href="404.html") 404
            li
                a(target="_blank" href="action.html") Акции
            li
                a(target="_blank" href="action_detail.html") Детальный просмотр акции
            li
                a(target="_blank" href="cabinet.html") Личный кабинет
            li
                a(target="_blank" href="order_detail.html") Просмотр заказа
            li
                a(target="_blank" href="contacts.html") Контактная информация
            li
                a(target="_blank" href="basket.html") Корзина
            li
                a(target="_blank" href="page-delivery.html") Доставка и оплата
            li
                a(target="_blank" href="about.html") О нас
            li
                a(target="_blank" href="vacancy.html") Вакансии
            li
                a(target="_blank" href="checkout.html") Оформление заказа
            li
                | Каталог
                ul
                    li
                        a(target="_blank" href="catalog.html") Каталог
                    li
                        a(target="_blank" href="product.html") Детальная карточка товара
            li
                | Акции и скидки(новая версия)
                ul
                    li
                        a(target="_blank" href="promotion.html") Список
                    li
                        a(target="_blank" href="promotion_detail.html") Детальный просмотр
            li
                a(target="_blank" href="brandpage.html") Страница компании
            li
                a(target="_blank" href="search.html") Поиск
            li
                | Новости
                ul
                    li
                        a(target="_blank" href="news.html") Список
                    li
                        a(target="_blank" href="news_detail.html") Детальная новость