extends include/layer

block contents
	.page-container
		.news-list-wrap
			.news-list-container
				include include/block/aside-categories
				ul.news-list
					li.news-list__item
						img(src="./assets/images/news-item.webp").news-list__image
						a.news-list__link Kolor
					li.news-list__item
						img(src="./assets/images/news-item.webp").news-list__image
						a.news-list__link Kolor 2
					li.news-list__item
						img(src="./assets/images/news-item.webp").news-list__image
						a.news-list__link Kolor 3
					li.news-list__item
						img(src="./assets/images/news-item.webp").news-list__image
						a.news-list__link Kolor 4