extends include/layer

block contents
	.page-container
		.news-detail
			ul.breadcrumbs
				li.breadcrumbs__item
					a(href="javascript:void(0);").breadcrumbs__link Главная
				li.breadcrumbs__item.active
					a(href="javascript:void(0);").breadcrumbs__link Кирпичи
			h1.page__title Детальный просмотр новости
			.mews-summary
				.mews-summary__item
					.mews-summary__key Дата публикации
					.mews-summary__value 05.11.2020
				.mews-summary__item
					.mews-summary__key Рубрика
					.mews-summary__value Новости
				.mews-summary__item
					.mews-summary__key Автор
					.mews-summary__value Михаэль