table(style="max-width:600px; width:100%; display:block; margin:auto; font-size:18px; text-align:center; margin-top:40px;")
    tbody(style="display:block; width:100%;")
        tr
            td(style="width:600px; height: 100px; background:#2d0c03;")