doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://kit.fontawesome.com/33cf5fcfbe.js" crossorigin="anonymous")
        link(rel="stylesheet" href="./assets/css/style.min.css")

        title Вёрстка
    body
        include header
        block contents
        include footer
        include block/modal/signup
        include block/modal/signin
        //include block/notify
        script(src="./assets/js/frontend-core.min.js")
