@import "modules/init";

@import "include/variables";
@import "include/common";
@import "include/custom";
@import "include/buttons";
@import "include/forms";

@import "block/left-sidebar";
@import "block/search-admin";
@import "block/menu";
@import "block/statistic";
@import "block/fast-links";
@import "block/notify";
@import "block/todo";
@import "block/todo-form";
@import "block/stock-out";
@import "block/buyers-group-buy";
@import "block/pagination";
@import "block/month-stat";
@import "block/backend-preloader";
@import "block/statistic-summary";
@import "block/now-order-delivery";
@import "block/info-card";
@import "block/bottom-menu";
@import "block/cdn-resource-list";
@import "block/media-browser";

// каталог
@import "block/catalog-fill-vendor";
@import "block/set-price";
@import "block/list-breeds";

//заказы
@import "block/order-items-list";
@import "block/order-delivery-info";

// меню модулей
@import "block/module-menu";

@import "block/filter-delivery-dates";

//
@import "block/list-finds";
@import "block/form-finds";

// Логистика
@import "block/logistic";
@import "block/logistic-list";

@import "block/backend-order-tracking";
@import "block/order-tracking";

// калькулятор на странице оператора
@import "block/calc";
@import "block/calc-placement";
@import "block/calc-delivery-services";
@import "block/calc-products";
@import "block/calc-result";
@import "block/info-panel";
@import "block/delivery-variants";
@import "block/choose-address";
@import "block/add-new-line";

//повторить заказ
@import "block/admin-repeat-order";
@import "block/repeat-order-list";
@import "block/repeat-order-products";
@import "block/repeat-order-form";
@import "block/skip-icon";
// прайс-листы
@import "block/price-list";

// panel menu
@import "block/panel-menu";
// marketplace
@import "block/marketplace";

/*-----------------------------------------------------------*/

.content {
  width: 100%;
}

.hidden {
  display: none;
}

.new-design-form {
  font-size: 14px;
  padding: 0 10px;

  .form-control {
    font-size: 14px;
    line-height: 1;
    padding: 4px;
    height: auto;
    //height: calc(1.1em + 0.75rem + 2px);
  }

  .control-label {
    font-weight: bold;
    margin: 0;
  }
}