header.header
    .header__content
        .header__menu.menu
            .menu__icon.icon-menu
                span
                span
                span
            nav.menu__body
                ul.menu__list
                    li
                        a.menu__link(href="#") Works
                    li
                        a.menu__link(href="#") Blog
                    li
                        a.menu__link(href="#") Contacts